<div class="student performance">
  <div class="filters">
    <div class="performance-scale">
      {{grading-scale-legend}}
    </div>
  </div>
  {{student.class.analytics.gru-performance-table
    assessments=assessments
    collectionPerformanceSummaryItems=collectionPerformanceSummaryItems
  }}
</div>