<nav class="navbar navbar-default">
    <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand home-link"}} Gooru {{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                {{#link-to 'sign-in' class="navbar-link sign-in-link"}} {{t "common.signIn"}} {{/link-to}}
            </li>
        </ul>
    </div>
</nav>


