<footer class="app-footer">
    <div class="container">
        <div class="row ma-md-8 ma-sm-8">
            <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 pa-md-10 pa-sm-10 footercolum">
                <div class="imgLogo"></div>
                <p>{{t "footer.footerDescription"}}</p>
            </div>
            <div class="col-md-2 col-sm-2 footercolum">
                <h4></h4>
            </div>
            <div class="col-md-2 col-sm-2 footercolum"></div>
            <div class="col-md-2 col-sm-2 footercolum"></div>
            <div class="col-md-1 col-sm-1 footercolum"></div>
        </div>
    </div>
</footer>