<div class="collection-results-standards">
  {{#each fillStandardsTooltipSection as |standard|}}
    <div class="uc-search-standard">
      <div data-html="true" class="label" data-toggle="tooltip" data-placement="bottom" title="{{standard.description}}">
        <button class="btn-standard btn btn-primary truncate btn-xs">{{standard.code}}</button>
      </div>
    </div>
  {{/each}}
  {{#if quantityTooltips}}
      <a data-html="true" class="more-standards" data-toggle="tooltip" data-placement="bottom"
         title="{{{tooltipStandards}}}">+{{quantityTooltips}}</a>
  {{/if}}
</div>
