<div class="collection-results-standards">
  {{#each fillStandardsTooltipSection as |standard|}}
    <div class="uc-search-standard">
      <div class="label" data-toggle="tooltip" data-placement="bottom" title="{{standard.description}}">
        <button class="btn-standard btn btn-primary truncate btn-xs">{{standard.name}}</button>
      </div>
    </div>
  {{/each}}
  {{#if quantityTooltips}}
    <div data-html="true" data-toggle="tooltip" data-placement="bottom"
         title="{{tooltipStandards}}">
      <a class="tooltip">+{{quantityTooltips}}</a>
    </div>
  {{/if}}
</div>
