<div class="sign-up-input-group col-width-fifty date">
  {{input id="datepicker"
      value=model.dateOfBirth
      placeholder="Birthday"
      readonly=true
      class="sign-up-form-control"}}
    <div class="input-group-addon">
        <span class="Uc-gooruCalendarIcon"></span>
    </div>
</div>

