<div class="input-group date">
  {{input id="datepicker"
      value=model.dateOfBirth
      placeholder="Birthday"
      readonly=true
      class="form-control"}}
    <div class="input-group-addon">
        <span class="Uc-gooruCalendarIcon"></span>
    </div>
</div>

