<div class="input-group datepicker">
  {{input
      placeholder=placeholder
      value=selectedDate
      readonly=true
      class="form-control datepicker"}}
  <span class="input-group-btn">
    <button class="datepicker-icon btn btn-default" type="button"></button>
  </span>
</div>