<div class="input-group datepicker">
  {{input id="datepicker"
      placeholder=placeholder
      readonly=true
      class="form-control"}}
  <span class="input-group-btn">
    <button class="datepicker-icon btn btn-default" type="button"></button>
  </span>
</div>