<div class="switch">
    <a {{action 'selectOption'}}>
      <input type="checkbox" data-toggle="toggle" data-on={{optionA.label}} data-off={{optionB.label}} data-width="61" data-height="34">
    </a>
</div>
