<input type="hidden" id="valueToCopy" value={{value}}/>
<button class="copy-btn" data-toggle="tooltip" title="{{tooltip}}" data-clipboard-target="#valueToCopy">
  {{gru-icon name='content_copy'}}
</button>