<strong>{{title}}</strong>
<div class="content">
    <span>{{body}}</span>
    <div class="cta">
        <a class="btn btn-primary" target="_blank" href={{cta-link}}>{{cta-text}}</a>
    </div>
</div>
