{{#if user.avatarUrl }}
        <span>
            <img class="avatar" src="{{user.avatarUrl}}">
        </span>
    {{else}}
        <span>
            <img class="avatar" src="assets/gooru/profile.png">
        </span>
    {{/if}}
<span class="user-name">
  <p class="truncate">{{user.username}}</p>
</span>

