<div class="btn-group" role="group">
  {{#each items as |item|}}
    <button class="btn btn-info {{itemClassName}} breadcrumb-item" {{action 'selectItem' item}}>{{{item.label}}}</button>
  {{/each}}
</div>
