<div class="resource-results">
  <div class="text-center">
    <div class="results col-md-10">
      {{#if resourceResults.collections}}
        {{#each resourceResults.collections as |collection|}}
          {{cards.gru-resource-card resource=collection}}
        {{/each}}
      {{else}}
        {{partial 'partials/no-results-found'}}
      {{/if}}
    </div>
  </div>
</div>