<div class="emotion-picker">
  <ul class="emotions-list">
    {{#each emotionValues as |emotion|}}
      <li>
        <div title="{{t (concat 'common.emotions.emotion-' emotion.value) }}"
             data-toggle="tooltip"
             data-placement="bottom"
             class="emotion" {{action 'setEmotion' emotion.value}}>
             {{svg-sprite sprite=(concat '#' emotion.unicode)}}
        </div>
             
      </li>
    {{/each}}
  </ul>
</div>
