<div class="optionA"><span>{{optionA.label}}</span></div>
<div class="switch"><a {{action 'selectOption'}}> <input type="checkbox" class="js-switch" checked/></a></div>
<div class="optionB active"><span>{{optionB.label}}</span></div>