{{#if showPullUp}}
<div class="overlay" {{action 'onPullUpClose'}}></div>
{{/if}}
<div>
      {{yield header}}
    <div class="pullup-close pull-right" {{action 'onPullUpClose'}}>
      {{gru-icon name='ic_close'}}
      <div>Close</div>
    </div>
  </div>
