<div class="emotion-picker">
  <ul class="emotions-list">
    {{#each emotionValues as |value|}}
      <li>
        <div title="{{t (concat 'common.emotions.emotion-' value) }}"
             data-toggle="tooltip"
             data-placement="bottom"
             class="emotion emotion-{{value}}" {{action 'setEmotion' value}}></div>
      </li>
    {{/each}}
  </ul>
</div>
