    <li class='scoreSummary'>
        <p>Scores</p>
        <div class="description">
            <div class="radial-progress">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                    </div>
                </div>
            </div>
            <p>70%</p>
        </div>
    </li>
    <li class="completionSummary">
        <p>Scores</p>
        <div class="description">
            <div class="radial-progress">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                        <div class="fill fix"></div>
                    </div>
                </div>
            </div>
            <p>13/50</p>
        </div>
    </li>
    <li class="timeSpentSummary">
        <p>Time spent</p>
        <p>3h</p>
    </li>
    <li class="reactionSummary">
        <div class="description">
            <p>reactions</p>
            <span></span>
        </div>
    </li>
    <li class="attemptSummary">
        <div class="description">
            <p>attempts</p>
            <p>5</p>
        </div>

    </li>
