<ul class="view-layout-list">
  {{#each viewLayouts as |viewLayout|}}
      <li class="view-option {{if viewLayout.isActive 'active' ''}}">
        <span>{{fa-icon icon=viewLayout.icon}}</span>
      </li>
  {{/each}}
</ul>
