<div class="roleOption">
    <div class="teacherRoleImage"></div>
    <div class="roleLabel">Teacher</div>
    <div class="roleRadioButton">
        <input type="radio" name="roleOption" id="teacherRadioButton" tabindex="0" {{action "checkRoleOption" "teacher" preventDefault=false}}>
    </div>
</div>
<div class="roleOption">
    <div class="studentRoleImage"></div>
    <div class="roleLabel">Student</div>
    <div class="roleRadioButton">
        <input type="radio" name="roleOption" id="studentRadioButton" tabindex="0" {{action "checkRoleOption" "student" preventDefault=false}}>
    </div>
</div>
<div class="roleOption">
    <div class="parentRoleImage"></div>
    <div class="roleLabel">Parent</div>
    <div class="roleRadioButton">
        <input type="radio" name="roleOption" id="parentRadioButton" tabindex="0" {{action "checkRoleOption" "parent" preventDefault=false}}>
    </div>
</div>
<div class="roleOption">
    <div class="otherRoleImage"></div>
    <div class="roleLabel">Other</div>
    <div class="roleRadioButton">
        <input type="radio" name="roleOption" id="otherRadioButton" tabindex="0" {{action "checkRoleOption" "other" preventDefault=false}}>
    </div>
</div>