<div class="subject-dropdown">
  {{app-dropdown
    placeholder=(t "subject-dropdown.placeholder")
    prompt=(t "subject-dropdown.prompt")
    items=dropdownItems
    multiple=true
    onChangeAction="onChange"
    btn-group-size=btn-group-size}}
</div>
