// Variables
// --------------------------------------------------

//== Primary Brand Colors

//** Dark
$dark-100: #7c7c7c !default;
$dark-200: #6b546a !default;
$dark-300: #4a4a4a !default;

//** Light
$light-100: #f8f6f8 !default;
$light-200: #efecee !default;
$light-300: #e7e2e7 !default;
$light-400: #b8bfc4 !default;

//** Sea green
$green-100: #c1e7d9 !default;
$green-200: #b9dec0 !default;
$green-300: #65d0a9 !default;
$green-400: #4cb992 !default;
$green-500: #3d9777 !default;

$white: #fff;
