.gru-accordion {
  $locate-icon: 18px;
  $icon-side: 28px;

  ol .panel {
    position: relative;
  }

  ol, .panel-group {
    list-style: none;
    margin: 0;
    padding: 0;

    .panel {
      border: 0 none;
      box-shadow: none;
      border-radius: 0;
      background-color: transparent;

      & + .panel {
        margin-top: 0;
      }

      &.selected {
        .location-marker {
          display: block;
        }
      }

      .panel-heading {
        padding: 15px 0 0 0;
        margin: 0 0 15px 0;
        background-color: transparent;
        border: 0 none;

        .panel-title {
          > a:link, a:active {
            text-decoration: none;
          }
        }
      }

      .panel-collapse {

        .panel-body {
          border-top: 0 none;
          padding: 0;
        }
      }
    }
  }

  .location-marker {
    display: none;
    position: absolute;
    left: 0;
    top: 9px;
    padding-right: 10px;

    @media (min-width: $screen-md) {
      left: -45px;
    }

    > .icon-wrapper {
      background-color: $dark-300;
      line-height: 1;
      width: $icon-side;
      height: $icon-side;
      border-radius: 3px;

      i {
        color: $white;
        font-size: $locate-icon;
        line-height: $icon-side;
        margin-left: 5px;
      }
    }

    > .arrow-right {
      width: 0;
      height: 0;
      border-top: 0.4rem solid transparent;
      border-bottom: 0.4rem solid transparent;
      border-left: 0.8rem solid $dark-300;
      position: absolute;
      right: 0;
      top: 34%;
    }
  }
}
