.gru-accordion {

  ol, .panel-group {
    list-style: none;
    margin: 0;
    padding: 0;

    .panel {
      border: 0 none;
      box-shadow: 0 0 0 transparent;

      & + .panel {
        margin-top: 0;
      }

      .panel-heading {
        padding: 15px 0 0 0;
        margin: 0 0 15px 0;
        background-color: transparent;
        border: 0 none;

        .panel-title {
          > a:link, a:active {
            text-decoration: none;
          }
        }
      }

      .panel-collapse {

        .panel-body {
          border-top: 0 none;
          padding: 0;
        }
      }
    }
  }
}
