{{#each visibleTags as |taxonomyTag|}}
  {{taxonomy.gru-taxonomy-tag model=taxonomyTag onRemove=(action 'removeTag' taxonomyTag)}}
{{/each}}
{{#if nonVisibleTags}}
  <button class="non-visible-tags">
    {{nonVisibleTags}}+
    {{#tooltip-on-element event='click' side="right" class="taxonomy gru-taxonomy-tag-list tags-tooltip"}}
      {{#each tags as |taxonomyTag|}}
        {{taxonomy.gru-taxonomy-tag model=taxonomyTag onRemove=(action 'removeTag' taxonomyTag)}}
      {{/each}}
    {{/tooltip-on-element}}
  </button>
{{/if}}
