{{#each visibleTags as |taxonomyTag|}}
  {{taxonomy.gru-taxonomy-tag model=taxonomyTag onRemove=(action 'removeTag' taxonomyTag)}}
{{/each}}
{{#if nonVisibleTags}}
  <button class="non-visible-tags">
    <span>{{nonVisibleTags}}+</span>
    {{!--

    {{#tooltip-on-element event='click' side="right" class=(if isInCard 'in-card tags-tooltip' 'tags-tooltip')}}
      {{#each tags as |taxonomyTag|}}
        {{taxonomy.gru-taxonomy-tag model=taxonomyTag onRemove=(action 'removeTag' taxonomyTag)}}
      {{/each}}
    {{/tooltip-on-element}}

    --}}
  </button>
{{/if}}

<div class="all-tags">
  {{#each tags as |taxonomyTag|}}
    {{taxonomy.gru-taxonomy-tag model=taxonomyTag onRemove=(action 'removeTag' taxonomyTag)}}
  {{/each}}
</div>
