{{#each visibleTags as |taxonomyTag|}}
  {{taxonomy.gru-taxonomy-tag model=taxonomyTag hasTooltip=hasTooltips onRemove=(action 'removeTag' taxonomyTag)}}
{{/each}}

{{#if nonVisibleTags}}
  <button class="non-visible-tags">
    <span>{{nonVisibleTags}}+</span>
  </button>
  <div class="all-tags">
    {{#each tags as |taxonomyTag|}}
      {{taxonomy.gru-taxonomy-tag
      model=taxonomyTag
      hasTooltip=false
      onRemove=(action 'removeTag' taxonomyTag)
      }}
      {{#if showDescription}}
        <div class="panel panel-default description-tag">
            <div class="panel-body">
              {{truncate text=taxonomyTag.data.title maxLength=80}}
            </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
