.content.questions.edit {

  .standards {
    .title {
      display: block;
    }
  }
  .tags {
    margin: 10px 0px;
  }

  .content.gru-image {
    margin-top: 35px;
    max-height: 150px;
    max-width: 125px;
    img {
      margin: 0px 5px;
      padding: 5px 0px;
      width: calc(100% - 10px);
      max-height: 150px;
    }
  }
}
