.gru-questions-edit{
  div.title-section{
   display:flex;
    .title,.question-types{
      width: 49%;
    }
    .title{
      label{
        width: 100%;
      }
    }
    .question-types{
      .btn-group{
        display: block;
        margin-top: 10px;
        .dropdown-toggle{
          background-color:$blue-300;
        }
      }
    }
  }
  label {
    .title, b,.btn-empty {
      display: block;
    }
    b {
      font-size: $font-size-large;
      font-weight: normal;
    }
  }
  .question-text{
    .panel-body{
      min-height: 184px;
    }
  }
  textarea{
    resize: none;
  }
  .missing-correct-answer {
    color: $brand-danger;
  }
}
