.content.questions.gru-question-play {
  .player {
    margin: 120px 10px 10px 10px;
    .gru-question-viewer{
        .question-panel,.answers-panel{
          width: 100%;
          margin-left: 0;
          @media (min-width: $screen-md) {
            margin-left: 16px;
            width: 47%;
          }
        }
      .answers-panel{
        .actions, p.instructions{
          display: none;
        }
      }
    }
  }
}
