<div class="form-group">
  {{datepicker-field
    onSelectDateAction=(action 'setValue')
    placeholder=placeholder
    selectedDate=selectedDate
    class=class}}
    <div class="error-messages">
      {{#if showMessage}}
          <span class="error">
            {{v-get model valuePath 'message'}}
          </span>
      {{/if}}

      {{#if showDatesMessage}}
          <span class="error dates-error">
            {{errorDatesMessage}}
          </span>
      {{/if}}
    </div>
</div>
