.reports.assessment.gru-learning-target {
  .header-content{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid $color-gray-lighter-11;
    .standard{
      width:10%;
      min-width: 75px;
    }
    .questions{
      width:26%;
      min-width: 110px;
    }
    .learning-target-description{
      flex:1;
    }
    .score {
      width: 5em;
      position: relative;
      div{
        padding:0;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -0.5em;
      }
    }


    .standard, .learning-target-description {
      border-right:  1px solid $color-gray-lighter-11;
      span{
        padding: 10px 0 10px 0;
      }
    }
    .learning-target-description{
      width: 60%;
    }
  }
  .standard, .learning-target-description,.questions,.resource-cards-section{
    padding: 5px 10px 5px 10px ;
    > *{
      display: block;
    }
    strong{
      font-size: $font-size-small;
      font-weight: normal;
    }
  }
  .resource-cards-section{
    > *{
      padding:10px;
    }
  }
}
