.reports.assessment.gru-questions .summary-report-questions {
  .questions-header {
    text-align: $menu-float-dir;
    margin-right: 75px;
    margin-top: 10px;

    .title {
      float: $tab-float-dir;
      margin: 0 20px 10px 0;

      h4 {
        margin-top: 0;
        margin-left: 21px;
      }
    }

    .btn-group {
      button {
        margin: 0 2px 0 0;
        border-radius: 10px;
        @media (max-width: $screen-xs) {
          padding: 6px 10px;
        }
      }
    }

    .summary-report-btn {
      border: 1px solid #b8bfc4;
      border-radius: 15px;
      background: #b8bfc4;

      .performance {
        color: black;
        height: 20px;
        line-height: 9px;
        background-color: #b8bfc4;
      }

      .correct-answer {
        color: black;
        height: 20px;
        line-height: 9px;
        background-color: #b8bfc4;
      }

      .btn-primary {
        background: #ffffff;
      }
    }
  }

  .score-change-container {
    width: 36%;
    float: $menu-float-dir;
    margin-top: 15px;
    .change-score {
      padding: 4px 16px 4px 16px;
      border-radius: 5px;
    }
    .confirm {
      padding: 4px 16px 4px 16px;
      border-radius: 5px;
      margin-left: 25px;
    }

    .cancel {
      padding: 4px 9px 4px 9px;
      border-radius: 5px;
    }
  }

  table {
    width: 100%;
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0px 0 40px;
    display: block;
    clear: both;
    @media (min-width: $screen-md) {
      padding: 0px 15px 40px;
    }

    th {
      color: $gray-base;
      font-size: $font-size-h6;
      font-weight: normal;
    }

    td,
    th {
      height: 30px;
      text-align: center;
      border-bottom: 1px solid $gray-lighter;
    }

    th.number {
      width: 2%;
    }

    th.question {
      width: 25%;
    }

    th.answer {
      width: 36%;
    }

    th.report,
    th.score {
      width: 12%;
    }

    th.time-spent {
      width: 15%;
    }

    th.reaction {
      width: 12%;
    }

    th.correct-answer {
      width: 36%;
    }

    .question-text {
      .text {
        word-wrap: break-word;
        overflow: auto;
        max-width: 18em;
        display: block;
        @media (max-width: $screen-sm) {
          max-width: 10em;
        }
      }

      img {
        max-height: 100px;
        margin: 5px 0;
      }
    }

    .question-score span {
      .mdi {
        font-size: $font-size-h3;
      }
    }

    .question-score span.correct {
      color: $brand-success;

      i {
        background: url("gooru/images/correct-answer.svg");
        width: 24px;
        height: 14px;
        display: inline-flex;
      }
    }

    .question-score span.incorrect {
      color: $brand-incorrect;

      i {
        background: url("gooru/images/wrong-answer.svg");
        width: 14px;
        height: 14px;
        display: inline-flex;
      }
    }

    .question-score span.skipped {
      color: $gray-icon;

      i {
        display: inline-flex;
        margin-right: 67px;
      }
    }

    .question-reaction div {
      margin: 10px auto;
    }

    .question-report a {
      color: $gray;
      height: 23px;
      display: block;
    }

    .top-left {
      text-align: $tab-float-dir;
      vertical-align: top;
      padding: 10px 15px;
    }
  }

  .question-cards {
    width: 100%;
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    display: block;
    clear: both;

    .header {
      color: $gray-base;
      font-size: $font-size-h6;
      padding: 0 0 15px;
      border-bottom: 1px solid $gray-lighter;
    }

    .question-number {
      width: 15%;
      display: inline-block;
      padding: 0 0 0 5px;
    }

    .question-text {
      width: 82%;
      display: inline-block;
      padding: 0 5px 0 0;
    }

    ul {
      padding: 0;
      list-style: none;
    }
  }

  &.key-hidden.performance-view {
    .questions-header {
      > em {
        display: block;
        font-style: normal;
        color: $light-500;
      }

      .title {
        float: none;
        margin-bottom: 0;

        h4 {
          margin-bottom: 5px;
        }
      }
    }
  }
}
