.reports.assessment.gru-summary {
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-lighter;
  .summary-container{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .grade {
      width: 143px;
      padding-top: 23px;
      text-align: center;
      border-radius: 6px;
      color: $white;

      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;

      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;

      span {
        &.percentage {
          font-size: $font-size-h2;
          line-height: $font-size-h2;;
        }
        &.attempts {
          font-size: $font-size-h6;
        }
      }
      .attempts {
        margin: 0 auto;
        display: table;
        .fractional {
          width: 25px;
          margin: 0 10px 0 0;
          .bottom {
            border-color: $white;
          }
        }
        .text {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .overview {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;

      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;

      border-radius: 6px;
      background-color: $white;
      padding: 20px 0 15px 15px;
      margin: 0 0 0 12px;

      h5 {
        margin: 0;
      }
      .information {
        margin: 0;
        height: 30px;
        font-size: $font-size-h6;
        width: 100%;
        display: table;
        span {
          display: inline-block;
        }
        .attempt {
          width: 48%;

          .attempt-selector {
            display: inline-block;

            .current-attempt {
              display: inline-block;
              button {
                line-height: 1;
                .caret {
                  margin-left: 10px;
                }
              }
            }
          }
        }
        .date {
          width: 31%;
          background: url("gooru/images/date-icon.svg") no-repeat;
          -webkit-background-size:18px 20px;
          background-size:18px 20px;
          background-position: 0 3px;
          padding: 0 0 0 28px;
        }
        .time {
          width: 12%;
          background: url("gooru/images/timer-icon.svg") no-repeat;
          -webkit-background-size:18px 18px;
          background-size:18px 18px;
          background-position: 0 3px;
          padding: 0 0 0 28px;
        }
        .reaction {
          width: 7%;
        }
      }
    }
  }
}
