.reports.assessment.gru-resources {
  margin-top: 20px;
  .resources-header {
    margin: 30px 0;

    .title {
      h4 {
        margin-top: 0;
      }
    }
  }

  table {
    width: 100%;
    background: $white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    padding: 20px 0 40px 0;
    display: block;

    @media (min-width: $screen-md) {
      padding: 20px 15px 40px 15px;
    }

    th {
      color: $gray-base;
      font-size: $font-size-h6;
      font-weight: normal;
    }
    td,
    th {
      height: 30px;
      text-align: center;
      border-bottom: 1px solid $gray-lighter;
    }
    th.number {
      width: 2%;
    }
    th.resource-type {
      width: 6%;
    }
    th.resource {
      width: 37%;
    }
    th.timeSpent {
      width: 24%;
    }
    .resource-type-icon {
      .image {
        display: inline-block;
        margin-right: 10px;
      }
      i {
        display: block;
        height: 36px;
        width: 28px;
        vertical-align: top;
        margin: 5px 0 0 0;
        &.video-icon {
          background: url("gooru/images/video-resource-green.svg");
          -webkit-background-size: 31px 30px;
          background-size: 31px 30px;
          height: 30px;
          width: 31px;
        }
        &.webpage-icon {
          background: url("gooru/images/website-resource-green.svg");
          -webkit-background-size: 29px 30px;
          background-size: 29px 30px;
          height: 30px;
          width: 29px;
        }
        &.interactive-icon {
          background: url("gooru/images/interactive-resource-green.svg");
          -webkit-background-size: 34px 30px;
          background-size: 34px 30px;
          height: 30px;
          width: 34px;
          vertical-align: top;
          margin: 5px 0 0 0;
        }
        &.question-icon {
          background: url("gooru/images/question-resource-green.svg");
          -webkit-background-size: 30px 30px;
          background-size: 30px 30px;
          height: 30px;
          width: 30px;
        }
        &.image-icon {
          background: url("gooru/images/image-resource-green.svg");
          -webkit-background-size: 30px 30px;
          background-size: 30px 30px;
          height: 30px;
          width: 30px;
        }
        &.text-icon {
          background: url("gooru/images/text-resource-green.svg");
          -webkit-background-size: 31px 30px;
          background-size: 31px 30px;
          height: 30px;
          width: 31px;
        }
        &.audio-icon {
          background: url("gooru/images/audio-resource-green.svg");
          -webkit-background-size: 34px 30px;
          background-size: 34px 30px;
          height: 30px;
          width: 34px;
        }
      }
    }

    .top-left {
      text-align: left;
      vertical-align: top;
      padding: 10px 15px;
    }
  }
  .resource-cards {
    width: 100%;
    background: $white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    padding: 20px;
    display: block;
    .header {
      color: $gray-base;
      font-size: $font-size-h6;
      padding: 0 0 15px 0;
      border-bottom: 1px solid $gray-lighter;
    }
    .resource-number {
      width: 15%;
      display: inline-block;
      padding: 0 0 0 5px;
    }
    .resource-text {
      width: 82%;
      display: inline-block;
      padding: 0 5px 0 0;
    }
    ul {
      padding: 0;
      list-style: none;
    }
  }
}
