.reports.assessment.gru-questions {
  // TODO: background-color and height is only temporary (to make the placeholder visible)
  background-color: #d3d3d3;
  height: 100px;

  margin-top: 20px;

  h2 {
    margin-top: 0;
  }
}
