.gru-questions-xs{
  margin:5px;
  display: table;
  width:100%;
  .number-question, .question-container{
    display: table-cell;
    border: 1px solid #DDDDDD;
  }
  .question-card{
    display:table-row;
    width: 100%;
  }
  .question{
    border-bottom: 1px solid #DDDDDD;
  }
  .number-question, .question, .answer{
    > *{
      display:block;
    }
    padding: 8px;
  }
  .number-question {
    text-align: center;
    width:10%;
  }
  span.correct{
    color:$color-answer-correct;
  }
  span.incorrect{
    color:$color-answer-incorrect;
  }
}
