.controller.info{
  padding: 10px;
  ul{
    padding-left: 0px;
    list-style: none;
    li{
      float:left;
      padding:10px;
    }
  }
  .profile-card{
    div{
      border: 1px solid $color-gray-4;
      width:137px;
      height: 92px;
    }
  }
  .class-details {
    border-bottom: 1px solid $color-gray-4;
    .subject,.grade,.code,.description{
      p{
        float:left;
        padding:5px;
      }
    }
    .title{
      font-weight: bold;
    }
    .code {
      border: 1px solid $color-gray-4;
      width: 179px;
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      p{
        margin:0px;
      }
      @media (max-width: $screen-xs-max) { /* only for phone */
        margin-bottom: 10px;
      }

    }
  }
}
