.class_overview {
  .controller.class .content {
    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
  }
}

.controller.overview {

  .fixed {
    @media (min-width: $screen-md) {
      position: fixed;
      width: 75%;
      left: 0;
      top: 50px;
      margin-left: 25%;
      z-index: 10;
    }

    .overview-header{
      background-color: $color-white;
      border-bottom: 1px solid $gray-light;

      div {
        display: inline-block;
        padding:15px 20px;
      }
      @media (min-width: $screen-md) {
        margin: 0 15px;
      }
    }

    .locate,
    .edit-content {
      float: right;
      margin: 15px 20px;
    }
  }

  .gru-accordion-course {
    padding: 15px 20px 50px 20px;

    @media (min-width: $screen-md) {
      padding-top: $overview-header + 5px;
    }

    .panel + .panel {
      margin-top: 25px;
    }

    .panel-heading {
      position: relative;

      .panel-title {
        > a {
          display: inline-block;
          max-width: 75%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: bottom;
        }
      }
    }

    .gru-user-icons {
      top: 6px;
      right: 0;
    }

    .gru-accordion-unit {

      &.expanded {
        > .panel-heading .gru-user-icons { display: none !important; }
      }

      .gru-accordion-lesson {

        &.expanded {
          > .panel-heading {
            background-color: $gray-lighter;

            .panel-title { border: 0 none;}
            .gru-user-icons { display: none !important; }
          }
        }

        .panel-heading {
          padding-top: 0;
          margin-top: 10px;

          > .img-circle {
            position: absolute;
            top: -4px;
            left: 0;
            height: 2.714rem;
            width: 2.714rem;
            border: 1px solid $gray-light;

            //TODO Remove this background if an image is put in place
            background-color: #FFFFFF;
          }

          .panel-title {
            display: block;
            border-bottom: 1px solid $gray-light;
            margin-left: 25px;
            margin-right: 20px;
            padding-top: 5px;
            padding-left: 25px;
          }

          .gru-user-icons {
            top: -4px;
          }
        }

        .collections {

          .assessment {
            .panel-heading > img {
              border: 1px solid orange;
            }
          }
          .collection {
            .panel-heading > img {
              border: 1px solid blue;
            }
          }

          .panel-heading {

            > img {
              position: absolute;
              top: -2px;
              left: 35px;
              height: 30px;
              width: 42px;
              border: 1px solid $gray-light;

              @media (min-width: $screen-md) {
                left: 50px;
              }
            }

            .panel-title {
              padding-left: 30px;
              margin-left: 60px;

              @media (min-width: $screen-md) {
                padding-left: 45px;
                margin-left: 60px;
              }
            }
          }
        }
      }
    }
  }
}
