.class_overview {
  .controller.class .content {
    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
  }
}

.controller.overview {
  $collection-icon-size: 48px;

  .fixed {
    padding: 0 20px;

    @media (min-width: $screen-sm) {
      padding: 0 60px;
    }

    .overview-header{
      border-bottom: 1px solid $gray-light;

      div {
        display: inline-block;
        padding: 15px 0;
      }
    }

    .locate,
    .edit-content {
      float: right;
      margin-top: 44px;

      .gru-icon {
        display: none;

        @media (min-width: $screen-sm) {
          display: inline;
          vertical-align: middle;
          padding: 0 5px 0 0;
        }
      }
    }
  }

  .gru-accordion-course {
    padding: 0 20px;

    @media (min-width: $screen-sm) {
      padding: 15px 60px 50px 60px;
    }

    .panel + .panel {
      margin-top: 10px;
    }

    .panel-heading {
      position: relative;

      .panel-title {
        > a {
          display: inline-block;
          max-width: 63%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .gru-user-icons {
      float: right;
    }

    .gru-accordion-unit {
      padding: 40px 0 0 0;

      .unit {
        border-bottom: 1px solid $hr-border;
        padding-bottom: 10px;
        padding-right: 20px;

        > .panel-title {
          padding-right: 15px;
          font-size: $font-size-h4;
          font-weight: normal;

          @media (min-width: $screen-sm) {
            border-right: 1px solid $hr-border;
          }

          > a {
            display: inline-block;
            max-width: 80%;
            line-height: 1.2;
            @include text-overflow();
          }

          + span {
            display: none;

            @media (min-width: $screen-sm) {
              display: inline;
              padding-left: 15px;
              vertical-align: 6px;
            }
          }
        }

        .gru-user-icons {
          margin-top: 5px;
        }

        + .collapse {
          > .panel-body {
            padding: 0;
          }
        }
      }

      .gru-accordion-lesson {

        > .panel-heading {
          padding: 15px 20px;
          margin: 30px 0 20px 0;
          background-color: $white;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
          border-radius: 5px;

          > .gru-completion-chart {
            display: inline-block;
            vertical-align: middle;
          }

          > .panel-title .title {
            font-size: $font-size-large;
            color: $text-color;
            vertical-align: middle;
            margin-left: 20px;
          }
        }

        .collections {
          padding-left: 10%;

          > .panel {

            &.collection {
              line-height: 2.2;

              &.submitted {
                > .panel-heading i {
                  color: $blue-400;
                }
              }
            }

            &.assessment {
              .panel-heading .panel-title {
                vertical-align: -8px;
              }
            }

            &:last-child {
              .panel-heading {
                border-bottom: 0 none;
              }
            }
          }

          .panel-heading {
            border-bottom: 1px solid $gray-lighter;
            padding: 0 20px 5px 0;
            margin: 0;

            @media (min-width: $screen-sm) {
              padding-right: 8px;
            }

            > i {
              font-size: $collection-icon-size;
              vertical-align: bottom;
            }
            > .score {
              margin: 5px 0 10px 0;
            }

            .panel-title {
              font-size: $font-size-base;
              margin-left: 6%;

              > a {
                @media (min-width: $screen-sm) {
                  max-width: 27%;
                }
              }
            }

            .gru-user-icons .first-view.clickable {
              .item:last-child {
                margin-right: 17px;
              }
            }
          }
        }
      }

      .gru-accordion-lesson .panel-heading .score {
        padding: 0.5em 0.8em;
        border-radius: 5px;
        color: $white;
        display: inline-block;
      }
    }
  }
}

// TODO: Move this to a separate component?
.gru-completion-chart {
  $height: 40px;

  position: relative;
  width: 3.8em;
  height: $height;

  .charts.gru-x-bar-chart {
    background-color: $dark-400;
    height: $height;
  }
  > span {
    font-size: $font-size-base;
    color: $white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: $height;
  }
}
