.class_overview {
  .controller.class .content {
    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
  }
}

.controller.overview {

  .fixed {
    @media (min-width: $screen-md) {
      position: fixed;
      width: 75%;
      left: 0;
      top: 50px;
      margin-left: 25%;
      z-index: 10;
    }

    .overview-header{
      border-bottom: 1px solid $gray-light;

      div {
        display: inline-block;
        padding: 15px 0;
      }
      @media (min-width: $screen-md) {
        margin: 0 119px 0 37px;
      }
    }

    .locate,
    .edit-content {
      float: right;
      margin: 36px 0;
      span i{
        vertical-align: middle;
        padding: 0 5px 0 0;
      }
    }
  }

  .gru-accordion-course {
    @media (min-width: $screen-md) {
      padding: 15px 93px 50px 93px;
    }

    @media (min-width: $screen-md) {
      padding-top: $overview-header + 5px;
    }

    .panel + .panel {
      margin-top: 25px;
    }

    .panel-heading {
      position: relative;

      .panel-title {
        > a {
          display: inline-block;
          max-width: 75%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: bottom;
        }
      }
    }


    .gru-accordion-unit {
      padding: 40px 10px 0 10px;

      .unit {
        border-bottom: 1px solid $hr-border;
        padding-bottom: 10px;
        padding-right: 20px;

        > .panel-title {
          padding-right: 15px;
          border-right: 1px solid $hr-border;
          font-size: $font-size-h4;
          font-weight: normal;

          + span {
            padding-left: 15px;
          }
        }

        .gru-user-icons {
          float: right;
          margin-top: 5px;
        }

        + .collapse {
          > .panel-body {
            padding: 0;
          }
        }
      }

      .gru-accordion-lesson {

        > .panel-heading {
          padding: 20px;
          margin: 30px 0 20px 0;
          background-color: $white;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
          border-radius: 5px;

          > .score {
            padding: 0.8em 1em;
            border-radius: 5px;
            color: $white;
          }

          > .panel-title .title {
            font-size: $font-size-large;
            color: $text-color;
            vertical-align: middle;
            margin-left: 20px;
          }

          .gru-user-icons {
            float:right;
          }
        }

        .collections {

          .assessment {
            .panel-heading > img {
              border: 1px solid orange;
            }
          }
          .collection {
            .panel-heading > img {
              border: 1px solid blue;
            }

          }

          .panel-heading {

            > img {
              position: absolute;
              top: -2px;
              left: 35px;
              height: 30px;
              width: 42px;
              border: 1px solid $gray-light;

              @media (min-width: $screen-md) {
                left: 50px;
              }
            }

            .panel-title {
              padding-left: 30px;
              margin-left: 60px;

              @media (min-width: $screen-md) {
                padding-left: 45px;
                margin-left: 60px;
              }
            }
          }
        }
      }
    }
  }
}
