<div class="controller content assessments edit">
  {{content.assessments.gru-assessment-edit collection=collection allowBackToCourse=allowBackToCourse course=course isAssessment=isAssessment isEditing=isEditing tempCollection=tempCollection editingContent=editingContent centurySkills=centurySkills}}
  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      {{{t "content.assessments.edit.best-practices"}}}
    </div>
  </aside>
</div>
