.gru-metrics-table {
  margin: 10px 0;
  width: inherit;
  overflow-x: auto;
  overflow-y: hidden;

  .table {
    border: 0 !important;
    margin: 0;
    width: auto;
    thead, tbody
    {
      display: block;
    }
    tbody
    {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 545px;
    }
    thead > tr:first-child > th {
      border-top: 1px solid $color-gray-lighter-2 ;
    }
    thead > tr:first-child > td {
      border: 0;
    }
    td, th {
      width: 80px;
      min-width: 80px;
      height: 70px;
      text-align: center;
      vertical-align: middle;
      font-weight: normal;
      font-size: $font-size-small;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0;
      div:last-child {
        border: 0;
      }
    }
    .header-title {
      text-align: left;
      padding: 0 0 0 5px;
      margin: 0 auto;
      .title {
        max-width: 75px;
        @include text-overflow();
      }
    }
    .table-cell {
      width: 80px;
      min-width: 80px;
      height: 68px;
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid $color-gray-lighter-2 ;
    }
    .fixed {
      max-width: 81px;
    }
    th.header {
      background-color: $color-gray-lighter-7;
      border-top: 1px solid $color-gray-lighter-2 ;
    }
    .sub-header {
      th {
        height: 30px;
        font-size: $font-size-xsmall;
        color: $color-gray-secondary;
        .table-cell {
          height: 30px;
         }
      }
      th:first-child{
        border-left: 2px solid $color-gray-lighter-2 ;
      }
    }
    .bad {
      background-color: $gru-scale-indicator-bad;
      color: $color-white;
    }
    .regular {
      background-color: $gru-scale-indicator-regular;
      color: $color-white;
    }
    .good {
      background-color: $gru-scale-indicator-good;
      color: $color-white;
    }
    .very-good {
      background-color: $gru-scale-indicator-very-good;
      color: $color-white;
    }
    .excellent {
      background-color: $gru-scale-indicator-excellent;
      color: $color-white;
    }
  }
}

