.gru-metrics-table {
  margin: 10px 0;
  width: inherit;
  overflow-x: auto;
  overflow-y: hidden;

  .metrics-table-wrapper {
    width: auto;
    overflow-x: auto;
    padding-bottom: 1px;
    margin-left: 321px;
    overflow-y: hidden;
  }
  .borderradius {
    border-radius: 4px 0px;
  }

  .table {
    margin: 0;
    width: auto;
    font-size: $font-size-h6;
    background: $white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
    border-collapse: inherit;
    display: table-cell;
    table-layout: fixed;
    width: 100%;
    margin-left: -100px;
    .lt-cell {
      border: 1px solid $light-300;
    }
    .lt-head {
      min-width: 160px;
      max-width: 160px;
    }
    .subwidthHeaderMax {
      min-width: 160px;
      width: 160px;
    }
    /* Absolute Center Spinner */
    .loading {
      position: fixed;
      z-index: 9999;
      height: 2em;
      width: 2em;
      overflow: show;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    /* Transparent Overlay */
    .loading:before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
      /* hide "loading..." text */
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
    }
    .ajax-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 500px;
      height: 124px;
      margin-top: -62px;
      margin-left: -210px;
      z-index: 9999;
    }
    .textAlignment {
      text-align: left;
      margin-left: 15px;
    }

    .loading:not(:required):after {
      content: "";
      display: block;
      font-size: 10px;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      -webkit-animation: spinner 1500ms infinite linear;
      -moz-animation: spinner 1500ms infinite linear;
      -ms-animation: spinner 1500ms infinite linear;
      -o-animation: spinner 1500ms infinite linear;
      animation: spinner 1500ms infinite linear;
      border-radius: 0.5em;
      -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
        rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
        rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
        rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
        rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
      box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
        rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
        rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
        rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
        rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    }

    /* Animation */

    @-webkit-keyframes spinner {
      0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @-moz-keyframes spinner {
      0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @-o-keyframes spinner {
      0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes spinner {
      0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    .subsubwidthmaxCollapseUnit {
      max-width: 160px;
      min-width: 160px;
    }
    .selectedUnitcolor {
      background-color: #37424b !important;
      text-align: center;
      color: white !important;
    }
    .headerbgcolor {
      background-color: white !important;
      color: black;
    }
    .scoreMargin {
      float: left;
      margin-left: 85px;
      margin-top: -23px;
    }
    .newscoreMargin {
      float: right;
      margin-left: -115px;
      margin-right: 60px;
    }
    .timeMargin {
      margin-top: -23px;
    }
    .mainTableSpacing {
      border: 0 !important;
      padding: 0 !important;
    }
    .subsubwidthmaxCollapse {
      min-width: 160px !important;
      width: 160px;
    }
    .text-newprimary {
      color: #00bfff;
    }
    .subsubwidthmax {
      width: 160px;
      max-width: 160px;
    }
    .subsubwidthmax1 {
      width: 160px;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    thead {
      tr {
        th,
        td {
          background-color: $dark-300;
          color: $white;
          border-right: 0.5px solid $light-300;
          &:first-child {
            border-right: 0;
          }
        }
      }
      .backgroundclraverage {
        background-color: #dddddd !important;
      }
      .headers {
        td,
        th {
          background-color: $dark-400;
        }
        > td {
          border-top: 15px solid $dark-400 !important;
          border-radius: 5px 0 0 0;
          top: 10px;
          height: 54px !important;
        }
        .header-title {
          @include flexbox;
          @include flex-direction(row);
          @include align-items(center);
          text-align: center;
          div {
            line-height: $font-size-lead;
          }
          .title {
            width: inherit;
            width: 160px;
            min-width: 160px;
            @include text-overflow();
          }
          .titlenew {
            width: inherit;
            width: 160px;
            min-width: 160px;
          }
          .column {
            @include flexbox;
            @include flex-direction(column);
          }
          .small-icon {
            i {
              font-size: 0.8em;
              padding-right: 0.2em;
            }
          }
        }
      }
      .headers,
      .sub-header {
        th,
        td {
          height: 26px;
          border-top: 0.5px solid $light-300;
        }
      }
      .average {
        th {
          background-color: $white;
          border-bottom: 2px solid $light-300;
          color: $gray;
          height: 50px;
          .class-average {
            font-weight: bold;
          }
        }
        .header {
          @include flexbox;
          @include align-items(center);
          border-left: 1px solid $light-300;
        }
      }
    }
    tbody {
      tr {
        &:last-child {
          th.fixed {
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.07);
          }
        }
      }
      .even {
        td,
        th {
          background-color: $gray-lighter;
        }
      }
      .odd {
        td,
        th {
          background-color: $white;
        }
      }
      th {
        width: 140px;
        span {
          display: block;
          width: inherit;
          @include text-overflow();
        }
        &.header.fixed {
          border-left: 1px solid $light-300;
        }
      }
    }
    td,
    th {
      width: 160px;
      min-width: 160px;
      height: 32px;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 0;
      border-right: 1px solid $light-300;
      padding: 0px;
      vertical-align: middle !important;
      text-align: center;
      div:last-child {
        border: 0;
      }
    }
    .table-cell {
      min-width: 57px;
      text-align: center !important;
      vertical-align: middle !important;
    }
    .gru-metrics-sub-header {
      font-size: $font-size-base;
      .metrics-sub-header {
        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 47px;
          display: inline-block;
          vertical-align: middle;
        }
        .material-icons {
          font-size: $font-size-base;
          margin: 0 0 0 -5px;
        }
      }
    }
    .width-information {
      min-width: 160px;
      max-width: 160px;
    }
    .performance-information {
      .box {
        border-radius: 4px;
        width: 42px;
        height: 25px;
        display: inline-table;
        color: $white;
        text-align: center;
        &.completion {
          background-color: $blue-400;
        }
      }
      .charts.gru-completion-chart {
        width: 55px;
        height: 25px;
        display: inline-table;
        vertical-align: middle;
        > span {
          line-height: 25px;
        }
        .charts.gru-x-bar-chart {
          height: inherit;
        }
      }
      .report {
        text-align: center;
        i {
          vertical-align: bottom;
        }
      }
    }
    .fix {
      position: absolute;
      *position: relative; /*ie7*/
      margin-left: -320px !important;
      width: 160px;
    }
    .lsntxtalignment {
      text-align: left;
      padding-left: 7px;
    }
    .unttxtalignment {
      padding-left: 7px;
    }
    .fix2 {
      position: absolute;
      *position: relative; /*ie7*/
      margin-left: -160px !important;
      width: 160px;
    }
    .outer {
      position: relative;
      border-top: 3px solid $dark-400;
      border-radius: 5px !important;
    }
    .textcentering {
      display: table !important;
      overflow: hidden !important;
      top: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      margin: auto !important;
      width: 50% !important;
      height: 35% !important;
    }
    .textcenteringsub {
      display: table !important;
      overflow: hidden !important;
      top: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      margin: auto !important;
      width: 50% !important;
      height: 62% !important;
    }
    .textinsidecenterdiv {
      display: table-cell !important;
      vertical-align: middle !important;
    }
    Æ’ .inner {
      overflow-x: scroll;
      overflow-y: visible;
      width: 400px;
      margin-left: 100px;
    }
    .fixed {
      left: 10px;
      min-height: 25px;
      width: 145px;
      padding-left: 26px;
    }
    .htFixed {
      height: 112px !important;
    }
    .padBottom {
      padding-bottom: 27px;
    }
    .topMargin {
      padding-top: 10px;
    }
    .backgroundfixed {
      background: #cdd2d6 !important;
    }
    .backgroundfixedeven {
      background-color: #f2f2f2 !important;
    }
    .backgroundfixedodd {
      background-color: white !important;
    }
    .marginleftavgtitle {
      margin-left: 13px;
    }
    fltlftreport {
      margin-left: -50px;
      float: left;
    }
    fltrgttime {
      margin-top: -24px;
      float: right !important;
    }
  }
}
