.gru-course-card {
  display: inline-block;
  margin: 5px 12px;

  .remixed-users {
    height: 35px;
  }

  .course-title {
    font-size: $font-size-h6;
    margin: 10px 0 0;
  }

  .visibility {
    height: 24px;
    margin-bottom: -4px;
    width: 24px;
  }

  .actions {
    @include flexbox;
    @include flex-direction(row-reverse);
    @include justify-content(space-between);
    @include align-items(flex-end);
    height: 28px;
    margin-top: 5px;
  }

  .course-image {
    float: left;
    margin-bottom: 0;
    width: 145px;

    img {
      border: 0;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      height: 145px;
      width: 145px;
    }
  }

  .card-info {
    @include respond-to(lg) {
      width: 67%;
    }
    @include flexbox;
    @include flex-direction(column);
    padding-left: 23px;
    padding-right: 18px;

    .header {
      margin-top: 5px;

      .icon {
        height: 24px;
        width: 24px;
      }

      .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .subject {
      margin-bottom: 0;
      width: 90%;

      .bars {
        border-left: 2px solid $gray-base;
        border-right: 2px solid $gray-base;
        margin-right: 5px;
      }
    }

    .total-units {
      padding: 0 5px;
    }

    button {
      font-size: $font-size-base;
      height: 28px;
      width: 73px;
    }
  }

  .panel {
    @include respond-to(lg) {
      width: 463px;
    }
    border-radius: 6px;
    height: 145px;
    width: 353px;

    .panel-body {
      padding: 0;

      .icon {
        color: $gray-base;
        float: right;
        font-size: 22px;
      }

      h3,
      .course-image {
        cursor: pointer;
      }

      .remix-button,
      .edit-button,
      .users-teaser,
      .course-title,
      .icon,
      .total-units,
      .subject {
        display: inline-block;
      }
    }
  }
}
