.cards.gru-user-network-card{
  width: 220px;
  height: 170px;

  .truncate {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .panel{
    border-radius: 6px;
    .panel-heading{
      background-color: $white;
      border-bottom: 1px solid $gray-lighter;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      .image{
        img{
          border-radius: 50%;
        }
      }
      .user-info{
        color:$text-color;
        h6{
          margin: 5px 0 5px 0;
        }
      }
    }
    .panel-body{
      padding: 15px 15px 0 15px;
      .followers{
        border-right: 1px solid $gray-lighter;
      }
      .count{
        font-weight: bold;
      }
      .follow-btn{
        color:$white;
        padding:0;
        button{
          margin-top: 15px;
          width: 100%;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
      .btn-following{
        background-color:$light-400;
      }
    }
  }
}
