.gru-user-card {
  display: table;
  span{
    display: table-cell;
    vertical-align: middle;
    padding:5px;

    img.avatar {
      width: $narration-avatar-width;
      height: $narration-avatar-height;
      border-radius: 50px;
      box-shadow: 0 0 0 2px #87badd;
      margin: 5px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .truncate{
    width: 64px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
