.gru-course-card{
  display: inline-block;
  border: 1px solid $color-black;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  .thumbnail,.card-info{
    vertical-align: middle;
    margin-right: 10px;
  }
  .thumbnail{
    width: 121px;
    height: 121px;
    border: 1px solid $color-black;
  }
  .header,.card-content,.remixed-users,.remix-button{
    display: block;
  }
  .remixed,.users-teaser,.course-title,.icon,.total-units,.subject,.thumbnail,.card-info{
    display: inline-block;
  }
  .icon{
    float:right;
    font-size: 22px;
  }
   h3{
     margin-top:5px;
   }
  h3,.thumbnail{
    cursor: pointer;
  }
}
