.gru-class-card {
  &.cards {
    .panel {
      @include border-top-radius(4px);
      @include border-bottom-radius(4px);
      @include box-shadow(0 0 7px #ddd);
      width: 100%;
    }

    .panel-body {
      line-height: 1.5;
      padding: 0;

      > div {
        padding: 20px;
      }
    }

    .teacher {
      .panel-heading {
        background-color: $teal-300;
        .action {
          background-color: $teal-400;
        }
      }
    }

    .student {
      .panel-heading {
        background-color: $sky-300;

        .action {
          background-color: $sky-400;
        }
      }
    }

    .panel-heading {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      @include border-top-radius(4px);
      height: 88px;
      padding: 0 0 0 15px;
      width: 100%;

      * {
        color: $white;
      }

      .side-info {
        @include flexbox;
        @include align-items(center);
        @include flex-shrink(0);
        @include justify-content(space-between);
        height: 100%;
        overflow: hidden;
        width: 185px;
      }
    }

    .title {
      @include flex-basis(332px);

      h5 {
        @include ellipsis($font-size-h5, 1.5, 2);
        display: inline-block;
        margin: 0;
        max-width: 316px;
      }
    }

    .action {
      @include flexbox;
      @include align-items(center);
      @include border-top-radius(4px);
      @include border-left-radius(0);
      font-size: $font-size-large;
      height: 100%;
      padding: 0 10px;

      span {
        white-space: nowrap;
      }

      .gru-icon {
        font-size: $font-size-large * 2;
        margin: 2px -7px 0;
        vertical-align: middle;
      }
    }

    .code {
      @include border-top-radius(4px);
      @include border-bottom-radius(4px);
      @include flex-shrink(0);
      border: 1px solid $white;
      font-size: $font-size-base;
      line-height: 1;
      padding: 4px 5px;
      text-transform: uppercase;
      @media (min-width: $screen-xs) {
        font-size: $font-size-large;
      }
    }

    .collaborators {
      color: $gray;
      margin-bottom: 15px;

      .collaborator-avatar {
        @include border-top-radius(50%);
        @include border-bottom-radius(50%);
        height: 1.4rem;
        margin-right: 5px;
        vertical-align: middle;
        width: 1.4rem;
      }
    }

    .members-info {
      border-right: 1px solid $gray-lighter;
      color: $gray-light;
      float: left;
      margin-right: -1px;


      .gru-icon {
        font-size: 150%;
        line-height: 1;
        vertical-align: middle;
      }
    }

    .description {
      border-left: 1px solid $gray-lighter;
      min-height:55px;
      height: 100%;
      overflow: hidden;
      position: relative;

      > div {
        @include ellipsis($font-size-base, 1.5, 4);
      }
    }

    .archived-actions {
      display: inline-block;
      margin-left: 10px;
      span {
        display: inline-block;
        margin-top: 2px;
        margin-left: 4px;
      }
      i.material-icons {
        font-size: $font-size-h4;
        float:left;
      }
      .btn i.material-icons {
        float: none;
      }
    }
  }
}
