.cards.gru-resource-card {
  $line-height: 1.2;
  width: 220px;
  height: 270px;
  .panel {
    border-radius: 6px;
    .panel-heading {
      background-color: $white;
      border-bottom: 1px solid $gray-lighter;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      height: 80px;

      .header {
        width: 100%;
        > * {
          display: inline-block;
        }
        .image {
          display: inline-block;
          vertical-align: top;

          .external-assessment {
            img {
              -webkit-background-size: 31px 30px;
              background-size: 31px 30px;
              height: 30px;
              width: 31px;
            }
          }
        }
        i {
          display: block;
          height: 36px;
          width: 28px;
          margin: 0 auto;
          vertical-align: top;
          margin: 5px 0 0 0;
          &.video-icon {
            background: url("gooru/images/video-resource-green.svg");
            -webkit-background-size: 31px 30px;
            background-size: 31px 30px;
            height: 30px;
            width: 31px;
          }
          &.webpage-icon {
            background: url("gooru/images/website-resource-green.svg");
            -webkit-background-size: 29px 30px;
            background-size: 29px 30px;
            height: 30px;
            width: 29px;
          }
          &.interactive-icon {
            background: url("gooru/images/interactive-resource-green.svg");
            -webkit-background-size: 34px 30px;
            background-size: 34px 30px;
            height: 30px;
            width: 34px;
            vertical-align: top;
            margin: 5px 0 0 0;
          }
          &.question-icon {
            background: url("gooru/images/question-resource-green.svg");
            -webkit-background-size: 30px 30px;
            background-size: 30px 30px;
            height: 30px;
            width: 30px;
          }
          &.image-icon {
            background: url("gooru/images/image-resource-green.svg");
            -webkit-background-size: 30px 30px;
            background-size: 30px 30px;
            height: 30px;
            width: 30px;
          }
          &.text-icon {
            background: url("gooru/images/text-resource-green.svg");
            -webkit-background-size: 31px 30px;
            background-size: 31px 30px;
            height: 30px;
            width: 31px;
          }
          &.audio-icon {
            background: url("gooru/images/audio-resource-green.svg");
            -webkit-background-size: 34px 30px;
            background-size: 34px 30px;
            height: 30px;
            width: 34px;
          }
        }
      }
      .resource-info {
        margin-left: 5px;
        width: 77%;
        line-height: $line-height;
        $lines-to-show: 2;
        > * {
          display: block;
        }
        h6 {
          margin: 5px 0 5px 0;
          @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
        }
        .resource-type,
        .question-type {
          span {
            color: $text-color;
          }
        }
        .title-section {
          h6.title {
            display: inline-block;
            width: 88%;
            color: $blue-400;
          }
          .publish-icon {
            display: inline-block;
            float: right;
            vertical-align: top;
            margin-top: 5px;
            background: url("gooru/badge-01.png");
            -webkit-background-size: 17px 17px;
            background-size: 17px 17px;
            height: 17px;
            width: 17px;
          }
        }
      }
      .publish-icon {
        display: inline-block;
        float: right;
        vertical-align: top;
        margin-top: 2px;
        background: url("gooru/badge-01.png");
        -webkit-background-size: 17px 17px;
        background-size: 17px 17px;
        height: 17px;
        width: 17px;
      }
    }
    .panel-body {
      padding: 12px 15px 0 15px;
      height: 128px;

      .publisher {
        margin: 3px 0 3px 2px;
        width: 100%;
        img {
          width: 20px;
          height: 20px;
          border-radius: 50px;
        }
        > * {
          display: inline-block;
        }
        .publisher-name {
          max-width: 165px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
          > a {
            margin-left: 5px;
            color: $blue-400;
          }
        }
      }
      .description {
        $lines-to-show: 3;
        width: 100%;
        p.truncate {
          @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
        }
      }
    }
    .panel-footer {
      background-color: $white;
      padding: 10px 15px 10px 15px;
      .buttons {
        display: inline-block;
      }
      .visibility {
        display: inline-block;
        float: right;
        height: 24px;
      }
    }
  }
}
