.gru-join-class-card {
  width: 300px;
  height: 300px;
  .panel {
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    @include box-shadow(0 0 7px #ddd);
    margin: 0;
    .panel-body {
      padding: 0;
      background-color: $white;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      .image {
        background-image: url("gooru/join.png");
        background-color: $sky-400;
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
        height: 175px;
        width: 300px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
      .info-form {
        color: $dark-400;
        font-weight: bold;
        height: 88px;
        .form-group {
          text-align: center;
          margin: 0;
          .gru-input {
            input {
              font-size: $font-size-lead;
              font-weight: bold;
              width: 240px;
              margin: 0 auto;
              height: 24px;
              @include box-shadow(inset 0 -1px 0 $sky-600);
              text-align: center;
              color: $sky-600;
              &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: $sky-600;
              }
              &::-moz-placeholder {
                /* Firefox 19+ */
                color: $sky-600;
              }
              &:-ms-input-placeholder {
                /* IE 10+ */
                color: $sky-600;
              }
              &:-moz-placeholder {
                /* Firefox 18- */
                color: $sky-600;
              }
            }
            .error-messages {
              height: 14px;
              span.error {
                vertical-align: top;
                margin: 0;
                font-size: $font-size-xxsmall;
                height: inherit;
              }
            }
          }
        }
        .terms-and-conditions {
          font-size: $font-size-small;
          line-height: $font-size-small;
          padding: 0 17px;
          margin: 0;
          opacity: 0.5;
        }
      }
    }
    .panel-footer {
      height: 38px;
      padding: 0;
      .gru-spinner-button {
        display: block;
        height: inherit;
        button {
          border: none;
        }
        .join-class-btn {
          height: inherit;
          color: $white;
          text-align: center;
          width: 100%;
          font-size: $font-size-small;
          font-weight: bold;
          text-transform: uppercase;
          background-color: $blue-400;
          padding: 8px 0;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
  }
}
