.cards.gru-collection-card{
  .panel{
    width: 300px;
    height: 290px;
    border-radius: 6px;
    .panel-heading{
      background-color: $white;
      border-bottom: 1px solid $gray-lighter;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      padding:10px 15px 0 15px;

      .truncate {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .image{
        display: inline-block;
        img{
          width: 74px;
          height: 74px;
          border-radius: 4px;
        }
      }
      .collection-info{
        display: inline-block;
        color:$text-color;
        vertical-align: top;
        margin-left: 15px;
        width: 66%;
        .bar{
          font-weight:bold;
          color:$gray-dark;
        }
        h6{
          margin: 5px 0 5px 0;
        }
        p{
          display: inline;
        }
        .course{
          i{
            color:$gray-light;
            vertical-align: middle;
          }
          p,a{
            margin-left: 4px;
            vertical-align: bottom;
          }
        }
        div{
          > *{
            padding-left: 0;
          }
        }
      }
    }
    .panel-body{
      padding: 5px 15px 15px 15px;
      .standards{
        height: 24px;
        .uc-search-standard {
          display: inline-block;
          float: left;
          width: 47%;
          .truncate{
            width: 99%;
          }
          .label{
            padding: 0;
          }
        }
      }
      .author,.remixed-by{
        margin: 10px 0 10px 0;
        img{
          width: 30px;
          height: 30px;
          border-radius: 50px;
        }
        > *{
          display: inline-block;
        }
      }
      .description{
        height: 78px;
        $line-height: 1.8;
        $lines-to-show: 3;
        p.truncate {
          @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
        }
      }
    }
  }
}
