.gru-student-class-card {
  width: 300px;
  height: 300px;
  .panel {
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    @include box-shadow(0 0 7px #ddd);
    margin: 0;
    .panel-heading {
      background-color: $white;
      @include flexbox;
      width: 100%;
      padding: 0 0 0 0;
      height: 40px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      > .title {
        width: 70%;
        padding: 6px 6px;
        a {
          color: $white;
          margin: 0;
          font-size: $font-size-h6;
          font-weight: bold;
        }
        $line-height: 1.3;
        $lines-to-show: 1;
        .truncate {
          @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
        }
      }
      .code {
        border-left: $border-right-side $white;
        border-right: $border-left-side $white;
        text-align: center;
        padding: 10px 0;
        width: 30%;
        div {
          font-size: $font-size-small;
          font-weight: bold;
          line-height: $font-size-small;
          text-transform: uppercase;
          color: $white;
          width: 100%;
          &.title {
            opacity: 0.5;
            font-weight: normal;
          }
        }
      }
    }
    .panel-body {
      padding: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      height: 260px;
      .information {
        height: 167px;
        width: 100%;
        color: $white;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 103px 0 0;
        font-weight: bold;
        position: relative;
        .current-activity {
          position: absolute;
          z-index: 10;
          font-size: $font-size-xxsmall;
          padding: 0 10px;
          font-weight: bold;
        }
        .title-section {
          $line-height: 0.5;
          $lines-to-show: 2;
          margin: 23px 0 0;
          padding: 0 10px;
          position: absolute;
          z-index: 10;
          width: 100%;
          .title {
            line-height: $font-size-base;
            vertical-align: top;
            display: inline-block;
            width: 86%;
            font-weight: bold;
          }
          .truncate {
            @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
          }
          i {
            margin: 0 2px 0 0;
            width: 22px;
            height: 17px;
            vertical-align: top;
            background-repeat: no-repeat;
            background-position: center center;
            display: inline-block;
            &.collection {
              background-image: url("gooru/images/navigation_collection.svg");
            }
            &.assessment {
              background-image: url("gooru/images/navigation_assessment.svg");
            }
          }
        }
        &:after {
          display: block;
          position: absolute;
          z-index: 9;
          background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0,
            $gray-base 100%
          );
          margin-top: -19px;
          height: 50%;
          width: 100%;
          content: "";
        }
      }
      .links {
        display: inline-block;
        width: 150px;
        height: 93px;
        background-color: $white;
        box-shadow: $box-shadow 4px 0 rgba(0, 0, 0, 0.5);
        border-bottom-left-radius: 4px;
        ul {
          padding: 0;
          li {
            height: 33px;
            display: block;
            border-bottom: 1px solid $light-300;
            text-align: $tab-float-dir;
            padding: 5px 12px 0 12px;
            list-style: none;
            a {
              font-size: $font-size-base;
              color: $dark-400;
            }
            &:last-child {
              border: none;
              padding: 2px 12px 0 12px;
            }
          }
        }
      }
      .performance {
        color: $white;
        text-align: center;
        padding: 0;
        display: inline-block;
        width: 145px;
        vertical-align: top;
        border-bottom-right-radius: 4px;
        .percentage {
          font-size: $font-percentage;
          line-height: $user-card-avatar-height;
          font-weight: 900;
        }
        label {
          font-size: $font-size-xxsmall;
          font-weight: bold;
        }
      }
      .completion-chart {
        height: 27px;
        padding: 0 11px;
        .charts.gru-x-bar-chart {
          border-radius: 4px;
          height: 7px;
        }
        label {
          display: block;
          font-size: $font-size-small;
          margin: 0;
          padding: 0 10px;
        }
      }
    }
    &.no-course {
      .panel-heading {
        color: $dark-600;
        border-bottom: 1px solid $dark-600;
        padding: 0px;
        .title {
          a {
            color: $dark-600;
            font-weight: normal;
          }
        }
        .code {
          border-left: $border-right-side $dark-600;
          border-right: $border-left-side $dark-600;
          div {
            color: $dark-600;
          }
        }
      }
      .panel-body {
        .information {
          background-image: url(/assets/gooru/course-default.png);
          .no-course-assigned {
            position: absolute;
            bottom: 0;
            color: $white;
            z-index: 999;
            padding: 0 10px;
          }
        }
        .performance {
          color: $light-400;
          .percentage {
            color: $light-200;
          }
          .charts.gru-x-bar-chart {
            background: $light-200;
          }
        }
      }
    }
  }
}
