.gru-student-class-card {
  width: 300px;
  height: 337px;
  .panel {
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    @include box-shadow(0 0 7px #ddd);
    margin: 0;
    .panel-heading {
      @include flexbox;
      width: 100%;
      padding: 0 10px;
      height: 40px;
      .title {
        width: 75%;
        padding: 3px 0;
        a {
          color: $dark-500;
          margin: 0;
          font-size: $font-navigator;
          font-weight: 300;
        }
      }
      .code {
        width: 25%;
        border-left: 1px solid $light-200;
        text-align: center;
        padding: 6px 0;
        div {
          font-size: $font-size-xxsmall;
          font-weight: bold;
          line-height: 1;
          text-transform: uppercase;
          color: $dark-400;
          width: 100%;
          &.title {
            opacity: 0.5;
            font-size: $font-size-xxxsmall;
            font-weight: normal;
          }
        }
      }
    }
    .panel-body {
      padding: 0;
      .information {
        height: 170px;
        color: $white;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px 0 0;
        font-weight: bold;
        position: relative;
        .current-activity {
          position: absolute;
          z-index: 10;
          font-size: $font-size-xxsmall;
          padding: 0 10px;
        }
        .title-section {
          $line-height: 0.5;
          $lines-to-show: 2;
          margin: 23px 0 0;
          padding: 0 10px;
          position: absolute;
          z-index: 10;
          width: 100%;
          .title {
            line-height: $font-size-base;
            vertical-align: top;
            display: inline-block;
            width: 86%;
          }
          .truncate {
            @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
          }
          .icon {
            display: inline-block;
            vertical-align: top;
            width: 12%;
            i {
              font-size: $font-size-h3;
            }
          }
        }
        &:after {
          display: block;
          position: absolute;
          z-index: 9;
          background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0,
            $gray-base 100%
          );
          margin-top: -15px;
          height: 50%;
          width: 100%;
          content: "";
        }
      }
      .performance {
        color: $dark-400;
        text-align: center;
        height: 100px;
        padding: 25px 0 0;
        .percentage {
          font-size: $font-percentage;
          line-height: $font-size-h2;
          font-weight: 900;
        }
        label {
          text-transform: uppercase;
          font-size: $font-size-xxsmall;
          font-weight: bold;
        }
      }
      .completion-chart {
        height: 27px;
        .charts.gru-x-bar-chart {
          border-radius: 0;
          height: 6px;
          .segment {
            &:first-child {
              border-radius: 0;
            }
          }
        }
        label {
          display: block;
          font-size: $font-size-xxsmall;
          line-height: $font-navigator;
          margin: 0;
          padding: 0 10px;
        }
      }
    }
  }
}
