.gru-collection-card {
  .panel {
    border-radius: 6px;
    width: 300px;

    .panel-heading {
      background-color: $white;
      border-bottom: 1px solid $gray-lighter;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      padding: 10px 15px 0;

      .truncate {
        @include text-overflow;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
      }

      .image {
        display: inline-block;
      }

      .collection-info {
        color: $text-color;
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        width: 65%;
        .bar{
          font-weight:bold;
          color:$gray-dark;
        }
        h6{
          margin: 5px 0 5px 0;
        }
        p{
          display: inline;
        }
        .course{
          i{
            color:$gray-light;
            vertical-align: middle;
          }
          p,a{
            margin-left: 4px;
            vertical-align: bottom;
          }
        }
        div{
          > *{
            padding-left: 0;
          }
        }
      }
    }
    .panel-body{
      display: table;
      padding: 5px 15px 15px;
      position: relative;
      width: 100%;

      .collection-details {
        height: inherit;

        .standards {
          height: 20px;

          .collection-results-standards {
            .uc-search-standard {
              display: inline-block;
              float: left;
              margin: 0 1px;
              width: 44%;

              .truncate {
                @include text-overflow;
                text-overflow: ellipsis;
                width: 99%;
              }
              .label{
                padding: 0;
              }
            }
            a{
              margin-left: 5px;
            }
          }

        }
        .author,.remixed-by{
          margin: 10px 0 10px 0;
          img{
            width: 30px;
            height: 30px;
            border-radius: 50px;
            cursor: pointer;
          }
          div > *{
            display: inline-block;
          }
          span {
            cursor: pointer;
          }
          span.title {
            margin:10px 5px 10px 0;
            cursor: auto;
          }
        }
        .description{
          height: 88px;
          $line-height: 1.3;
          $lines-to-show: 3;
          p.truncate {
            @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
          }
        }
        .buttons{
          width: 100%;
        }
        .visibility {
          width: 100%;
          height: 24px;
        }
      }
    }
  }

  .panel-heading {
    .image {
      img {
        border-radius: 4px;
        height: 74px;
        width: 74px;
      }
    }
  }
}
