/* General styles */
html {
  font-size: $font-size-base;
}

body {
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: $font-size-h1;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: $font-size-h2;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: $font-size-h3;
  -webkit-font-smoothing: antialiased;
}

a, button.btn-link {
  cursor: pointer;
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
.btn {
  font-size: $font-size-small;
}
button.btn-link {
  padding: 0;
}

.validation span.error {
  font-size: $font-size-small;
  color: $brand-danger;
  display: inline-block;
  margin-top: 4px;
}

/* includes of mixins*/
@include make-padding(30, xs, 2px);
@include make-padding(30, null, 2px);
@include make-margin(30, null, 2px);
@media (min-width: $screen-sm-min) {
  @include make-padding(30, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-padding(30, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-padding(30, lg, 2px);
}

@include make-margin(30, xs, 2px);
@media (min-width: $screen-sm-min) {
  @include make-margin(30, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-margin(30, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-margin(30, lg, 2px);
}

/* Bootstrap specific rules */
.lead{
  font-size:19.5px;
}
.col-center-block {
  float: none;
  display: block;
  margin: 0 auto;
}
.vertical-align-col{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}
.row-eq-height {
  @media (min-width: $screen-sm-min) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}
.align-cols-vertically {
  display: flex;
  align-items: center;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.app-container {
  min-height: 400px;
  @media (min-width: $screen-md-min) {
    min-height: 400px;
  }
}

.text-white {
  color: $white;
}
.bg-gray{
  background-color: $gray
}
.bg-gray-light{
  background-color: $gray-light;
}
.bg-gray-light-2{
  background-color: $gray-lighter;
}
.bg-blue {
  background-color: $brand-primary;
}
.bg-white{
  background-color: $white;
}
.text-blue{
  color:$brand-primary;
}
.italic{
  font-style: italic;
}

.emotion {
  display: inline-block;
  width: $emotion-icon-size;
  height: $emotion-icon-size;
  cursor: pointer;
  @include transition(all 0.3s ease-out);
  &.small{
    width: $emotion-icon-size-small;
    height:$emotion-icon-size-small;
  }
  svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &:hover {
      @include scale(1.25);
  }
  &.active {
      @include scale(1.4);
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-question{
  width:15px;
  height: 15px;
  background: url('gooru/questionmark.png') no-repeat;
}
.border-gray{
  border-right: 1px solid $gray;
}
.pointer {
  cursor: pointer;
}

/* Loading styles */
.loading-text {
  text-align: center;
  width: 100%;
  clear: both;
}
