// General styles
html {
  font-size: $font-size-base;
}

body {
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: $font-size-h1;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: $font-size-h2;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: $font-size-h3;
  -webkit-font-smoothing: antialiased;
}

a,
button.btn-link {
  cursor: pointer;
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
.btn {
  font-size: $font-size-small;
}
button.btn-link {
  padding: 0;
}

textarea {
  outline: none;
  resize: none;
}

.validation span.error,
span.validation.error {
  color: $brand-danger;
  display: inline-block;
  font-size: $font-size-small;
  margin-top: 4px;
}

.changeDir {
  direction: rtl;
}

.dropMenuLabelWidth {
  width: 8%;
}

.dropMenuWidth {
  width: 18%;
}

.changeDirDefault {
  direction: ltr;
}

.validation span.warning,
span.validation.warning {
  color: $orange-400;
}
/* includes of mixins*/
@include make-padding(30, xs, 2px);
@include make-padding(30, null, 2px);
@include make-margin(30, null, 2px);
@media (min-width: $screen-sm-min) {
  @include make-padding(30, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-padding(30, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-padding(30, lg, 2px);
}

@include make-margin(30, xs, 2px);
@media (min-width: $screen-sm-min) {
  @include make-margin(30, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-margin(30, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-margin(30, lg, 2px);
}

/* Bootstrap specific rules */
.col-center-block {
  float: none;
  display: block;
  margin: 0 auto;
}
.vertical-align-col {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}
.row-eq-height {
  @media (min-width: $screen-sm-min) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.align-cols-vertically {
  display: flex;
  align-items: center;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.app-container {
  min-height: 400px;
  @media (min-width: $screen-md-min) {
    min-height: 400px;
  }
}

.text-white {
  color: $white;
}
.bg-gray {
  background-color: $gray;
}
.bg-gray-light {
  background-color: $gray-light;
}
.bg-gray-light-2 {
  background-color: $gray-lighter;
}
.bg-blue {
  background-color: $brand-primary;
}
.bg-white {
  background-color: $white;
}
.text-blue {
  color: $brand-primary;
}
.italic {
  font-style: italic;
}

.emotion {
  display: inline-block;
  width: $emotion-icon-size;
  height: $emotion-icon-size;
  cursor: pointer;
  @include transition(all 0.3s ease-out);
  &.small {
    width: $emotion-icon-size-small;
    height: $emotion-icon-size-small;
  }
  svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &:hover {
    @include scale(1.25);
  }
  &.active {
    @include scale(1.4);
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-question {
  width: 15px;
  height: 15px;
  background: url('gooru/questionmark.png') no-repeat;
}
.border-gray {
  border-right: 1px solid $gray;
}
.pointer {
  cursor: pointer;
}

/* Loading styles */
.loading-text {
  text-align: center;
  width: 100%;
  clear: both;
}

.cards,
.new-cards,
.gru-preview-course,
.gru-preview-collection {
  i.video-icon {
    background-image: url("gooru/images/video-resource.svg");
  }
  i.webpage-icon {
    background: url("gooru/images/website-resource.svg");
  }
  i.interactive-icon {
    background: url("gooru/images/interactive-resource.svg");
  }
  i.question-icon {
    background: url("gooru/images/question-resource.svg");
  }
  i.image-icon {
    background: url("gooru/images/image-resource.svg");
  }
  i.text-icon {
    background: url("gooru/images/text-resource.svg");
  }
  i.audio-icon {
    background: url("gooru/images/audio-resource.svg");
  }

  .gru-taxonomy-tag-list.in-card,
  .gru-preview-taxonomy-tag-list {
    .gru-taxonomy-tag {
      background-color: $blue-400;
      border: 0 none;

      div {
        > b {
          color: $white;
        }
        > span {
          color: $white;
        }
        .tag-label,
        .tag-caption {
          @include text-overflow;
        }
      }
    }
  }
  .gru-preview-taxonomy-tag-list {
    .tag-caption {
      display: none;
    }
  }
}

.category-menu {
  height: 100%;
  @media (max-width: $screen-sm-max) {
    width: auto;
  }

  .standards {
    display: table-cell;
    float: none;
    text-align: right;
    vertical-align: middle;
  }
}
.category-options {
  padding: 0;
  list-style: none;
  display: inline-block;
  height: inherit;
  margin: 0;
  @media (max-width: $screen-xs-max) {
    @include justify-content(space-around);
    width: 100%;
    margin: 0;
  }
  @include respond-to(xs) {
    @include flexbox;
    @include align-items(center);
  }
  @include respond-to(sm) {
    @include flexbox;
    @include align-items(center);
    width: 100%;
    margin-left: 20px;
  }
  li {
    display: inline-block;
    margin: 0 10px;
    height: 100%;
    @include respond-to(xs) {
      margin: 0;
    }
    @include respond-to(sm) {
      margin: 0 5px;
    }
    &.active a {
      -webkit-box-shadow: inset 0 -3px 0 $white;
      box-shadow: inset 0 -3px 0 $white;
      color: $white;
      padding-bottom: 3px;
      > * {
        opacity: 1;
      }
      &:focus:hover {
        color: $white;
        -webkit-box-shadow: inset 0 -3px 0 $white;
        box-shadow: inset 0 -3px 0 $white;
      }
      &:hover {
        -webkit-box-shadow: inset 0 -3px 0 $white;
        box-shadow: inset 0 -3px 0 $white;
        color: $white;
      }
    }
    a:hover {
      -webkit-box-shadow: inset 0 -3px 0 $white;
      box-shadow: inset 0 -3px 0 $white;
      color: $white;
    }
    &.courses {
      i {
        background: url("gooru/images/navigation_course.svg");
        width: 20px;
        min-height: 15px;
      }
      &.active {
        i {
          background: url("gooru/images/navigation_course_selected.svg");
        }
      }
    }
    &.collections {
      i {
        background: url("gooru/images/navigation_collection.svg");
        width: 20px;
        min-height: 15px;
      }
      &.active {
        i {
          background: url("gooru/images/navigation_collection_selected.svg");
        }
      }
    }
    &.assessments {
      i {
        background: url("gooru/images/navigation_assessment.svg");
        width: 20px;
        min-height: 15px;
      }
      &.active {
        i {
          background: url("gooru/images/navigation_assessment_selected.svg");
        }
      }
    }
    &.resources {
      a {
        padding: 2px 0 0 0;
        line-height: 20px;
      }
      i {
        background: url("gooru/images/navigation_resource.svg") no-repeat;
        background-size: 22px 19px;
        min-height: 19px;
        width: 23px;
        @media (min-width: $screen-md) {
          background-size: contain;
          min-height: 21px;
        }
      }
      &.active {
        i {
          background: url("gooru/images/navigation_resource_selected.svg");
        }
      }
    }
    &.rubrics {
      a {
        padding: 2px 0 0 0;
        line-height: 20px;
      }
      i {
        background: url("gooru/images/add_rubric_white.svg") no-repeat;
        background-size: 22px 19px;
        min-height: 19px;
        width: 23px;
        @media (min-width: $screen-md) {
          background-size: contain;
          min-height: 16px;
        }
      }
      &.active {
        i {
          background: url("gooru/images/add_rubric_white.svg");
        }
      }
    }
  }

  .btn-category {
    @include flexbox;
    @include align-items(center);
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
    padding: 0;
    @media (max-width: $screen-xs-max) {
      @include flex-direction(column);
      padding: 5px 0 0;
      width: 100%;
    }

    > * {
      color: $white;
      opacity: .6;
    }

    i {
      display: inline-block;
      line-height: 16px;
      font-size: $font-size-h5;
      vertical-align: middle;
      margin-right: 5px;
    }
    span {
      vertical-align: middle;
      display: inline-block;
      font-size: $font-size-h6;
      margin: 0 5px 0 0;
    }
  }
}

#toast-container.toast-top-full-width > .gooru-toast {
  width: 100%;
  background-image: none !important;
  .btn-success {
    padding: 2px 30px;
    margin-left: 25px;
    font-size: $font-size-base;
  }
  .toast-message {
    text-align: center;
  }
}

label {
  span.required {
    &:after {
      content: ' *';
    }
  }
}

.show-more-results {
  display: block;
  width: 50%;
  text-align: center;
  padding: 20px;
  border: 2px dashed #ccc;
  margin: 0 auto;
  border-radius: 5px 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.out-of-scope {
  display: none !important;
}

.gru-math-expression {
  display: inline !important;
  .source {
    display: none !important;
  }
}

.katex {
  font-size: 1.5em !important;
  display: inline !important;
  margin-bottom: 0 !important;
  word-wrap: normal !important;
  span {
    display: inline !important;
    margin-bottom: 0 !important;
    word-wrap: normal !important;
  }
  .base,
  .strut,
  .mspace,
  .katex-html,
  .vlist,
  .vlist > span > span,
  .rule,
  .fontsize-ensurer,
  .sizing,
  .mtable .vertical-separator,
  .mtable .arraycolsep {
    display: inline-block !important;
  }
  .vlist > span {
    display: block !important;
  }
  .vlist .baseline-fix {
    display: inline-table !important;
  }
  .mtable .vertical-separator {
    margin: 0 -.025em !important;
  }
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.border-between > [class*='col-']:before {
  background: $light-200;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 2px;
  top: 0;
}
.border-between > [class*='col-']:first-child:before {
  display: none;
}

.border-below > [class='row']:after {
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  content: " ";
  border-bottom: 2px solid $light-200;
}

.border-below > [class='row']:last-child:after {
  display: none;
}
