/* === COLORS === */
$gru-category-panel-bg: #dcddde;

/*colors for the active emoticon icons of the player*/
$emoticon-need-help: #E28688;
$emoticon-do-not-understand: #FDD888;
$emoticon-meh: #E9EA75;
$emoticon-understand: #A5D27F;
$emoticon-can-explain: #5DBF8C;

/*colors for the performance scale indicator and metrics table*/
$gru-scale-indicator-bad: #E08282;
$gru-scale-indicator-regular: #FEC956;
$gru-scale-indicator-good: #EDF167;
$gru-scale-indicator-very-good: #A2DE81;
$gru-scale-indicator-excellent: #3FC380;

/* === EMOTIONS === */
$emotion-1-bg-pos: -254px -256px;
$emotion-2-bg-pos: -208px -256px;
$emotion-3-bg-pos: -163px -256px;
$emotion-4-bg-pos: -117px -256px;
$emotion-5-bg-pos: -71px -256px;

$emotion-1-bg-pos-active: -254px -208px;
$emotion-2-bg-pos-active: -208px -208px;
$emotion-3-bg-pos-active: -163px -208px;
$emotion-4-bg-pos-active: -117px -208px;
$emotion-5-bg-pos-active: -71px -208px;

$emotion-1-bg-pos-small: -149px -144px;
$emotion-2-bg-pos-small: -122px -144px;
$emotion-3-bg-pos-small: -95px -144px;
$emotion-4-bg-pos-small: -69px -144px;
$emotion-5-bg-pos-small: -42px -144px;


$emotion-1-border: #E28688;
$emotion-2-border: #FDD888;
$emotion-3-border: #E9EA75;
$emotion-4-border: #A5D27F;
$emotion-5-border: #5DBF8C;

/*colors for the performance score and completion circle*/
$performance-circle-background-color: #DEDEDE;

/* === DIMENSIONS === */
$player-navigator-width-xs: 80%;
$player-navigator-width-sm: 40%;
$player-navigator-width-md: 24%;

$player-navigation-height: 55px;

$narration-avatar-width:40px;

$narration-avatar-height:40px;

$overview-header:75px;

$performance-circle-size: 20px;