@mixin make-padding($total, $class, $increaseBy) {
  @for $i from 0 through $total {
    .pa-#{$class}-#{$i} {
      padding: $i * $increaseBy $i * $increaseBy $i * $increaseBy $i * $increaseBy;
    }

    .pa-#{$class}-top-#{$i} {
      padding-top: $i * $increaseBy;
    }

    .pa-#{$class}-bottom-#{$i} {
      padding-bottom: $i * $increaseBy;
    }

    .pa-#{$class}-left-#{$i} {
      padding-left: $i * $increaseBy;
    }

    .pa-#{$class}-right-#{$i} {
      padding-right: $i * $increaseBy;
    }

    .pa-#{$i} {
      padding: $i * $increaseBy;
    }
    .pa-top-#{$i} {
      padding-top: $i * $increaseBy;
    }

    .pa-bottom-#{$i} {
      padding-bottom: $i * $increaseBy;
    }

    .pa-left-#{$i} {
      padding-left: $i * $increaseBy;
    }

    .pa-right-#{$i} {
      padding-right: $i * $increaseBy;
    }
  }
}

@mixin make-margin($total, $class, $increaseBy) {
  @for $i from 0 through $total {
    .ma-#{$class}-#{$i} {
      margin: $i * $increaseBy $i * $increaseBy $i * $increaseBy $i * $increaseBy;
    }

    .ma-#{$class}-top-#{$i} {
      margin-top: $i * $increaseBy;
    }

    .ma-#{$class}-bottom-#{$i} {
      margin-bottom: $i * $increaseBy;
    }

    .ma-#{$class}-left-#{$i} {
      margin-left: $i * $increaseBy;
    }

    .ma-#{$class}-right-#{$i} {
      margin-right: $i * $increaseBy;
    }

    .ma-#{$i} {
      margin: $i * $increaseBy;
    }

    .ma-top-#{$i} {
      margin-top: $i * $increaseBy;
    }

    .ma-bottom-#{$i} {
      margin-bottom: $i * $increaseBy;
    }

    .ma-left-#{$i} {
      margin-left: $i * $increaseBy;
    }

    .ma-right-#{$i} {
      margin-right: $i * $increaseBy;
    }
  }
}
