/* contains the style guide css rules */

body {
  color: $color-gray-secondary;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: $font-size-h1;
  color: $color-blue-lighter-1;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: $font-size-h2;
  color: $color-gray-secondary;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: $font-size-h3;
  color: $color-blue-primary;
  -webkit-font-smoothing: antialiased;
}

@include make-padding(30, xs, 2px);
@include make-padding(30, null, 2px);
@include make-margin(30, null, 2px);
@media (min-width: $screen-sm-min) {
  @include make-padding(30, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-padding(30, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-padding(30, lg, 2px);
}

@include make-margin(30, xs, 2px);
@media (min-width: $screen-sm-min) {
  @include make-margin(30, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-margin(30, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-margin(30, lg, 2px);
}
