/* contains the style guide css rules */

body, p, div, span, li, textarea, input, a, td, th, select, button, i {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: $color-gray-secondary;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
  font-size: 12px;
  color: $color-blue-lighter-1;
  &:hover,
  &:visited {
    color: $color-blue-lighter-2;
  }
}

h1 {
  font-size: 34px;
  color: $color-blue-lighter-1;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 25px;
  color: $color-gray-secondary;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 20px;
  color: $color-blue-primary;
  -webkit-font-smoothing: antialiased;
}

@include make-padding(25, xs, 2px);
@include make-padding(25, null, 2px);
@include make-margin(25, null, 2px);
@media (min-width: $screen-sm-min) {
  @include make-padding(25, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-padding(25, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-padding(25, lg, 2px);
}

@include make-margin(25, xs, 2px);
@media (min-width: $screen-sm-min) {
  @include make-margin(25, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-margin(25, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-margin(25, lg, 2px);
}
