/* contains the style guide css rules */

/* COLORS */
$color-black: #000000;
$color-white: #FFFFFF;

/* i.e apply to header bar */
$color-gray-primary: #4A4A4A;
/* i.e apply to default text */
$color-gray-secondary: #515151;
/* i.e apply to footer bar */
$color-gray-3: #444;
/* i.e apply to footer border */
$color-gray-4:#616161;
/* i.e apply to some backgrounds */
$color-gray-lighter-1: #f0f0f0;
/* i.e apply to some borders */
$color-gray-lighter-2: #DDDDDD;
/* i.e apply to some texts */
$color-gray-lighter-3: #999999;
/*i.e apply to some sections*/
$color-gray-lighter-4:#e3e3e3;
/*i.e apply to some backgrounds*/
$color-gray-lighter-5: #f5f5f5;


/* i.e apply to default buttons */
$color-blue-primary: #1076bb;

/* i.e apply to default buttons */
$color-blue-secondary: #87badd;

/* i.e apply to blue text */
$color-blue-lighter-1: #4c98cc;

/* i.e apply to hover light buttons border */
$color-blue-lighter-2: #7cb0d4;

/* i.e apply to some background */
$color-blue-lighter-3: #deebf3;
/* i.e apply to some borders */
$color-blue-lighter-4: #b1d2e7;

$color-green-primary: #4e9746;


body, p, div, span, li, textarea, input, a, td, th, select, button, i {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: $color-gray-secondary;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
  font-size: 12px;
  color: $color-blue-lighter-1;
  &:hover,
  &:visited {
    color: $color-blue-lighter-2;
  }
}


h1 {
  font-size: 34px;
  color: $color-blue-lighter-1;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 25px;
  color: $color-gray-secondary;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 20px;
  color: $color-blue-primary;
  -webkit-font-smoothing: antialiased;
}

@include make-padding(20, xs, 2px);
@media (min-width: $screen-sm-min) {
  @include make-padding(20, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-padding(20, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-padding(20, lg, 2px);
}

@include make-margin(20, xs, 2px);
@media (min-width: $screen-sm-min) {
  @include make-margin(20, sm, 2px);
}
@media (min-width: $screen-md-min) {
  @include make-margin(20, md, 2px);
}
@media (min-width: $screen-lg-min) {
  @include make-margin(20, lg, 2px);
}
