/* === COLORS === */

$color-black: #000000;
$color-white: #FFFFFF;

/* i.e apply to header bar */
$color-gray-primary: #333;
/* i.e apply to header bar hover*/
$color-gray-primary-hover: #393939;
/* i.e apply to default text */
$color-gray-secondary: #515151;
/* i.e apply to footer bar */
$color-gray-3: #444;
/* i.e apply to footer border */
$color-gray-4:#616161;
/* i.e apply to collections page font */
$color-gray-5:#555;
/* i.e apply to some backgrounds */
$color-gray-lighter-1: #f0f0f0;
/* i.e apply to some borders */
$color-gray-lighter-2: #DDDDDD;
/* i.e apply to some texts */
$color-gray-lighter-3: #999999;
/*i.e apply to some sections*/
$color-gray-lighter-4:#e3e3e3;
/*i.e apply to some backgrounds*/
$color-gray-lighter-5: #f5f5f5;
/* i.e apply to footer text */
$color-gray-lighter-6:#eee;
/* i.e apply to collection bgd */
$color-gray-lighter-7:#E8E7E7;
/* i.e apply to sign up modal font */
$color-gray-lighter-8:#999;

/* i.e apply to collection results titles */
$color-blue-dark: #0c74be;
/* i.e apply to links */
$color-blue-dark-2:  #0066cc;

/* i.e apply to default buttons */
$color-blue-primary: #1076bb;

/* i.e apply to default buttons */
$color-blue-secondary: #87badd;

/* i.e apply to blue text */
$color-blue-lighter-1: #4c98cc;

/* i.e apply to hover light buttons border */
$color-blue-lighter-2: #7cb0d4;

/* i.e apply to some background */
$color-blue-lighter-3: #deebf3;
/* i.e apply to some borders */
$color-blue-lighter-4: #b1d2e7;

$color-green-primary: #4e9746;

$gru-category-panel-bg: #dcddde;

/* === DIMENSIONS === */
$player-navigator-width: 320px;

$player-navigation-height: 50px;
