.questions.answers.gru-multiple-choice{
  padding: 10px 0;

 .panel {
   margin-bottom: 15px;

   div.answer-content{
     @include flexbox();

     > div, button {
       display: inline-block;
     }

     .delete{
       outline: none;
       padding: 10px;
       cursor:pointer;
       border: 0;
       background: $white;
     }

     .letter-container{
       width: 3.5em;
       border-right: 1px solid #bbb;
       margin: 1% 0;
       h3 {
         display: inline-block;
         margin: 50% 0px;
         padding: 0px 18px 0px 18px;
         font-weight: bold;
         vertical-align: text-top;
       }
     }

     .text-area-container{
       margin-left: 10px;
       width: 86%;
       min-height: 4.9em;
       margin-top: 5px;
       .gru-textarea{
         .form-group{
           margin-bottom: 0;
           textarea{
             height: 4em;
             outline: none;
             resize: none;
           }
         }
       }
       p{
         margin-right: 10px;
       }
     }
     .check{
       min-height: 4.9em;
       width: 4.1em;
       text-align: center;
       height: auto;
     }
     button.check {
       outline: none;
       border: 0;
       background-color: $light-200;
       color:$light-400;
       border-bottom-right-radius: 6px;
       border-top-right-radius: 6px;
       cursor:pointer;
     }
     button.check.correct{
       background-color: $green-300;
       color:$dark-200;
     }
     div.check.correct{
       padding: 10px 0 10px 0;
       margin: auto 0px;
       color:$green-300;
     }
   }
 }
  .add-answer{
    margin-bottom: 30px;
    a{
      cursor:pointer;
      border: 2px dashed $gray-light;
      border-radius: 6px;
      margin-top: 10px;
      color:$gray;
      display: block;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
  }

}
