.questions.answers.gru-true-false{
  @extend .questions.answers.gru-multiple-choice;
  .panel{
    .answer-content{
      .text-area-container.read-only{
        width: 88%;
        margin-top: 10px;
        textarea{
          width: 39em;
          height: 2em;
          outline: none;
          resize: none;
        }
      }
    }
  }
}
