.questions.answers.gru-multiple-choice{
  padding: 10px 0;

 .panel.multiple-choice{
   margin-bottom: 15px;

   div.answer-content{
     @include flexbox();
    > *{
      display: inline-block;
    }
     .delete{
       outline: none;
       padding: 10px;
       cursor:pointer;
       border: 0;
       background: $white;
     }
     div.letter-container{
       padding: 10px 0 10px 0;
       width: 3.5em;
       h3 {
         display: inline-block;
         margin: 0;
         padding: 0px 18px 0px 18px;
         border-right: 1px solid $gray-light;
         font-weight: bold;
         line-height: 2.5;
         vertical-align: top;
       }
     }
     .text-area-container{
       width: 86%;
       textarea{
         width: 96%;
         height: 50%;
         margin: 7px 15px 10px 15px;
         outline: none;
         resize: none;
       }
     }
     .check {
       outline: none;
       border: 0;
       height: 4.9em;
       width: 4.1em;
       background-color: $light-200;
       color:$light-400;
       border-bottom-right-radius: 6px;
       border-top-right-radius: 6px;
       text-align: center;
       line-height: 5.8;
       cursor:pointer;
     }
     .check.correct{
       background-color: $green-300;
       color:$dark-200;
     }

   }
 }
  .add-answer{
    margin-bottom: 30px;
    a{
      cursor:pointer;
      border: 2px dashed $gray-light;
      border-radius: 6px;
      margin-top: 10px;
      padding:20px 309px;
      color:$gray;
    }
  }

}
