.teacher-class-search-content-pull-up {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 768px;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;

  .loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
  }

  .search-backdrop {
    background-color: #434c5a;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.9;
  }

  .backdrop-pull-ups {
    .backdrop {
      background: none;
    }
  }

  .search-container {
    background: #ffffff;
    width: 768px;
    max-height: 90vh;
    height: 90vh;

    .search-header {
      height: 50px;
      display: inline-flex;
      border-bottom: 1px solid #ccc;
      align-items: center;
      width: 100%;

      .search-pullup-close {
        width: 70px;
        height: 22px;

        .arrow_downward {
          font-size: 26px;
          color: #3c4452;
          margin-left: 22px;
          cursor: pointer;
        }
      }

      .gooru-logo {
        height: 18px;

        img {
          height: 12px;
        }
      }

      .search-filter-container {
        width: 150px;
        margin-left: 15px;
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #3c4452;
        font-weight: bold;
        position: relative;

        span {
          height: 24px;
        }

        .arrow_drop_down {
          padding-top: 3px;
          padding-left: 2px;
          cursor: pointer;
        }

        .search-filter-container-list {
          position: absolute;
          background: #fff;
          top: -3px;
          z-index: 2;
          left: -30px;
          box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
            z-index 0s linear 0.01s;

          p {
            padding: 0;
            margin: 0;
            font-weight: normal;
            font-size: 15px;
            padding: 5px 20px;

            &.selected {
              background-color: #cacaca;
              font-weight: bold;
            }

            &:hover {
              background-color: #cacaca;
              cursor: pointer;
            }
          }

          &.active {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s, 0s, 0.3s;
          }
        }
      }

      .search-right-menu {
        width: 532px;
        display: flex;
        justify-content: flex-end;

        .search-input-container {
          display: flex;
          position: relative;
          border: none;

          #search-content {
            -webkit-appearance: none;
            outline: none;
            border-radius: 5px;
            width: 446px;
            text-indent: 10px;
            margin-top: 4px;
            margin-bottom: 3px;
            box-shadow: inset 0 0 7px 1px #ccc;
            cursor: text;
          }

          .search-icon {
            width: 38px;
            height: 40px;
            color: #3c4452;
            cursor: pointer;
            position: absolute;
            right: 0;

            .search {
              font-size: 24px;
              margin-top: 13px;
            }

            &.active {
              color: #fa9053;
            }
          }
        }

        .search-filter-icon {
          color: #fff;
          width: 30px;

          .filter_list {
            margin-top: 14px;
            margin-left: -6px;
            visibility: hidden;
          }
        }
      }
    }

    .search-content-type-filter {
      height: 50px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      display: inline-flex;
      width: 100%;
      position: relative;

      .filter-by {
        width: 200px;
        display: flex;
        padding-left: 20px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #4b5667;
      }

      .filter-content-types {
        display: flex;
        align-items: center;

        .filter-item {
          width: 100px;
          display: grid;
          justify-items: center;
          text-align: center;
          margin-right: 15px;
          margin-top: 11px;
          cursor: pointer;
          color: #ccc;
          border-bottom-width: 2px;
          border-color: #fff;
          border-bottom-style: solid;
          transition: border-width 0.1s ease-in-out;

          i {
            width: 20px;
            height: 15px;
            background-repeat: no-repeat;
          }

          span {
            font-size: 12px;
            font-weight: bold;
            display: block;
            width: 100px;
          }

          &.collection {
            i {
              background-image: url("../assets/gooru/images/collection_gray.svg");
            }
          }

          &.assessment {
            i {
              background-image: url("../assets/gooru/images/assessment-gray.svg");
            }
          }

          &.active,
          &:hover {
            border-bottom: 2px solid #2ea9e9;
            color: #2ea9e9;

            &.collection {
              i {
                background-image: url("/assets/gooru/images/collection-blue.svg");
              }
            }

            &.assessment {
              i {
                background-image: url("/assets/gooru/images/assessment-blue.svg");
              }
            }
          }
        }
      }
    }

    .search-list-container {
      max-height: calc(90vh - 100px);
      height: calc(90vh - 100px);
      overflow-y: auto;
      height: 100%;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      background: #f1f3f7;

      .search-list {
        display: grid;
        grid-template-columns: 220px 220px 220px;
        grid-gap: 20px;
        margin: 0 auto;
        width: 700px;
      }
    }
  }
}
