<table class="table table-bordered">
  <thead>
    <tr>
      <td></td>
      <th class="header" scope="col">
        {{t "class.analytics.performance.teacher.metricsTable.average"}}
      </th>
      <th id="u1" class="header" scope="col">
        U1 Name
      </th>
      <th id="u2" class="header" scope="col">
        L2 Name
      </th>
      <th id="u2" class="header" scope="col">
        A3 Name
      </th>
      <th id="u2" class="header" scope="col">
        C3 Name
      </th>
    </tr>
    <tr>
      <th class="header" scope="row">
        {{t "class.analytics.performance.teacher.metricsTable.average"}}
      </th>
      <th class="good" scope="col">
        70%
      </th>
      <th class="bad" scope="col">
        10%
      </th>
      <th class="very-good" scope="col">
        80%
      </th>
      <th class="very-good" scope="col">
        90%
      </th>
      <th class="regular" scope="col">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="sub-header hidden-xs">
      <th>
        Name <span class="fa fa-sort-down"></span>
      </th>
      <th>
        Name <span class="fa fa-sort-down"></span>
      </th>
      <th>
        Name <span class="fa fa-sort-down"></span>
      </th>
      <th>
        Name <span class="fa fa-sort-down"></span>
      </th>
      <th>
        Name <span class="fa fa-sort-down"></span>
      </th>
      <th>
        Name <span class="fa fa-sort-down"></span>
      </th>
    </tr>
    <tr>
      <th class="header" scope="row">
        Last, First
      </th>
      <td>
        50%
      </td>
      <td>
        100%
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <th class="header" scope="row">
        Last, First
      </th>
      <td>
        50%
      </td>
      <td>
        100%
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>