<div class="controller network-followings">
  <div class="followings col-md-12 col-sm-12 col-xs-9 clearfix">
    {{#each followings as |following|}}
      <div class="card">
        {{cards.gru-user-network-card user=following followingFilter=true onUnFollowUser=unFollowUser}}
      </div>
    {{/each}}
  </div>
</div>