<div class="report-body-content">
  <div class="collapse-text">
      <span class="scatter-text">Quadratic Equation Solution</span>
      <span class="scatter-text">Parts Of Expressions</span>
      <span class="scatter-text">Graph Other Functions</span>
      <span class="scatter-text">Single Parts</span>
      <span class="scatter-text">Explain Equation Solutions</span>
      <span class="scatter-text">Function Problem Solving</span>
      <span class="scatter-text">Quadratic Equation Solution</span>
      <span class="scatter-text">Triangle Area Formula</span>
      <span class="scatter-text">Solve in/equalities</span>
      <span class="scatter-text">Domain and Range</span>
      <span class="scatter-text">Vector Problems</span>
  </div><!-- collapse text div ends -->
  <!-- View 1  -->
  <!-- <table class="report-table-data">
    <thead>
      <th class="thead-1">COMPENTENCY</th>
      <th class="thead-2"></th>
      <th class="thead-3">MASTERED</th>
      <th class="thead-4">IN PROGRESS</th>
      <th class="thead-5">NOT STARTED</th>
      <th class="thead-6"></th>
      <th class="thead-7">REPORT</th>
    </thead>
    <tbody>
      <tr>
        <td><span class="course-no">1-OA-1.1</span><span class="course-data">Funtions as Relationships</span></td>
        <td>i</td>
        <td>80%</td>
        <td>20%</td>
        <td>-</td>
        <td>bgraph</td>
        <td>rp ico</td>
      </tr>
      <tr>
        <td><span class="course-no">1-OA-1.1</span><span class="course-data">Funtions as Relationships</span></td>
        <td>i</td>
        <td>80%</td>
        <td>20%</td>
        <td>-</td>
        <td>bgraph</td>
        <td>rp ico</td>
      </tr>
    </tbody>
  </table> -->
  <!-- View 1 Ends -->

  <!-- View 2 -->
  <!-- <table class="report-table-data">
    <thead>
      <th class="thead-1">STUDENT</th>
      <th class="thead-2"><span class="unit-no">U1</span></th>
      <th class="thead-3"><span class="unit-no">U2</span></th>
      <th class="thead-4"><span class="unit-no">U3</span></th>
      <th class="thead-5"><span class="unit-no">U4</span></th>
      <th class="thead-6"><span class="unit-no">U5</span></th>
      <th class="thead-7"><span class="unit-no">U6</span></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="student-profile"></span>
          <span class="studnet-name">Carrie Olson</span>
        </td>
        <td>16%</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><span class="course-no">1-OA-1.1</span><span class="course-data">Funtions as Relationships</span></td>
        <td>i</td>
        <td>80%</td>
        <td>20%</td>
        <td>-</td>
        <td>bgraph</td>
        <td>rp ico</td>
      </tr>
    </tbody>
  </table> -->
  <!-- View 2 Ends -->

  <!-- View 3  -->
  <table class="table report-table-data">
    <thead>
      <th class="thead-1"></th>
      <th class="thead-2">STUDENT</th>
      <th class="thead-3">SCORE </th>
      <th class="thead-4"></th>
      <th class="thead-5">REPORT</th>
      <!-- <i class="fa fa-fw fa-sort"></i> -->
    </thead>
    <tbody>
      <tr>
        <td><span class="student-profile"></span></td>
        <td><span class="studnet-name">Carrie Olson</span></td>
        <td>97%</td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:97%">
            <span class="sr-only">97% Complete</span>
            </div>
          </div><!-- progress bar div ends -->
        </td>
        <td>|||</td>
      </tr>
      <tr>
        <td><span class="student-profile"></span></td>
        <td><span class="studnet-name">George Meyer</span></td>
        <td>43%</td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width:43%">
            <span class="sr-only">43% Complete</span>
            </div>
          </div><!-- progress bar div ends -->
        </td>
        <td>|||</td>
      </tr>
      <tr>
        <td><span class="student-profile"></span></td>
        <td><span class="studnet-name">George Meyer</span></td>
        <td>43%</td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width:43%">
            <span class="sr-only">43% Complete</span>
            </div>
          </div><!-- progress bar div ends -->
        </td>
        <td>|||</td>
      </tr>
      <tr>
        <td><span class="student-profile"></span></td>
        <td><span class="studnet-name">George Meyer</span></td>
        <td>43%</td>
        <td>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="width:43%">
            <span class="sr-only">43% Complete</span>
            </div>
          </div><!-- progress bar div ends -->
        </td>
        <td>|||</td>
      </tr>
    </tbody>
  </table>
  <!-- View 3 Ends -->

</div><!-- report body content div ends -->
