<ul class="nav nav-tabs" role="tablist">
  <li class="active current-study tab">
    <a {{action 'selectItem' 'current-study'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'common.currently-studying'}}</span>
    </a>
  </li>
  <li class="bookmarks tab">
    <a {{action 'selectItem' 'bookmarks'}} role="tab" data-toggle="tab">
      <span class="lead">{{t 'common.bookmarks'}}</span>
    </a>
  </li>
</ul>
