<div class="modal-header">
    <button type="button" class="close" aria-label="{{t 'common.close'}}" data-dismiss="modal">
        <span aria-hidden="true">×</span>
    </button>

</div>
<div class="row">
  <div class="col-xs-12 navigation">
    {{gru-bubbles bubbleOptions=questionsNavOptions onBubbleSelect='bubbleSelect'}}
    {{#if selectedQuestion}}
        <div class="selected-question">
            Q{{selectedQuestion.order}} {{truncate text=selectedQuestion.text type='medium'}}
        </div>
    {{/if}}
  </div>
  <div class="col-xs-5 question-info">
      Selected question here
  </div>
  <div class="col-xs-7 question-metrics">
      Selected question metrics here
  </div>
</div>
