<ul class="filters">
  {{#each questionProperties as |property index|}}
    <li class="checkbox">
      <label>
        {{input type="checkbox"
        class=property.value
        checked=property.visible
        disabled=property.filter.disabled }}
        <span>{{property.filter.label}}</span>
      </label>
    </li>
  {{/each}}
</ul>

{{ gru-two-tier-header-table
firstTierHeaders=assessmentQuestions
secondTierHeaders=questionProperties
rowHeadersHeader=studentsHeader
data=tableData
onSelectFirstTierHeader=(action 'selectQuestion')
onSelectRowHeader=(action 'selectStudent') }}
