<div class="row">
  <div class="cols-xs-12 navigation">
      Navigation here
  </div>
  <div class="col-xs-5 question-info">
      Selected question here
  </div>
  <div class="col-xs-7 question-metrics">
      Selected question metrics here
  </div>
</div>
