.student-destination-course-map-container {
  .units-container {
    height: 300px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      height: 6px;
      width: 8px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
    .u-container {  //unit-container
      height: auto;
      .header {
        height: 67px;
        border-radius: 4px;
        background-color: #ffffff;
        border-bottom: solid 1px #e3e5ea;
        display: grid;
        align-items: center;
        .title {
          font-size: 18px;
          color: #666666;
          cursor: pointer;
          padding-left: 15px;
        }
        .sequence {
          font-size: 18px;
          font-weight: bold;
          color: #000000;
          height: 30px;
          border-right: solid 1px #e3e5ea;
        }
      }

      .unit-header {
        padding-left: 15px;
        grid-template-columns: 72px auto;

      }
      .unit-body {
        .lessons-container {
          margin: 0;
          .l-container {  //lesson-container
            .lesson-header {
              padding-left: 30px;
              grid-template-columns: 90px auto;
            }
            .lesson-body {
              .collections-container {
                .c-container {  //collection-container
                  .collection-header {
                    grid-template-columns: 80px auto;
                    padding-left: 15px;
                    .collection-thumbnail {
                      width: 75px;
                      height: inherit;
                      background-size: 75px 65px;
                      background-repeat: no-repeat;
                    }
                  }
                }
              }
            }
            &.collapsed {
              .body {
                display: none;
              }
            }
            &.expanded {
              .body {
                display: grid;
              }
            }
          }
        }
      }
      &.collapsed {
        .body {
          display: none;
        }
      }
      &.expanded {
        .body {
          display: grid;
        }
      }
    }
  }
  &.route0-view {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  }
  .no-data-available {
    background-color: $white;
    font-size: 15px;
  }
}
