.course-player {
  &.player {
    .gru-course-play-header {
      top: 0;

      h1 {
        font-size: $font-size-h3;
        color: $white;
        margin: 0;
      }
    }
    .main {
      margin-top: 75px;
    }
    .aside {
      margin-top: 75px;
      @media (min-width: $screen-md) {
        @include translate-hide(-100%);
      }
      .gru-navigator {
        .navigator-header {
          padding: 10px;
        }
      }
    }
    .gru-navigation {
      padding-left: 0;
      height: 60px;
      .content {
        height: 25px;
        .navigation-bar {
          padding: 0 20px;
          height:25px;
        }
      }
    }
    .gru-viewer {
      .content {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
