.featured {
  & .controller {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
  }

  > .header {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    @media (min-width: $screen-sm) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .courses-results {
    @include flexbox;
    @include justify-content(center);
    .results {
      @include flexbox;
      @include flex-wrap(wrap);
      @include justify-content(space-around);
      margin: 40px 110px;
    }
    .no-results-found {
      width: 292px;
      height: 362px;
      display: inline-block;
      border-radius: 6px;
      .panel-body {
        height: inherit;
        @include flexbox;
        @include align-items(center);
      }
      .no-results-content {
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        > * {
          display: block;
        }
        i {
          font-size: $font-size-large-icon;
          color: $gray-dark;
          margin: 25px 0;
        }
        .title {
          font-size: $font-size-large;
        }
      }
    }
  }
}
