.featured {
  & .controller {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
  }

  .header {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $screen-sm) {
      padding-left: 40px;
      padding-right: 40px;
    }

  }
}
