.controller.forgot-password {
  display: block;
  .modal {
    display: block;
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 15px auto;
    max-width: 405px;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      width: 425px;
      max-width: 425px;
      margin: 60px auto;
    }
    .modal-dialog {
      width: 100%;
      max-width: 405px;
      margin: 0;
      @media (min-width: $screen-sm-min) {
        width: 405px;
        margin: 10px;
      }
      .modal-content {
        border: 0;
      }
      .modal-header {
        text-align: center;
        padding: 0;
        h3 {
          margin: 46px 20px 15px 20px;
        }
        .description {
          font-size: $font-size-large;
          font-weight: 300;
        }
      }
      .modal-body {
        padding: 0;
        .forgot-password-form {
          margin: 37px 24px 0;
          .form-group {
            margin: 5px 0 16px 0;
            label {
              width: 100%;
            }
            input {
              &:focus {
                border-color: $blue-200;
              }
            }
            .validation.error {
              position: relative;
              top: -15px;
            }

            &.submit-button {
              margin: 148px -24px 0;
              button {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                width: 100%;
                font-size: $font-size-h4;
                font-weight: 300;
                position: relative;
                i {
                  position: absolute;
                  font-size: $font-size-h3;
                  line-height: 48px;
                  position: absolute;
                  right: 5px;
                }
              }
            }
            span.error {
              color: $red-400;
              display: inline-block;
              font-size: 12px;
              margin-top: 4px;
            }
          }
          .footer-description {
            line-height: $font-size-h6;
          }
        }
      }
    }
  }
}
