.index {
   h2 {
    font-family: "Arvo";

  }
  .hero {
    background: url('gooru/hero.png') no-repeat;
    background-size: contain;
    min-height: 460px;
  }
  .browse_content{
    border-radius:4px;
    border: 1px solid $color-blue-lighter-4;
    margin-top: -247px;
    @media (min-width: $screen-md-min)
    {
      margin-top: -181px;
    }
    ul{
      list-style: none;
      li{
        float:left;
      }
    }
    .btn-browseContent{
      padding: 10px 16px;
      font-size: 18px;
    }
  }
  .browse_content .title{
    div{
      border:1px solid $color-gray-lighter-2;
      border-top-left-radius:4px;
      border-top-right-radius:4px;
    }
  }
  h1 {
    color: $color-white;
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
    font-family: "Arvo";
    @media (min-width: $screen-md-min)
    {
      font-size: 61px;
    }
  }
  .free_and_open{
    background: url('gooru/free-to-open-banner.png') no-repeat;
    height: 385px;
    h1{
      font-size: 44px;
    }
    .free_and_open_descrip{
      background: $color-white;
      border-radius: 4px 4px;
      opacity: .75;
      p{
        color: $color-black;
        font-family: "Arvo";
      }
    }
  }
  .empowerStudents{
    h2,p,h3{
      font-family: "Arvo";
    }
    h2,h3{
      font-weight: bold;
      margin-bottom: 0px
    }
    h3{
      color:$color-gray-secondary;
    }
    .empowerSprite{
      min-height: 158px;
      width: 187px;
      display: inline-block;
      background: url('gooru/gooru-sprite.png') no-repeat;
    }
    .findImg{
      background-position: -10px -311px;
    }
    .remixImg{
      background-position: -453px -147px;
    }
    .shareImg{
      background-position: -213px -150px;
    }
    .monitorImg{
      background-position: 23px -151px;
    }
  }
  .getting-started-banner{
    background:url('gooru/getting-started-banner.png') no-repeat;
    background-position: center;
    min-height: 400px;
  }
  .getting-started-content{
    position:relative;

    p{
      font-size: 15px;
      color: $color-gray-secondary;
    }
    .events{
      position:absolute;
      bottom: 0;
      @media (min-width: $screen-md-min)
      {
        margin-bottom: 0px;
      }
    }
    .events-icon{
      float: left;
      height: 59px;
      margin-top: 15px;
      margin-left: -28px;
      margin-right: 20px;
      width: 93px;
      display: inline-block;
      left: 10px;
      background: url('gooru/landingpageSprite.png') no-repeat;
      background-position: -270px -2px;
    }
  }
}
