.info{
  padding: 15px;
  ul{
    padding-left: 0px;
    list-style: none;
    li{
      float:left;
      padding:10px;
    }
  }
  .profile-card{
    div{
      border: 1px solid $color-gray-4;
    }
  }
  .subject,.grade,.code,.description{
    p{
      float:left;
      padding:5px;
    }
  }
  .title{
    font-weight: bold;
  }
  .code {
      border: 1px solid $color-gray-4;
      width: 179px;
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    p{
       margin:0px;
    }
  }
}
