.player {

  .gru-header,
  .gru-footer
  {
    display: none;
  }

  .app-container {
    margin: 0;
    padding: 0;
    min-height: 0;
    position: relative;

    .main {
      // temporary for GG-92
      background: #40A640;
      margin-left: $player-navigator-width;

      position: fixed;
      height: 100%;
      width: 100%;
    }

    .aside {
      // temporary for GG-92
      background: #1A1E5D;

      position: fixed;
      height: 100%;
      width: $player-navigator-width;
    }
  }
}
