.resource-player {
  .gru-header {
    display: none;
  }
  .app-container {
    padding-top: 0px;
  }
  .player-container {
    overflow: auto;
    height: 100vh;
    .player {
      @include flexbox;
      @include flex-direction(row);
      @include align-content(flex-start);
      height: 100%;
      padding-top: 104px;
    }

    .qz-aside {
      @include flex-shrink(0);
      height: 100%;
      min-height: 400px;
      background: #37424b;
      width: 60px;
      z-index: 20;
    }

    .qz-main {
      @include flexbox;
      @include flex-direction(column);
      width: 100%;
      height: 100%;
      min-height: 400px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .qz-navigator {
      height: 100%;
      width: 60px;
      background-color: $dark-400;

      .navigator-panel {
        width: 100%;
        color: $white;

        .nav-menu-icons {
          width: 60px;
          height: 80vh;
          float: left;
        }

        .nav-menu-titles {
          float: left;
          width: 240px;
          background-color: #37424b;
          height: calc(100% - 104px);
          position: absolute;
          z-index: -1;
          left: -300px;
        }

        .sub-header {
          height: 50px;
          border-bottom: 1px solid #979797;
          width: 100%;

          .title {
            float: left;
            text-align: center;
            position: relative;
            top: 50%;
            @include translateY(-50%);
            font-size: 16px;
            width: calc(100% - 60px);
            text-align: left;
          }
        }

        .nav-icon-container {
          width: 60px;
          height: inherit;
          float: left;

          i {
            position: relative;
            top: 15px;
            left: 20px;
          }

          .short-title {
            display: block;
            text-align: center;
          }
        }

        .course-map {
          background-color: #48a5ed;
          cursor: pointer;
        }

        .course-unit {
          height: 60px;
          opacity: 0.5;

          i {
            background: url("gooru/images/unit.svg") no-repeat;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 5px;
          }

          .title {
            @include ellipsis($font-size: 16px, $line-height: 1.3, $lines-to-show: 2, $excerpt-bg: $dark-400);
          }
        }

        .course-lesson {
          height: 60px;
          opacity: 0.5;

          i {
            background: url("gooru/images/lesson.svg") no-repeat;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 5px;
          }

          .title {
            @include ellipsis($font-size: 16px, $line-height: 1.3, $lines-to-show: 2, $excerpt-bg: $dark-400);
          }
        }

        .collection {
          height: 60px;

          .title {
            @include ellipsis($font-size: 16px, $line-height: 1.3, $lines-to-show: 2, $excerpt-bg: $dark-400);
          }

          i {
            background: url("gooru/images/navigation_collection_selected.svg");
            display: inline-block;
            width: 20px;
            height: 15px;
            margin-bottom: 5px;
          }

          &.assessment {
            i {
              background: url("gooru/images/navigation_assessment_selected.svg");
            }
          }
        }

        .back-to-collection {
          cursor: pointer;

          .nav-icon-container {
            i {
              left: 15px;
            }
          }
        }
      }
    }
  }
}
