.resource-player {
  height: 100%;

  .gru-footer,
  .gru-header {
    display: none;
  }

  .app-container {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .qz-resource-viewer {
    padding-bottom: 15px;
  }

  .gru-player-done {
    padding: 20px 50px;
  }
  .qz-resource-player {
    padding-top: 130px;
    @media (max-width: $screen-xs-max) {
      padding-top: 228px;
    }
  }

  .qz-resource-viewer-panel {
    margin: 0 15px 0 15px;
    max-width: none;
  }
}
