.controller.search {
  display: block;
  padding: 0;
  max-width: 960px;
  margin: auto;
  div.content-navigation {
    height: 55px;
    padding: 1px 0 0 0;
    margin: 0;
    border-bottom: 2px solid $gray-light;
    @include flexbox;
    div.category-menu {
      height: inherit;
      ul.category-options {
        @include flexbox;
        @include justify-content(space-between);
        li {
          &.active {
            border-bottom: 4px solid $gray-darker;
            a {
              box-shadow: none !important;
              -webkit-box-shadow: none !important;
              span , i{
                color: $gray-darker;
              }
            }
          }

          a {
            margin-top: 9px;
            @media (max-width: $screen-xs-max) {
              margin-top: 4px;
            }
            span {
              font-size: 16px;
              color: $light-500;
            }
          }
          &.rubrics .btn-category {
            i {
              background: url("gooru/images/add_rubric_white.svg") no-repeat
                center;
              height: 25px;
              width: 25px;
              @media (max-width: $screen-xs-max) {
                height: 16px;
              }
            }
          }
          @media (min-width: $screen-md-max) {
            margin: 0 10px;
          }
        }
        li:hover {
          > a > span {
            color: $gray-darker;
          }
          border-bottom: 4px solid $gray-darker;
        }
        @media (max-width: $screen-xs) {
          overflow: hidden;
          overflow-x: auto;
        }
        @media (min-width: $screen-sm-min) {
          margin: 0;
        }
      }
    }
    .standards {
      @include flexbox;
      @include justify-content(flex-end);
      padding: 0;

      @media (min-width: $screen-sm-min) {
        width: 36%;
      }
      @media (min-width: $screen-sm-max) {
        width: 35%;
      }
      @media (min-width: $screen-md-max) {
        width: 45%;
      }
      div {
        display: inherit;
        align-self: center;
        margin-top: 7px;
        margin-right: -2px;
      }
      .taxonomy {
        button.selected-category,
        button.selected-subject {
          background-color: $blue-400;
          max-width: 80px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @media (min-width: $screen-md-min) {
            max-width: 89px;
          }
        }
        .btn-group {
          margin-right: 5px;
          button {
            font-size: $font-size-base;
          }
        }
      }
    }

    .gru-category-picker .btn,
    .gru-subject-picker .btn {
      background-color: $blue-300;
    }
  }

  .content {
    width: 100%;

    .standards-list {
      margin: 20px;
      .gru-taxonomy-tag-list {
        .gru-taxonomy-tag {
          background-color: $blue-400;
          border: 0 none;
          margin: 0 20px 10px 0;
          overflow: visible;
          .popover {
            min-width: 280px;
          }
        }
      }
    }
  }
}
