.controller.search {
  display: block;

  .filters {
    background-color: $dark-400;
    height: 51px;
    padding: 0;
    width: 100vw;
    margin-left: -15px;

    @media (min-width: $screen-sm) {
      padding-left: 3%;
    }

  }

  .content {
    width: 100%;
  }
}
