.controller.sign-in {
  .sign-in-wrapper {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    background-color: $white;
    width: 100%;
    max-width: 400px;
    min-height: 610px;
    margin: 15px auto;
    padding: 0;
    float: none;
    @media (min-width: $screen-sm-min) {
      width: 400px;
      margin: 70px auto;
    }
    .sign-in-header {
      text-align: center;
      padding: 45px 0 0 0;
      h1 {
        font-size: $font-size-h3;
        margin: 0 0 20px 0;
      }
      .description {
        font-size: $font-size-large;
        font-weight: 300;
      }

      .google-button {
        height: 50px;
        width: 240px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 1px;
        text-align: center;
        position: relative;
        cursor: pointer;
        background-color: $blue-300;
        margin: 20px auto;
        &:active {
          background-color: $blue-400;
        }
        &:hover {
          box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
        }
        .google-button-content-wrapper {
          border: 1px solid transparent;
          width: 100%;
          height: 100%;
          .google-button-icon {
            float: left;
            background-color: $white;
            border-radius: 1px;
            padding: 15px;
            .google-button-icon-image {
              width: 18px;
              height: 18px;
              display: block;
              background: url("gooru/images/google-icon.svg");
            }
          }
          .google-button-content {
            line-height: 48px;
            font-family: $font-family-roboto;
            font-size: $font-size-h6;
            font-weight: 500;
            letter-spacing: 0.21px;
            margin-left: 6px;
            margin-right: 6px;
            vertical-align: top;
            color: $white;
          }
        }
      }
    }
    .divider {
      border-bottom: 2px solid $light-200;
      margin: 35px 0 18px;
      width: 100%;
    }
    .sign-in-form {
      padding: 15px 37px 0;
      .form-group {
        margin: 5px 0;
        label {
          width: 100%;
        }
        &.username {
          margin-bottom: 48px;
        }
        a.btn-link {
          padding: 0;
          text-transform: none;
          color: $blue-200;
          font-size: $font-size-base;
        }
        input {
          &:focus {
            border-color: $blue-200;
          }
        }
        &.log-in-button {
          margin: 50px -37px 0;
          button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            width: 100%;
            font-size: $font-size-h4;
            font-weight: 300;
            position: relative;
            i {
              position: absolute;
              font-size: $font-size-h3;
              line-height: 48px;
              position: absolute;
              right: 5px;
            }
          }
        }
      }
    }
  }
}

#toast-container.toast-top-full-width.sign-in {
  top: 55px;
  width: 100%;
  position: fixed;
  @media (min-width: $screen-md) {
    top: 63px;
  }
  > div.toast-error {
    width: inherit;
    background-image: none !important;
    background-color: $red-400;
    opacity: 1;
    @media (max-width: $screen-xs-min) {
      padding: 10px;
      margin: 0;
    }
    .toast-message {
      text-align: center;
    }
  }
}
