.study-player-external {
  .gru-header {
    display: none;
  }
  .app-container {
    padding-top: 0px;
  }
  .player-container {
    overflow: auto;
    height: 100vh;

    .player {
      height: 100%;
      padding-top: 50px;
    }
  }
}
