.study-player-external {
  .player-container {
    .gru-take-tour {
      top: 60px;
      z-index: 1100;
    }
    &.external-assessment {
      @include flexbox;
      @include justify-content(center);
      padding: 100px;

      .external-resource {
        padding: 25px;
        height: auto;
        margin: 0 20px;
        width: 87%;
        @media (min-width: $screen-sm) {
          height: 500px;
        }
        .panel-header {
          text-align: center;
        }
        p.description {
          line-height: $font-size-base;
        }
        p.title {
          font-size: $font-size-large;
          font-weight: 300;
          margin: 0 0 7px 0;
        }
        .panel-footer {
          text-align: center;
          background-color: $white;
        }
        .panel-body {
          display: flex;
          justify-content: center;
          $line-height: 1.2;
          text-decoration: none;
          color: $text-color;
          padding-bottom: 0;

          .cards.gru-resource-card {
            margin: 0 auto;
            .panel-heading {
              @include flexbox;
              @include align-items(center);
            }
            .panel-body {
              padding: 12px 15px 0 15px;
              display: block;

              .publisher {
                a {
                  color: $blue-400;
                }
              }
            }
            .panel-footer {
              margin: 0;
              text-align: left;
            }
          }
        }
      }
      .btn-next {
        @include align-self(baseline);
      }
    }
  }
}
