.study-player-external {
  .gru-header {
    display: none;
  }
  .app-container {
    padding-top: 0px;
  }
  .player-container {
    overflow: auto;
    height: 100vh;
    .gru-take-tour {
      top: 60px;
      z-index: 1100;
    }
    .player {
      @include flexbox;
      @include flex-direction(row);
      @include align-content(flex-start);
      height: 100%;
      padding-top: 104px;
    }

    .qz-main {
      @include flexbox;
      @include flex-direction(column);
      width: 100%;
      height: 100%;
      min-height: 400px;
      margin-left: 20px;
      margin-right: 20px;
    }

    &.external-assessment {
      .external-resource {
        height: auto;
        margin-top: 20px;
        .panel-header {
          text-align: center;
        }
        p.description {
          line-height: $font-size-base;
        }
        p.title {
          font-size: $font-size-large;
          font-weight: 300;
          margin: 0 0 7px 0;
        }
        .panel-footer {
          text-align: center;
          background-color: $white;
          .resource-icon-btn {
            width: 20px;
            text-align: center;
            margin: 0 auto;
            margin-top: 10px;
          }
        }
        .panel-body {
          display: flex;
          justify-content: center;
          $line-height: 1.2;
          text-decoration: none;
          color: $text-color;
          padding-bottom: 0;

          .cards.gru-resource-card {
            margin: 0 auto;
            .panel-heading {
              @include flexbox;
              @include align-items(center);
            }
            .panel-body {
              padding: 12px 15px 0 15px;
              display: block;

              .publisher {
                a {
                  color: $blue-400;
                }
              }
            }
            .panel-footer {
              margin: 0;
              text-align: $tab-float-dir;
            }
          }
        }
      }
      .btn-next {
        position: absolute;
        bottom: 35px;
        right: 20px;
      }
    }
  }
}
