.container-fluid {
  .teacher-landing {
    width: 100vw;
    background-color: $dark-400;
    color: $white;
    &.controller {
      flex-direction: column;
    }

    .title {
      > * {
        display: inline-block;
      }
    }

    .gru-take-tour {
      right: 80px;
      top: 135px;
      width: 40px;
    }

    &.atc-landing {
      opacity: 0.8;
      padding-top: 5px;
    }

    .teacher-panel {
      width: 960px;
      margin: 0 auto;
    }
  }

  .filter-date-asc {
    padding-top: 25px;
    bottom: 5px;
    float: $menu-float-dir;

    button.filter-asc,
    button.filter-date {
      margin: 1px;
      padding: 5px 18px;

      i {
        font-size: $font-size-h4;
      }

      .arrow {
        position: absolute;
        top: 50%;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        height: 0;
        width: 0;
      }

      .arrow-down {
        border-top: 4px solid $white;
      }

      .arrow-up {
        border-bottom: 4px solid $white;
      }
    }

    button.filter-asc {
      .arrow-down,
      .arrow-up {
        right: 8px;
        margin-left: 5px;
      }
    }

    button.filter-date {
      .arrow-down,
      .arrow-up {
        left: 8px;
        margin-right: 5px;
      }
    }
  }
}

.teacher-landing {
  .greetings {
    width: 960px;
    height: 30px;

    .title {
      float: $tab-float-dir;

      span {
        color: $gray;
        font-size: 19px;
      }
    }

    .featured-courses {
      span {
        color: $gray;
        font-size: 19px;
      }

      a {
        font-style: italic;
      }
    }
  }

  .panels {
    .panel {
      &.create-class,
      &.featured-courses {
        min-height: 235px;
      }

      &.featured-courses {
        .panel-body {
          .courses {
            height: 80px;
            overflow-y: auto;
          }
        }
      }

      &.create-class {
        .panel-body {
          .legend {
            height: 115px;
          }
        }
      }

      .panel-heading {
        padding: 10px 18px 0;
        font-size: $font-size-lead;
        color: $gray-base;
      }

      .panel-body {
        padding: 0 15px 10px 18px;

        .legend {
          font-size: $font-size-lead;
        }

        .courses {
          @media (min-width: $screen-lg) {
            @include flexbox;
          }

          .gru-course-card.small {
            padding: 0;
            margin: 12px 20px 0 0;
            width: 230px;
            float: $tab-float-dir;
            @media (max-width: $screen-lg) {
              width: 100%;
              float: none;
            }

            .panel {
              padding: 0;
              overflow: hidden;
              box-shadow: none;
              border: 1px solid $light-400;
              min-height: 65px;

              .panel-body {
                padding: 0;

                .card-header {
                  .header-content {
                    @media (max-width: $screen-lg) {
                      width: 100%;
                    }

                    .course-title {
                      width: 100%;
                    }

                    .subject {
                      margin: 15px 0 0;
                    }
                  }
                }
              }
            }
          }
        }

        .actions {
          margin: 22px 0 0;

          button {
            font-size: $font-size-base;
          }
        }

        .will-disappear {
          color: $light-400;
          line-height: $font-size-base;
        }
      }
    }
  }

  .tab-content {
    padding: 10px 0 0;
    clear: both;
    margin-top: 20px;
    @include transition(width 0.3s ease-out);
    @media (min-width: $screen-sm) {
      width: 100%;
    }
    @media (min-width: $screen-md) {
      width: 100%;
    }

    .tab-pane {
      margin: 0;
    }

    #archived-classes {
      margin: -10px;

      span.no-archived {
        font-size: $font-size-lead;
        margin-left: 20px;
      }
    }
  }
}

.teacher-navigator {
  padding-top: 7px;
  position: relative;
  @media (min-width: $screen-sm) {
    box-shadow: inset 0 -1px 0 $gray-light;
    -webkit-padding-start: 0px;
  }

  .nav-tabs {
    width: 95%;

    li {
      margin-right: 15px;
      float: $tab-float-dir;
      a {
        padding: 10px 0 5px;
      }
      &.active {
        a {
          color: $white;
        }
      }
      &:hover {
        a {
          color: $white;
        }
      }
    }
  }

  li {
    display: none;
    height: 46px;
    margin-bottom: 0;
    @media (min-width: $screen-sm) {
      display: block;
    }

    &.active {
      display: block;

      a {
        box-shadow: inset 0 -4px 0 $white;
        padding-left: 0;
        padding-right: 0;
        color: $white;

        &:focus {
          box-shadow: inset 0 -4px 0 $white;
        }

        &:active {
          box-shadow: inset 0 -4px 0 $white;
        }
      }
    }

    &:not(.active) {
      a {
        box-shadow: none;
      }
    }

    a {
      &:hover {
        color: $white;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .no-classes-found {
    font-size: $font-navigator;
    line-height: $font-size-h5;
    margin: 15px 0;
  }

  .actions {
    @include flexbox;
    @include align-items(flex-end);
    @include justify-content(space-between);
    height: 35px;
    margin: 8px 0 0;
  }

  .atc-view.nav {
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: solid 1px $greyish;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    .class-title {
      padding: 8px;
      width: 85%;
      line-height: 30px;
      font-size: 20px;
      color: $dark-400;
      text-transform: capitalize;
    }

    .atc-class-performance {
      width: 80px;
      text-align: center;
      color: $white;
      line-height: 50px;
      font-size: 20px;
      font-weight: bold;
    }

    .toggle-view {
      right: 18px;
      color: $dark-400;
    }
  }

  .toggle-view {
    position: absolute;
    top: 6px;
    right: 8px;
    i {
      font-size: 30px;
      line-height: 1.8;
      cursor: pointer;
    }
  }
}

.content .tab-content {
  margin-top: 20px;
}
