<ul>
  {{#each answers as |answer index|}}
      <li>
          <span class="{{if answer.correct 'correct' 'incorrect'}}">{{answer.selectedOrder}}</span>
          <span class="answer-text">{{{answer.text}}}</span>
      </li>
  {{/each}}
</ul>
