 ul.gru-performance-summary, ul.performance-headers{

    @include respond-to(xs) {
      height: 100%;
    }
  }
  ul.gru-performance-summary{
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    >*{
      width: 100%;
      -webkit-order: 0;
      order: 0;
      -webkit-flex-grow: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 1;
      flex-shrink: 1;
      -webkit-flex-basis: auto;
      flex-basis: auto;
      -webkit-align-self: auto;
      align-self: auto;
    }
    li{
      height: $performance-circle-size;
      @include respond-to(xs){
        display: none;
      }
      &.selected{
        @include respond-to(xs){
          display: inline-block;
        }
      }
      &.completion {
        div{
          &.collection-or-assessment{
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-align-content: stretch;
            align-content: stretch;
            display: -webkit-flex;
            display: flex;
            @include respond-to(xs){
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
              padding-left: 30%;
            }
            >*{
              -webkit-order: 0;
              order: 0;
              -webkit-flex-grow: 0;
              flex-grow: 0;
              -webkit-flex-shrink: 1;
              flex-shrink: 1;
              -webkit-flex-basis: auto;
              flex-basis: auto;
              -webkit-align-self: auto;
              align-self: auto;
            }
          }
          span {
            color:$color-gray-6;
            &:last-child{
              font-size:$font-size-small;
            }
            &.collection-or-assessment-is-completed i{
              color:$color-blue-primary;
            }
            i{
              color:$color-gray-lighter-12;
            }
          }

        }

      }
      .description{
        height: $performance-circle-size;
        display: inline-block;
        margin: 0 auto;
        p{
          display: inline-block;
          margin-left: 10px;
        }
        .radial-progress {
          float:left;
          width: $performance-circle-size;
          height: $performance-circle-size;
          background-color: $performance-circle-background-color;
          border-radius: 100%;
          .circle {
            .mask, .fill {
              width: $performance-circle-size;
              height: $performance-circle-size;
              position: absolute;
              border-radius: 50%;
              -webkit-backface-visibility: hidden;
            }
            .mask {
              clip: rect(0px, $performance-circle-size, $performance-circle-size, $performance-circle-size/2);
              .fill {
                clip: rect(0px, $performance-circle-size/2, $performance-circle-size, 0px);
                background-color: $color-blue-primary;
              }
            }
          }
        }
      }
    }


}
