.gru-data-picker {
  @media (max-width: $screen-xs) {
    margin: 0 auto;
    text-align: center;
  }
  .checkbox {
    label {
      padding: 0;
      height: 24px;
      display: table;
      input {
        color: $white;
        width: 21px;
        height: 24px;
        margin: 0;
        display: table-cell;
        vertical-align: middle;
      }
      input[type="checkbox"]:checked:before {
        top: 3px;
      }
      input[type="checkbox"]:disabled:checked:after {
        background-color: #0072bc!important;
        border-color: #0072bc!important;
        color: white!important;
      }
      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
