.gru-data-picker {
  margin: 0 auto;
  text-align: center;
  .list-inline{
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    display: -webkit-flex;
    display: flex;
  }
  .checkbox {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    display: -webkit-flex;
    display: flex;
    input {
      color: $white;
      margin: 0;
      background-color: transparent;
    }
    input[type="checkbox"]:checked:after {
      background-color: $blue-400!important;
      border-color: $blue-400;
    }
    input[type="checkbox"]:after {
      background-color: $gray-light;
      border: 2px solid $gray;
      border-radius: 3px;
      @media (max-width: $screen-xs-max) {
        border-radius:50%;
        border-color:$gray-light;
      }
    }
    input[type="checkbox"]:disabled:checked:after {
      background-color: $blue-400!important;
      border-color: $blue-400!important;
      color: $white!important;
    }
    label {
      padding: 0;
    }
  }
}
.analytics-performance-student{
  .gru-data-picker .checkbox {
    input[type="checkbox"]:checked:before {
      top:3px;
      content:none;
    }
    input[type="checkbox"]:after{
      margin:0;
      width:15px;
      height: 15px;
    }
  }
}
.analytics-performance-teacher {
  .gru-data-picker {
    .checkbox {
      @media (min-width: $screen-xs-max) {
        padding: 0;
        -webkit-flex-direction: row;
        flex-direction: row;
      }
      input {
        width: 18px;
        height: 16px;
        margin: 0 5px 0 0;
      }
      input[type="checkbox"]:after{
        @media (min-width: $screen-xs-max) {
          background-color: transparent;
        }
      }
    }
    input[type="checkbox"]:checked:before {
      @media (max-width: $screen-xs-max) {
        top: 3px;
        content: none;
      }
    }
  }
}
