.gru-student-performance-container{
  padding: 0;
  .gru-unit-performance-container {
    margin: 15px 0;
    border:1px solid $color-gray-lighter-12;
    border-radius: 0;
    &.selected >ul{
      background-color:$color-gray-lighter-6;
    }
    >ul {
      height: 105px;
      padding: 20px;
      margin: 0;
      @include respond-to(xs) {
        padding: 0;
      }
    }
    ul{
      list-style: none;
      li{
        float:left;
        display:inline-block;
        height: 100%;
        padding: 0;
        &.performance-unit-title{
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          -webkit-align-content: stretch;
          align-content: stretch;
          display: -webkit-flex;
          display: flex;
          a{
            font-family:$font-family-base;
            font-weight: bold;
            color:$color-gray-dark-2;
          }
        }
        span i{
          margin-right: 10px;
        }
      }
    }
    .lessons-container{
      margin: 0;
      >ul{
        display: inline-block;
        width:100%;
        height: 70px;
        border-top:1px solid $color-gray-lighter-12;
        padding: 20px;
      }
    }
  }

}

  ul.gru-performance-summary, ul.performance-headers{
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    display: -webkit-flex;
    display: flex;
    padding: 0;
    text-align: center;
    height: 50%;
    @include respond-to(xs) {
      height: 100%;
    }
    li{
      width: 19%;
      -webkit-order: 0;
      order: 0;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      -webkit-flex-shrink: 1;
      flex-shrink: 1;
      -webkit-flex-basis: auto;
      flex-basis: auto;
      -webkit-align-self: auto;
      align-self: auto;
      display: inline-block;
    }
  }
  ul.gru-performance-summary{
    @include respond-to(xs){
      border-left: 1px solid;
    }
    li{
      height: $performance-circle-size;
      @include respond-to(xs){
        display: none;
      }
      &.selected{
        @include respond-to(xs){
          display: inline-block;
        }
      }
      .description{
        height: $performance-circle-size;
        display: inline-block;
        margin: 0 auto;
        p{
          display: inline-block;
          margin-left: 10px;
        }
        .radial-progress {
          float:left;
          width: $performance-circle-size;
          height: $performance-circle-size;
          background-color: $performance-circle-background-color;
          border-radius: 100%;
          .circle {
            .mask, .fill {
              width: $performance-circle-size;
              height: $performance-circle-size;
              position: absolute;
              border-radius: 50%;
              -webkit-backface-visibility: hidden;
            }
            .mask {
              clip: rect(0px, $performance-circle-size, $performance-circle-size, $performance-circle-size/2);
              .fill {
                clip: rect(0px, $performance-circle-size/2, $performance-circle-size, 0px);
                background-color: $color-blue-primary;
              }
            }
          }
        }
      }
    }


}
