.gru-scale-indicator {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  .indicator-list {
    font-size: $font-size-small;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style: none;
      margin: 0;
      @media (min-width: $screen-sm) {
        margin: 0 10px 0 0;
      }
      .indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 3px 0 0;
        @media (min-width: $screen-xs) {
          margin: 0 5px 0 0;
        }
      }
      .bad {
        background-color: $gru-scale-indicator-bad;
      }
      .regular {
        background-color: $gru-scale-indicator-regular;
      }
      .good {
        background-color: $gru-scale-indicator-good;
      }
      .very-good {
        background-color: $gru-scale-indicator-very-good;
      }
      .excellent {
        background-color: $gru-scale-indicator-excellent;
      }
    }
  }
}
