{{#each performances as | performance index | }}

  {{class.analytics.performance.student.gru-unit-performance
    performance=performance
    selectedOption=selectedOption
    localIndex=index
    classModel=classModel
    userId=userId
  }}

{{else}}

    <h3>No content available</h3>

{{/each}}