{{#if class.courseId}}
<div class="controller analytics-performance-student">
  <div class="student-actions">
    {{class.analytics.performance.gru-actions-bar
      mode='student'
      onFilterSelected="selectFilterBy"
      selectedFilterBy=filterBy
      enableFullScreen=false
    }}
  </div>
  <div class="performance-picker visible-xs">
    {{class.analytics.performance.gru-data-picker
    onOptionsChange="optionsChange"}}
  </div>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane performance-content active" id="performance">
        {{class.analytics.performance.student.gru-student-performance
          performances=performances
          classModel=classModel
          userId=userId
          selectedOption=selectedOption
          selectedFilterBy=filterBy
          onSelectResource="playResource"
          onViewReport="viewReport"
          onLocationUpdate=(action 'updateLocation')
          selectedUnitId=unitId
          selectedLessonId=lessonId
          contentVisibility=contentVisibility
        }}
      </div>
      <div role="tabpanel" class="tab-pane" id="mastery"></div>
  </div>
</div>
{{else}}
  <div class="no-content">This classroom does not have a related course and it has no content</div>
{{/if}}
