.reports.class-assessment.gru-table-view {

  > .filters {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;

    li.checkbox {
      display: inline-block;
      margin: 0 15px 0 0;
    }
  }
}
