.reports.class-assessment.gru-summary {
  $chart-diameter: 6rem;

  @include clearfix;
  padding: 20px 0;

  .overview {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    border-right: 1px solid $color-gray-lighter-2;
    padding-right: 20px;

    > li {
      width: $chart-diameter + 3rem;
      text-align: center;
      float: left;

      > div {
        height: $chart-diameter;
        width: $chart-diameter;
        margin: 0 auto;
      }

      > span {
        display: block;
        margin-top: 10px;
      }
    }
  }

  .questions {
    float: left;
    width: 200px;
    height: $chart-diameter;
    background-color: blue;
  }
}
