.reports.class-assessment.gru-table-view {

  > .filters {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;

    li.checkbox {
      display: inline-block;
      margin: 0 15px 0 0;
    }
  }

  .gru-two-tier-header-table {
    .answer-correct, .answer-incorrect {
      font-size: 2.2rem;
    }
    .answer-correct {
      color: $brand-success;
    }
    .answer-incorrect {
      color: $brand-incorrect;
    }

    table tr.data th {
      max-width: 12rem;

      span {
        display: block;
        @include text-overflow();
      }
    }
  }
}
