.reports.class-assessment.gru-student-performance-box {
  width: 22%;
  margin-right: 2%;

  .panel-heading{
    cursor: pointer;
    color: $white;
    line-height: 12px;

    &.anonymous{
      font-size: $font-size-anonymous;
    }
    &.not-started{
      background-color: $dark-300;
    }
    .question-in-progress{
      float: right;
    }
  }

  .panel-body {
    padding: 5px 15px;
  }

  .questions {
    display: flex;
    flex-wrap: wrap;
    span {
      cursor: pointer;
      width: 22px;
      height: 22px;
      margin-left: 7px;
      margin-bottom: 5px;
      border-radius: 4px;
      &.skipped, &.not-started {
        background-color: $light-200;
      }
      &.correct {
        background-color: $brand-success;
      }
      &.incorrect {
        background-color: $brand-incorrect;
      }
    }
  }
}
