.reports.class-assessment.gru-student-view {
  .sort-section{
    margin-top: -5px;

    .btn-group button span i{
      vertical-align: middle;
      padding: 0 10px 0 0;
    }
  }
  .student-performance-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
  }
}
