.reports.class-assessment.gru-summary {
  $chart-diameter: 6rem;
  $small-chart-diameter: 4rem;

  padding: 20px 0;

  .content {
    margin-bottom: 20px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    .overview {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      float: left;
      border-right: 1px solid $gray-lighter;
      padding-right: 20px;

      > li {
        width: $chart-diameter + 3rem;
        text-align: center;
        display: inline-block;

        > div {
          height: $chart-diameter;
          width: $chart-diameter;
          margin: 0 auto;
        }

        > span {
          display: block;
          margin-top: 10px;
        }
      }

      &.small {
        display: none;
        padding-right: 10px;

        > li {
          width: $small-chart-diameter;
          float: left;
          display: block;

          &:first-child {
            margin-right: 10px;
          }

          &:last-child {
            clear: both;
            float: none;
            margin: 0 auto;
          }

          > div {
            height: $small-chart-diameter;
            width: $small-chart-diameter;
          }
        }
      }
    }

    .gru-questions-summary {
      z-index: 1;
      flex: 1;
    }

    &.all-questions {

      .overview {
        display: none;
        padding-right: 15px;

        &.small {
          display: block;
        }
      }
    }
  }
}
