.reports.class-assessment.gru-questions-detail {
  height: 400px;
  .row{
    height: inherit;
    .navigation {
      height: 80px;
      border-bottom: 1px solid $gray-darker;
      .selected-question{
        margin-top: 5px;
      }
      .gru-bubbles {
        .bubble.selected {
          background-color: $gray-light;
          color: $white;
        }
      }
    }
    .question-info {
      height: inherit;
      background-color: $gray-light;
    }
    .question-metrics {
      height: inherit;
      .chart {
        margin-top: 20px;
        height:25px;
        width: 90%;
        .ratio {
          padding-left: 1.3em;
          text-align: center;
        }
      }
    }
  }
}
