.reports.class-assessment.gru-questions-detail {
  height: 400px;
  padding: 12px;
  .close{
    color: $white;
  }
  .navigation {
    height: 80px;
    border-bottom: 1px solid $gray-darker;
    .selected-question{
      margin-top: 5px;
    }
    .gru-bubbles {
      display: inline-block;
      .bubble.selected {
        background-color: $gray-light;
        color: $white;
      }
    }
    .btn-results{
      float: right;
      margin-top: 10px;
    }
  }
  .body{
    display: flex;
    padding-top: 20px;
    .question-info {
      width: 40%;
    }
    .question-metrics {
      width: 60%;
      padding-left: 10px;
    }
  }
}
