.reports.class-assessment.gru-question-performance {
  .chart {
    height: 25px;
    width: 85%;
    display: inline-block;
    .gru-x-bar-chart {
      background-color: $body-bg;
    }
  }

  .panel-answer {
    .panel-heading-anonymous {
      background-color: $blue-400;
    }
  }

  .answers-wrapper {
    padding: 10px;
    .answer {
      width: 100%;
      margin-bottom:20px;
    }
    .students {
      width: 100%;
      .label{
        background-color: $dark-500;
        padding: 3px;
        margin-left: 5px;
        margin-bottom: 5px;
        font-size: $font-size-base;
      }
    }
    .answer-chart{
      height: 25px;
      width: 85%;
      display: inline-block;
      .gru-x-bar-chart {
        background-color: $body-bg;
      }

    }
  }
}

