.reports.class-assessment.gru-question-performance {
  .chart {
    height: 25px;
    width: 88%;
    margin-bottom: 20px;

    .gru-x-bar-chart {
      background-color: $body-bg;
    }

    .ratio {
      background-color: transparent;
      padding-left: 1.3em;
      text-align: center;
    }
  }
  .answers-wrapper {
    padding: 10px;
    .answer {
      width: 100%;
    }
    .students {
      width: 100%;
      .label{
        background-color: $dark-500;
        padding: 3px;
        margin-left: 5px;
        margin-bottom: 5px;
        font-size: $font-size-base;
      }
    }
  }
}
