<div class="controller content resources edit">
  {{content.resources.gru-resource-edit resource=resource collection=collection isEditing=isEditing tempResource=tempResource centurySkills=centurySkills}}
  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      {{{t "content.resources.edit.best-practices"}}}
    </div>
  </aside>

</div>
