<div class="controller join-class class-modal">
  {{content.modals.gru-join-class onJoinClass="joinClass"
    validCode=validCode
    notMember=notMember
    allowedCode=allowedCode
    isLoading=isLoading}}
</div>
