<div class="controller join-class class-modal col-md-12 col-md-offset-3">
  {{content.modals.gru-join-class onJoinClass="joinClass"
    validCode=validCode
    notMember=notMember
    allowedCode=allowedCode
    isLoading=isLoading}}
</div>
