<div class="title">
    <h2>{{t "gru-mastery.mastery"}}</h2>
</div>
<div class="scale-indicator">
  {{class.analytics.performance.gru-scale-indicator}}
</div>
{{#each learningTargets as learningTarget}}
    <div class="learning-target">
        <span>Learning Target</span>
    </div>
{{/each}}


