<div class="header">
  <h2>{{t "common.mastery"}}</h2>
  {{grading-scale-legend}}
</div>

{{#each learningTargets as |learningTarget|}}
    <div class="learning-target">
        {{reports.assessment.gru-learning-target learningTarget=learningTarget assessmentResult=assessmentResult}}
    </div>
{{/each}}


