<div class="header">
    <h4 class="hidden-xs">{{t "common.standard"}}</h4>
</div>
<div class="standard-root">
{{#each learningTargets as |learningTarget|}}
  {{reports.assessment.gru-learning-target learningTarget=learningTarget assessmentResult=assessmentResult onBubbleSelect='bubbleSelect'}}
{{/each}}
</div>
