<div class="header">
  <h2>{{t "common.mastery"}}</h2>
  {{grading-scale-legend}}
</div>

{{#each learningTargets as learningTarget}}
    <div class="learning-target">
        <span>Learning Target</span>
    </div>
{{/each}}


