.content.rubric.gru-scoring-levels{
  @include flexbox;
  width: 100%;
  .level{
    width: 69%;
    .levels{
      @include flexbox;
      .scale {
        margin: 10px 0 0 0;
        .line{
          border-left: 1px solid $gray-light;
          min-height: 134px;
          margin: 0 0 0 15px;
        }
        .arrow-down{
          margin: 0 0 0 10px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $gray-light;
        }
      }
      .level-list{
        width: 100%;
        margin: 0 0 0 16px;
        input{
          font-size: $font-size-base;
        }
      }
    }
  }
  .points{
    margin: 0 0 0 30px;
    .point-list{
      padding: 0 0 0 45px;
      div{
        @include flexbox;
        .gru-input.point{
          width: 45%;
        }
      }
    }
  }
  .delete-levels{
    padding: 45px 0 0 0;
    .btn{
      display: block;
      margin: 0 0 27% 27%;
      background-color: transparent;
      font-size: 24px;
      line-height: 1;
      padding: 7px 5px;
    }
    .actions{
      border-left: 1px solid $gray-light;
    }
  }
  .btn-new-level{
    margin: 0 0 0 65px;
    font-size: $font-size-base;
    i{
      font-size: $font-size-h4;
      vertical-align: bottom;
    }
  }
}
