.controller.teacher.class.class-management {
  .header-info {
    max-width: 960px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
    margin: auto;
    background-color: $white;
    .class-information {
      height: 60px;
      .class-name {
        > span {
          font-size: 11px;
          opacity: 0.7;
          color: $dark-300;
          position: absolute;
          margin-top: 10px;
        }
        .edit-text {
          display: flex;
          position: absolute;
          margin-top: 26px;
          .gru-icon.edit {
            opacity: 0.3;
            font-size: 18px;
            margin-left: 10px;
            position: absolute;
            line-height: 1.2;
            cursor: pointer;
          }
        }
      }
    }
    .course-information {
      height: 60px;
      display: flex;
      .actions {
        margin-left: 283px;
        margin-top: 18px;
        .delete-btn, .archive-btn {
          cursor: pointer;
        }
        .archive-btn {
          margin-right: 10px;
        }
      }
      .edit-text {
        display: flex;
        margin-top: 26px;
        position: absolute;
        .gru-icon.edit {
          opacity: 0.3;
          font-size: 18px;
          margin-left: 10px;
          line-height: 1.2;
          position: absolute;
          cursor: pointer;
        }
      }
    }
  }
  padding: 0;
  .panel {
    min-height: 180px;
    .panel-header {
      min-height: 30px;
      h5 {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
      }
      .actions {
        @media (min-width: $screen-sm) {
          float: right;
        }
        button {
          padding: 4px 15px;
        }
      }
    }
    .panel-body {
      clear: both;
      padding: 5px;
      p {
        margin: 0;
        color: $gray-base;
        font-weight: 300;
        line-height: $font-family-base;
      }
      .edit-text {
        font-size: 13px;
        color: $dark-300;
        .gru-icon.edit {
          color: $light-400;
          font-size: $font-size-large;
          cursor: pointer;
        }
        .gru-input {
          &.minScore {
            width: 20%;
          }
          &.title {
            width: 50%;
          }
        }
      }
    }
  }

  .class-panel {
    .class-code {
      margin: 5px -15px 0;
      .input-group {
        width: 132px;
        @media (max-width: $screen-xs) {
          width: 100%;
        }
        input {
          text-align: center;
          border: 1px solid $light-400;
          -webkit-border-top-left-radius: 3px;
          -moz-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          -moz-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
          color: $gray-base;
          height: 34px;
          width: 98px;
          font-size: $font-navigator;
          @media (max-width: $screen-xs) {
            width: 100%;
            font-size: $font-size-xsmall;
          }
        }
        .gru-copy-value {
          .copy-btn {
            height: inherit;
          }
        }
        .input-group-addon {
          background-color: $dark-300;
          border-left: 1px solid $white;
          padding: 0 8px;
          i {
            color: white;
            font-size: $font-size-lead;
          }
          .tooltip {
            width: 100%;
            line-height: $font-size-base;
          }
        }
      }
      .gru-switch {
        margin: 0;
        padding: 0;
        .btn-default.active {
          background-color: $dark-300;
        }
      }
    }
  }

  .course-panel {
    .panel-body {
      padding: 5px 0;
      .course-information {
        .gru-course-card.small {
          padding: 0;
          margin: 7px 0 0;
          @media (max-width: $screen-lg) {
            width: 100%;
          }
          .panel {
            padding: 0;
            overflow: hidden;
            border-shadow: none;
            box-shadow: none;
            border: 1px solid $light-400;
            min-height: 65px;
            .panel-body {
              padding: 0;
              .card-header {
                .header-content {
                  @media (max-width: $screen-lg) {
                    width: 100%;
                  }
                  .course-title {
                    width: 100%;
                  }
                  .subject {
                    margin: 15px 0 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .students-panel {
    margin-top: 20px;
    min-height: 0;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    p {
      color: $gray-base;
    }
    button {
      border: 1px solid $table-border-color;
      padding: 6px 20px;
    }
    .panel-heading {
      height: 48px;
      padding: 0;
      border-bottom: 2px solid $light-200;
      .sortable {
        width: 219px;
        padding-left: 23px;
        border-right: 1px dashed $light-200;
        span {
          color: $dark-400;
          font-size: 14px;
          font-weight: bold;
          margin-right: 14px;
        }
      }
      .sortable:last-child {
        border-right: none;
      }
      @include flexbox();
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      div {
        @include flexbox();
        @include align-items(center);
        width: 12%;
        @media (max-width: $screen-xs) {
          width: 25%;
        }
        &.sortable {
          cursor: pointer;
        }
      }
    }
    .panel-body {
      padding: 0;
      max-height: 215px;
      overflow-y: auto;
      table {
        width: 100%;
        margin-bottom: 0;

        .student-id {
          width: 63%;
        }
        .student {
          height: 36px;
          td {
            padding: 0;
            width: 146px !important;
            border-top: none;
          }
          span {
            font-size: 12px;
            color: $gray-29;
            margin-left: 23px;
            line-height: 36px;
          }
          .remove-student {
            cursor: pointer;
            > i {
              color: $gray-80;
            }
          }
        }
      }
      .border-right {
        border-right: 1px dashed $table-border-color;
        @media (max-width: $screen-xs) {
          width: 40%;
        }
      }
    }
    .panel-body::-webkit-scrollbar {
      width: 4px;
      border-radius: 3px;
    }

    .panel-body::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
  }
  .assessment-min-score {
    margin-left: 100px;
    > span {
      font-size: 11px;
      opacity: 0.7;
      color: $dark-300;
      margin-top: 10px;
      position: absolute;
    }
    .gru-input-number {
      .error-messages {
        margin-top: -5px;
      }
    }
  }
  .no-students {
    .student-null {
      background: url('gooru/images/student-null.png') no-repeat;
      height: 250px;
      width: 250px;
      background-size: 216px 216px;
      margin: 25px auto auto;
    }
    div.message {
      color: $gray-dove;
      font-size: 19.5px;
      font-weight: 300;
      line-height: 1.54;
      text-align: center;
    }
  }
}
