.controller.teacher.class.class-activities {
  padding: 0;
  margin: 20px 0 20px 0;

  .links {
    font-size: $font-size-lead;
    line-height: $font-size-lead;
    text-align: center;
  }

  .class-activity-accordion {
    height: 60px;
    margin-top: 5px;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    &:before {
      border: 1px solid $light-300;
      content: "";
      height: 1px;
      width: 35vw;
    }

    &:after {
      border: 1px solid $light-300;
      content: "";
      height: 1px;
      width: 35vw;
    }

    .title {
      font-size: $font-size-lead;
    }
  }

  .collections {
    padding: 0;
    .gru-class-activity-panel {
      margin: 10px 0 0 0;
    }
    li.no-content {
      list-style: none;
      margin: 10px 0 0 0;
    }
  }
}
