.controller.teacher.class.class-management {
  .header-info {
    max-width: 960px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
    margin: auto;
    margin-top: 10px;
    background-color: $white;
    .class-information {
      height: 60px;
      float: $tab-float-dir;
      .class-name {
        > span {
          font-size: 11px;
          opacity: 0.7;
          color: $dark-300;
          position: absolute;
          margin-top: 10px;
        }
        .edit-text {
          display: flex;
          position: absolute;
          margin-top: 26px;
          .gru-icon.edit {
            opacity: 0.3;
            font-size: 18px;
            margin-left: 10px;
            position: absolute;
            line-height: 1.2;
            cursor: pointer;
          }
        }
      }
    }
    .course-information {
      height: 60px;
      display: block;
      .actions {
        // margin-left: 283px;
        float: $menu-float-dir;
        margin-top: 18px;
        .delete-btn,
        .archive-btn {
          cursor: pointer;
        }
        .archive-btn {
          margin-right: 10px;
        }
      }
      .edit-text {
        display: flex;
        margin-top: 26px;
        position: absolute;
        .gru-icon.edit {
          opacity: 0.3;
          font-size: 18px;
          margin-left: 10px;
          line-height: 1.2;
          position: absolute;
          cursor: pointer;
        }
      }
    }
  }

  .students-panel {
    margin-top: 20px;
    min-height: 0;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    table {
      width: 100%;
      margin-bottom: 0;
      thead,
      tbody {
        display: block;
      }
      .table-header {
        background-color: $white;
        width: 100%;
        border-bottom: 2px solid $light-200;
        th {
          padding: 0;
          border-bottom: none;
          height: 48px;
          width: 36%;
          @media (min-width: $screen-sm-max) {
            border-right: 2px dashed $table-border-color;
            width: 218px;
          }
          div {
            padding: 0 0 10px 10px;
            display: flex;
            i {
              margin-left: 15px;
              cursor: pointer;
            }
          }
          span {
            font-size: 14px;
            color: $dark-400;
            font-weight: bold;
            margin-left: 15px;
          }
        }
      }
      tbody {
        width: 100%;
        max-height: 182px;
        overflow: auto;
        tr:nth-child(odd) {
          background-color: $light-100;
        }
        tr:nth-child(even) {
          background-color: $white;
        }
        .student {
          height: 36px;
          td.border-right {
            width: 218px;
            white-space: nowrap;
            padding: 0;
            border-top: none;
            span {
              font-size: 12px;
              color: $gray-29;
              margin-left: 23px;
              line-height: 36px;
            }
          }
          td.student-actions {
            border: none;
            width: calc(955px - 654px);
            padding: 0;
            .remove-student {
              cursor: pointer;
              > i {
                line-height: 35px;
                margin-right: 9px;
                color: $gray-80;
              }
            }
          }
        }
      }
    }
    .border-right {
      border-right: 2px dashed $table-border-color;
    }
    tbody::-webkit-scrollbar {
      width: 4px;
      border-radius: 3px;
    }

    tbody::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
  }
  .assessment-min-score {
    margin-left: 100px;
    > span {
      font-size: 11px;
      opacity: 0.7;
      color: $dark-300;
      margin-top: 10px;
      position: absolute;
    }
    .gru-input-number {
      .error-messages {
        margin-top: -5px;
      }
    }
  }
  .no-students {
    .student-null {
      background: url("gooru/images/student-null.png") no-repeat;
      height: 250px;
      width: 250px;
      background-size: 216px 216px;
      margin: 25px auto auto;
    }
    div.message {
      color: $gray-dove;
      font-size: 19.5px;
      font-weight: 300;
      line-height: 1.54;
      text-align: center;
    }
  }
}
