.controller.teacher.class.class-management {
  max-width: 960px;
  margin: 0 auto;
  .miniprofile {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border-color: transparent;
  }

  .header-info {
    max-width: 960px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
    margin: auto;
    margin-top: 80px;
    margin-bottom: 10px;
    background-color: $white;
    .class-information {
      height: 60px;
      float: $tab-float-dir;
      .class-name {
        > span {
          font-size: 11px;
          opacity: 0.7;
          color: $dark-300;
          position: absolute;
          margin-top: 10px;
        }
        .edit-text {
          display: flex;
          position: absolute;
          margin-top: 26px;
          .gru-icon.edit {
            opacity: 0.3;
            font-size: 18px;
            margin-left: 10px;
            position: absolute;
            line-height: 1.2;
            cursor: pointer;
          }
        }
      }
    }
    .course-information {
      height: 60px;
      display: block;
      .actions {
        // margin-left: 283px;
        float: $menu-float-dir;
        margin-top: 18px;
        .delete-btn,
        .archive-btn {
          cursor: pointer;
        }
        .archive-btn {
          margin-right: 10px;
        }
      }
      .edit-text {
        display: flex;
        margin-top: 26px;
        position: absolute;
        .gru-icon.edit {
          opacity: 0.3;
          font-size: 18px;
          margin-left: 10px;
          line-height: 1.2;
          position: absolute;
          cursor: pointer;
        }
      }
    }
  }

  .student-title {
    width: 64px;
    height: 19px;
    opacity: 0.5;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $gray-base;
    margin-top: 1.9%;
  }

  .students-panel {
    margin-top: 10px;
    min-height: 0;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    .student-actions-width {
      width: calc((955px - 640px) / 3);
      align-items: center;
    }

    table {
      width: 100%;
      margin-bottom: 0;
      thead {
        display: block;
      }
      tbody {
        display: block;
        max-height: 364px;
      }
      .table-header {
        background-color: $white;
        width: 100%;
        border-bottom: 1px solid $light-300;
        th {
          padding: 0;
          border-bottom: none;
          height: 48px;
          //width: 36%;
          @media (min-width: $screen-sm-max) {
            //border-right: 2px dashed $table-border-color;
            // width: calc((955px - 654px) /4);
          }
          th.miniprofile {
            @extend .miniprofile;
          }
          .student-actions {
            @extend .student-actions-width;
          }
          .datacolumn {
            width: calc((654px - 29px) / 3);
          }
          div {
            padding: 0 0 10px 10px;
            display: flex;
            i {
              margin-left: 15px;
              cursor: pointer;
            }
          }
          span {
            font-size: 14px;
            color: $dark-400;
            font-weight: bold;
            margin-left: 15px;
          }
        }
      }

      tbody {
        width: 100%;
        overflow: auto;
        tr {
          border-bottom: 1px solid $light-200;
        }

        tr:nth-child(odd) {
          background-color: $white;
        }
        tr:nth-child(even) {
          background-color: $white;
        }
        .student {
          height: 36px;
          .miniprofile {
            @extend .miniprofile;

            cursor: pointer;
          }
          td.datacolumn {
            width: calc((654px - 29px) / 3);
          }
          td.border-right {
            width: 218px;
            white-space: nowrap;
            padding: 0;
            border-top: none;
            span {
              font-size: 12px;
              color: $gray-29;
              margin-left: 23px;
              line-height: 36px;
            }
          }
          td.student-actions {
            //border: none;
            //width: 91px;
            @extend .student-actions-width;
            vertical-align: bottom;
            line-height: 35px;
            padding: 0;
            padding-left: 31px;
            cursor: pointer;
            .remove-student {
              cursor: pointer;
              > i {
                line-height: 35px;
                margin-right: 9px;
                color: $gray-80;
              }
            }

            img {
              vertical-align: top;
            }

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
            }
          }
        }
      }
    }
    .border-right {
      border-right: 2px dashed $table-border-color;
    }
    tbody::-webkit-scrollbar {
      width: 4px;
      border-radius: 3px;
    }

    tbody::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
  }
  .assessment-min-score {
    margin-left: 100px;
    > span {
      font-size: 11px;
      opacity: 0.7;
      color: $dark-300;
      margin-top: 10px;
      position: absolute;
    }
    .gru-input-number {
      .error-messages {
        margin-top: -5px;
      }
    }
  }
  .no-students {
    .student-null {
      background: url("gooru/images/student-null.png") no-repeat;
      height: 250px;
      width: 250px;
      background-size: 216px 216px;
      margin: 25px auto auto;
    }
    div.message {
      color: $gray-dove;
      font-size: 19.5px;
      font-weight: 300;
      line-height: 1.54;
      text-align: center;
    }
  }
  .teacherinfo {
    margin-top: 1.9%;
    margin-bottom: 1.9%;

    i {
      cursor: pointer;
    }

    .teacher-title {
      @extend .student-title;
    }
    .line-sep-hr {
      width: 956px;
      height: 1px;
      border: solid 0.5px $gray-base;
      margin-top: 0.1%;
      margin-bottom: 1.5%;
      border-bottom: none;
    }
    .teachercard {
      display: flex;
      flex-flow: row wrap;
      .teacher-card-shape {
        width: 225px;
        height: 281px;
        border-radius: 4px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
        background-color: $white;
        border: solid 1px $white;
        display: inline-flex;
        flex-flow: column;
        justify-items: center;
        margin-right: 1.5%;
        margin-bottom: 1.5%;

        .teacherprofileimg {
          width: 50%;
          height: 39.5%;
          border-radius: 50%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 9.3%;
        }
        .owner {
          width: 100%;
          height: 16px;
          font-size: 13px;
          opacity: 0.9;
          font-weight: normal;
          text-align: center;
          color: $gray-base;
        }

        .teachername {
          width: 100%;
          height: 27px;
          opacity: 0.9;
          font-size: 22px;
          font-weight: normal;
          text-align: center;
          color: $gray-base;
        }

        .teacherexinfocontainer {
          flex: 1;
          flex-flow: row;
          margin-top: 7.5%;

          .teacherexinfo {
            display: flex;
            position: relative;

            .posabs {
              position: absolute;
              top: 11px;
              left: 56px;
            }

            .t-top-line {
              width: 179px;
              height: 1px;
              border: solid 0.5px $gray-base;
              margin-left: auto;
              margin-right: auto;
              border-bottom: none;
            }
            .t-ver-line {
              @extend .posabs;
              width: 1px;
              height: 51px;
              border: solid 0.5px $gray-base;
              left: 111px;
              top: 0px;
              border-left: none;
            }

            .Shape {
              width: 20px;
              height: 20px;
              align-self: center;
            }
            .account-circle {
              @extend .Shape;
              @extend .posabs;
              left: 152px;
              object-fit: contain;
            }

            .lbl {
              @extend .posabs;
              font-weight: 300;
              color: $gray;
              text-align: center;
            }
            .profile-lbl {
              @extend .lbl;
              left: 47.5px;
              top: 35px;
              width: 37px;
              height: 16px;
              opacity: 0.9;
              font-size: 13px;
            }

            .remove-lbl {
              @extend .lbl;
              left: 121px;
              top: 35px;
              width: 82px;
              height: 18px;
              font-size: 15px;
            }
          }
        }
      }
      // Special  behavior for single card
      .teacher-card-shape:only-child {
        margin-left: auto;
        margin-right: auto;
        .teachername {
          margin-top: auto;
          height: 33%;
        }
        .owner {
          margin-top: auto;
        }
      }
    }
  }

  .teachers-info-table {
    @extend .students-panel;
    .teacherdatacolumn {
      width: calc(955px / 3);
    }
    .teacher-actions {
      width: calc(300px / 2);
    }
    table {
      tbody {
        display: block;
        max-height: 320px;
      }
    }
    table > tbody > tr > td.teacher-actions {
      padding-left: 30px;
      .remove-teacher {
        cursor: pointer;
        > i {
          line-height: 35px;
          margin-right: 9px;
          color: $gray-80;
        }
      }
    }
  }

  .proficiency-pullup {
    .pullup-close {
      top: 20px !important;
    }
  }

  .panel.classroom-information {
    float: $tab-float-dir;
    margin: 10px 20px 10px 0;
    width: 100%;

    .panel-body {
      padding: 0;
      height: 60px;

      .course-image {
        border-right: $border-right-side;
        border-left: $border-left-side;
        height: 60px;
        width: 90px;
        float: $tab-float-dir !important;

        img {
          height: 100%;
          width: 89px;
        }

        .no-course-image {
          background: url("gooru/course-default-medium.png");
          background-size: 90px 60px;
          width: 89px;
          height: 60px;
        }
      }

      .course-name {
        line-height: 1.4;
        margin: 10px 0 0 10px;
        width: 25%;
        float: $tab-float-dir !important;
      }

      .isPremiumClass {
        width: 36%;
      }

      .counts-container {
        padding: 6px 0 0;
        width: 6%;
        float: $tab-float-dir !important;

        .count {
          height: 20px;
          margin: 2px 0 0;
          width: 100%;

          i {
            font-size: $font-size-units-icon;
            line-height: 1.1;
          }

          span {
            vertical-align: top;
            margin-left: 4px;
          }
        }
      }

      .teacher-profile {
        margin: 0 0 0 15px;
        width: 16%;
        float: $tab-float-dir !important;

        img {
          border-radius: 50px;
          display: inline-block;
          float: $tab-float-dir;
          height: 40px;
          margin: 10px 5px 10px 5px;
          width: 43px;
          cursor: pointer;
        }

        .owner-name {
          display: inline-block !important;
          float: $tab-float-dir;
          line-height: 1.4;
          margin: 10px 0 0;
          width: 65%;
        }
      }

      .taxonomy-standards {
        min-width: 100px;
        margin: 0 0 0 15px;
        padding: 12px 0 0;
        width: 17.2%;
        float: $tab-float-dir !important;

        .taxonomy.gru-taxonomy-tag {
          background-color: $light-300;
          border: none;
          max-width: 135px;

          .content {
            b,
            span {
              color: $white;
            }
          }
        }
      }

      .class-code {
        border-left: $border-right-side $light-200;
        border-right: $border-left-side $light-200;
        height: 60px;
        padding: 14px 5px 6px;
        text-align: $menu-float-dir;
        width: 7%;
        float: right;
        div {
          line-height: 1;
          text-transform: uppercase;
          color: $dark-400;
          width: 100%;

          &.title {
            opacity: 0.5;
            font-size: $font-size-xxxsmall;
            font-weight: normal;
          }

          &.code {
            font-size: $font-size-small;
            font-weight: bold;
            margin: 3px 0 0;
          }
        }
      }

      .copy-code {
        margin: 15px 0 0;
        float: right;

        .copy-btn {
          height: 30px;

          i {
            font-size: 20px;
          }
        }
      }

      .performance-container {
        width: 11.9%;
        float: $menu-float-dir !important;

        .percentage {
          margin: 12px 0;
          font-size: $font-size-h3;
        }

        .completion-bar {
          width: 80%;
        }
      }

      @media (min-width: 1025px) and (max-width: 1280px) {
        $screen-width: 955px;

        .course-image {
          width: 90px;

          img {
            width: 89px;
          }
        }

        .teacher-profile {
          img {
            display: block;
          }
        }
      }

      @media (min-width: 1281px) {
        $screen-width: 955px;

        .course-image {
          width: 90px;

          img {
            width: 89px;
          }
        }

        .teacher-profile {
          img {
            display: block;
          }
        }
      }

      // device ipd and below handleing

      @media (min-width: 768px) and (max-width: 1024px) {
        $screen-width: 768px;

        .course-image {
          width: 60px;

          img {
            width: 59px;
          }
        }

        .teacher-profile {
          img {
            display: none;
          }
        }
      }

      /*
                    ##Device = Low Resolution Tablets, Mobiles (Landscape)
                    ##Screen = B/w 481px to 767px
                  */

      @media (min-width: 481px) and (max-width: 767px) {
        $screen-width: 768px; // Needs different handling

        .course-image {
          width: 60px;

          img {
            width: 59px;
          }
        }

        .teacher-profile {
          img {
            display: none;
          }
        }
      }

      /*
                    ##Device = Most of the Smartphones Mobiles (Portrait)
                    ##Screen = B/w 320px to 479px
                  */

      @media (min-width: 320px) and (max-width: 480px) {
        $screen-width: 768px; // Needs different handling

        .course-image {
          width: 60px;

          img {
            width: 59px;
          }
        }

        .teacher-profile {
          img {
            display: none;
          }
        }
      }

      // ends here
    }
  }
}
