.teacher_class_course-map {
  .classroom-information {
    max-width: 90%;
    margin: 0 auto !important;
    float: none !important;
  }
}

.teacher.course-map {
  margin-top: 30px;
  max-width: 90%;

  .actions {
    margin-top: -36px;
    width: 113px;
    height: 30px;
    background-color: $light-100;
    float: $menu-float-dir;

    button.edit-content {
      display: inline-block;
      font-size: $font-size-base;
      padding: 3px 11px;
      float: $menu-float-dir;

      i {
        font-size: $font-size-large;
        vertical-align: text-top;
      }
    }
  }

  .panel.welcome {
    height: max-content;
    border-radius: 5px;
    line-height: $font-navigator;
    margin: 0;
    padding-bottom: 20px;
    opacity: 0.5;
    font-size: 13px;
    color: #000000;

    .panel-body {
      padding: 15px 15px 0;

      &.premium-class {
        .close {
          font-size: 26px;
          line-height: 55px;
        }
      }
    }

    .description {
      display: inline-block;
      width: 98%;
    }

    .close {
      display: inline-block;
      font-size: $font-size-units-icon;
      font-weight: bold;

      a {
        color: $dark-100;
      }
    }
  }

  .course-map-container {
    .active-student {
      background-color: $white;
      width: 100%;
      height: 67px;
      border-radius: 4px;
      margin-top: 15px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

      .student-thumbnail {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        border-radius: 50%;
        margin-left: 12px;
        margin-top: 10px;
      }

      .student-name {
        font-size: 15px;
        color: #666666;
        line-height: 67px;
        margin-left: 12px;
        text-transform: capitalize;
      }

      .performance-container {
        .gru-performance-chart {
          .container-box {
            height: 67px;
          }
        }

        &.not-started {
          pointer-events: none;
        }
      }

      .student-close {
        margin: 0 12px;

        i {
          font-size: 30px;
          opacity: 0.5;
          color: #35424b;
          line-height: 67px;
          cursor: pointer;
        }
      }
    }

    .course-map-body {
      display: flex;

      .header {
        opacity: 0.5;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
        text-transform: uppercase;
        padding: 10px 0;
      }

      .students {
        .header {
          text-align: center;
        }

        .students-list {
          max-width: 75px;
          min-width: 75px;
          max-height: 587px;
          background-color: $white;
          transition: 1s;
          position: absolute;
          overflow-x: hidden;
          overflow-y: auto;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

          &::-webkit-scrollbar {
            height: 6px;
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            background: $gray-light;
            border: 1px solid $gray-light;
            border-radius: 5px;
          }

          &:hover {
            z-index: 9999;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.13);
            max-width: 100%;

            .list {
              &.active {
                .student-name {
                  color: #0072bc;
                }
              }

              .student-name {
                display: block;
              }
            }
          }

          .teacher {
            .thumbnail {
              background-color: #535e66;
              border: none;
            }
          }

          .list {
            display: flex;
            cursor: pointer;
            width: max-content;
            margin-left: 21px;

            .thumbnail {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-size: contain;
              margin: 6px 0;
            }

            .student-name {
              display: none;
              margin-left: 40px;
              margin-top: 7px;
              padding-right: 10px;
              font-size: 15px;
              text-transform: capitalize;

              &:hover {
                color: #0072bc;
              }
            }

            &.active {
              .thumbnail {
                border: 3px solid #0072bc;
              }
            }
          }
        }
      }

      .render-course-map {
        width: 98%;
        margin: 0 auto auto 20px;

        .header {
          padding-left: 20px;
        }

        .routesuggestion-coursemap {
          margin-bottom: 15px;
          box-shadow: 0 0 4px 2px #ef8f2f;

          .gru-accordion-course {
            padding: 0;
          }
        }

        .teacher-coursemap {
          .gru-accordion-course {
            padding: 0;

            .gru-accordion-lesson {
              .panel-body {
                .collections {
                  li {
                    margin-bottom: 10px;

                    .performance.chart {
                      width: 77px;
                    }
                  }
                }
              }
            }
          }
        }

        .student-coursemap {
          .gru-learner-accordion-unit {
            background-color: $white;

            .gru-learner-accordion-lesson {
              .panel-heading {
                .panel-title {
                  width: 69% !important;
                }
              }

              .panel-body {
                .collections {
                  .panel-heading {
                    .panel-title {
                      display: flex;

                      a .ellipsis {
                        height: 60px;
                        line-height: 60px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.sm-course-map {
          width: 67%;
          margin: 0 10px auto;

          .gru-accordion .panel-heading .panel-title {
            width: 53% !important;
          }

          .gru-accordion-lesson
            .collections
            .panel-heading
            .panel-title
            .title {
            width: 73%;
          }
        }
      }

      .items-to-grade {
        .header {
          font-size: 12px;
          font-weight: bold;
          color: #000000;
          margin-left: 15px;
        }
      }
    }
  }

  .gru-accordion {
    .panel-heading {
      padding: 0;
      margin: 0;
      background-color: $white;
      height: 67px;

      .panel-title {
        width: 59% !important;
      }

      .gru-switch {
        .toggle.btn {
          width: 40px !important;
          height: 20px !important;
          border-radius: 20px;

          .toggle-group {
            .toggle-handle,
            .toggle-off,
            .toggle-on {
              border-radius: 20px;
            }

            .toggle-on {
              left: -13px;
              font-style: italic;
              font-size: $font-size-xxsmall;
            }

            .toggle-off {
              left: 33px;
              font-style: italic;
              font-size: $font-size-xxsmall;
            }

            .toggle-handle {
              top: -5px;
              left: -2px;
            }
          }

          &.off {
            .toggle-group {
              .toggle-handle {
                left: 2px;
              }
            }
          }
        }
      }
    }

    .gru-accordion-lesson {
      height: 67px;

      &.expanded {
        height: auto;
      }
    }
  }
}
