.controller.teacher.class.performance {
  padding: 0;
  .actions {
    margin-top: 10px;
    margin-bottom: 10px;
    .btn-primary, .btn-primary:active {
      &.selected {
        background-color: $blue-400 !important;
      }
    }
  }
  .gru-metrics-table .metrics-table-wrapper {
    margin-left: 106px;
  }
}
