.learner-proficiency-domain-matrix {
  margin: 0 auto;
  background-color: $white;

  .three-bounce-spinner {
    position: absolute;
    left: 33%;
    z-index: 9;
  }

  .clear {
    clear: both;
  }

  .chart-area {
    display: flex;

    .matrix-chart {
      width: 450px;
      overflow: auto;

      &::-webkit-scrollbar {
        height: 6px;
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray-light;
        border: 1px solid $gray-light;
        border-radius: 5px;
      }

      .scrollable-chart {
        height: 57vh;
        overflow-y: auto;
        width: max-content;

        &::-webkit-scrollbar {
          height: 6px;
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-light;
          border: 1px solid $gray-light;
          border-radius: 5px;
        }

        #render-proficiency-matrix {
          margin-bottom: 20px;
          position: relative;
          transform: rotateX(180deg);
          -webkit-transition: -webkit-transform 0.6s ease-in;
          transition: transform 0.6s ease-in;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

          .competency {
            stroke: $snow-gray;
            stroke-width: 1;
            shape-rendering: crispedges;
            stroke-opacity: 0.4;
            cursor: pointer;
          }

          #skyline-container {
            line {
              stroke: $white;
              stroke-width: 6px;
            }
          }

          #baseline-container {
            line {
              stroke: $dark-400;
              stroke-width: 1px;
            }
          }

          .skyline {
            transition-property: visibility, opacity;
            transition-duration: 0s, 1s;
          }
        }
      }

      .domain-sequence {
        display: inline-block;

        .domain-counts {
          float: left;
          display: inline-block;
          width: 30px;
          text-align: center;
          margin-top: 0;
        }
      }
    }

    .domain-list {
      width: calc(100% - 450px);
      margin-left: 12px;
      max-height: 62vh;
      overflow-y: auto;

      .domain {
        font-size: 12px;
        color: $dark-400;
        display: flex;
        margin-bottom: 3px;

        .sequence {
          margin-right: 5px;
        }

        .name {
          line-height: 18px;
        }
      }

      &::-webkit-scrollbar {
        height: 6px;
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray-light;
        border: 1px solid $gray-light;
        border-radius: 5px;
      }
    }
  }
}
