// General styles

a {
  color: $green-400!important;
}

input[type="radio"] {
  &:before{
    background-color: $dark-400;
  }
  &:checked:after {
    border-color: $dark-400;
  }
}

.btn.btn-success {
  background-color: $green-400;
  color: $white!important;
}
