// Variables
// --------------------------------------------------

//== Colors
//
//## Gooru Palette
//** Dark
$dark-100:              #A2A2A2 !default;
$dark-400:              #37424B !default;

//** Light
$light-100:             #F8F9F8 !default;
$light-200:             #F8F6F8 !default;
$light-300:             #EFECEE !default;
$light-400:             #E3E5EA !default;

//** Sea green
$green-100:              #BCE3D6 !default;
$green-200:              #4CB992 !default;

//## Gray and brand colors for use across Bootstrap.
$white:                 #fff;
