header.app-header {
  box-shadow:0 0 10px rgba(0,0,0,0.3);
  top:0;
  width:100%;
  z-index:98;
  height:50px;
  background:-webkit-linear-gradient(top,$color-gray-secondary,$color-gray-primary);
  background:-moz-linear-gradient(top,$color-gray-secondary,$color-gray-primary);
  background:-ms-linear-gradient(top,$color-gray-secondary,$color-gray-primary);
  background:-o-linear-gradient(top,$color-gray-secondary,$color-gray-primary);
  .navbar-default {
    background-color: inherit;
    border: none;
    border-radius: 0px;
    margin: 0;
    .navbar-header {
      .navbar-brand {
        background: url("gooru/landing-page-sprite.png") -8px -207px transparent;
        width: 108px;
        height: 30px;
        margin: 10px 5px 10px 0;
      }
    }

    .dropdown-toggle,
    .navbar-link,
    .navbar-text,
    button,
    a {
      color: $color-white;
      font-family: Arial, sans-serif;
      font-size: 12px;
    }

    .dropdown-toggle:hover,
    .navbar-link:hover {
      color: #ffff00;
    }

    .search-navbar-form {
      margin-left: 50px;
    }

    .menu-navbar {
      .navbar-link {
        padding-left: 0;
        padding-right: 0;
        &:hover,
        &:active,
        &:visited{
          color: $color-white;
        }
      }

      .navbar-nav-list {
        color: $color-white;
        cursor: pointer;
        padding: 0 10px;
        &:first-child {
          border-right: 1px solid $color-gray-4;
        }
        &:hover,
        &:active {
          background-color: $color-gray-primary-hover;
          color: $color-white;
        }
      }

      .no-hover {
        &:hover,
        &:active {
          background-color: inherit;
        }
      }

      .libraries-link {
        padding-right: 5px;
      }

      .sign-up-button{
        margin-left: 30px;
      }

      .profile {
        .icon {
          background: url("gooru/profile.png") no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          border-radius: 50px;
          box-shadow: 0 0 0 2px $color-blue-lighter-2;
          width: 30px;
          height: 30px;
          display: block;
          margin-top: -4px;
        }
        .username {
          margin-left: 10px;
        }
        border-right: 1px solid $color-gray-lighter-1;
      }

      .settings {
        background: url("gooru/settings.png") no-repeat;
        width: 30px;
        height: 30px;
        display: block;
        margin-top: -5px;
      }
    }
  }
}
