.app-modal.modal {
  .modal-content {
    border: 2px solid $color-white;
    border-radius: 0;

    .modal-header {
      &.green-header{
        background-color: $color-green-primary;
      }

      &.gray-header {
        background-color: $color-gray-secondary;
      }

      button.close {
        text-shadow: none;
        opacity: 1;
        filter: alpha(opacity=100);

        span {
          color: $color-white;
          font-size: 25px;
          font-weight: normal;
        }
      }
      .modal-title {
        color: $color-white;
      }
    }

    .modal-body {
      border: 1px solid $color-gray-lighter-1;
    }
  }
}
