.app-modal.modal {
  .modal-content {
    border: 2px solid $color-white;
    border-radius: 0;

    .modal-header {
      background-color: $color-green-primary;
      padding: 10px 15px;
      font-size: 16px;

      button.close {
        text-shadow: none;
        opacity: 1;
        filter: alpha(opacity=100);
        margin: -5px;

        span {
          color: $color-white;
          font-size: 34px;
          font-weight: normal;
        }
        &:hover {
          opacity: 0.6;
        }
      }
      .modal-title {
        color: $color-white;
      }
    }

    .modal-body {
      border: 1px solid $color-gray-lighter-1;
    }
  }
}
