.collection-results {
  background-color: #E8E7E7;
  padding: 20px 0;
  .panel {
    border: 1px solid $color-gray-lighter-2;
    border-radius: 4px;
    box-shadow: none;
    .panel-heading {
      background: none;
      border-bottom: 1px solid $color-gray-lighter-2;
      padding: 5px 10px;
      height: 45px;
      .view-container {
        margin: 7px 0 6px;
        color: #555;
        display: table;
        padding: 0;
        i {
          color: #999;
          font-size: 22px;
        }
        span {
          font-size: 12px;
          padding: 0 8px 0 0;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .remix-button {
        padding: 0;
      }
    }
  }
}