.datepicker {
  .datepicker-field {
  }
  .datepicker-icon {
    background: url("gooru/icon-sprite.png") no-repeat scroll -7px -472px transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 21px;
    margin-left: -20px;
    width: 30px;
  }
}
