.gru-emotion-picker {
  padding:15px;
  @media (min-width: $screen-xs) {
    text-align: left;

  }
  @media (min-width: $screen-md) {
    padding:0;
  }
  .legend {
    @media (min-width: $screen-xs) {
      line-height: $emotion-icon-size;
      float: left;
      margin-right: 20px;
    }
  }
  .emotions-list{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    white-space: nowrap;
    @media (min-width: $screen-xs) {
      float: left;
    }
    li {
      display: inline-block;
      padding: 0;

      .emotion {
        cursor: pointer;
      }

      @media (min-width: $screen-sm) {
        padding: 0 3.1%;
      }
    }
  }
}
