.gru-emotion-picker{
  .emotion{
    background: url('gooru/resource-collection-icons.png') no-repeat 0 0;
    background-size: 385px 293px;
    background-color: $color-white;
    width: 36px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid $color-gray-lighter-11;
    cursor: pointer;
  }

  .need-help{
    background-position: -256px -257px;

    &.active {
      background-position: -256px -209px;
      border-color: $color-pink;
    }
  }

  .do-not-understand{
    background-position: -210px -257px;

    &.active {
      background-position: -210px -209px;
      border-color: $color-orange;
    }
  }

  .meh{
    background-position: -165px -257px;

    &.active {
      background-position: -165px -209px;
      border-color: $color-yellow;
    }
  }

  .understand{
    background-position: -119px -257px;

    &.active {
      background-position: -119px -209px;
      border-color: $color-light-green;
    }
  }

  .can-explain{
    background-position: -73px -257px;

    &.active {
      background-position: -73px -209px;
      border-color: $color-green;
    }
  }

  .emotions-list{
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 0 2%;
    }
  }
}
