.gru-standards-popup {
  .modal-header {
    background-color: $color-gray-secondary;
  }

  .modal-body {
    overflow: auto;
    position: relative;
    height:300px;
    padding-right: 120px;

    ul { list-style: none; }

    .standard-title {
      background-color: $color-gray-secondary;
      border-radius: 4px;
      display:inline-block;
      font-size: 10px;

      span {
        font-size: inherit;
        color:$color-white;
      }
    }
    .standard-description p {
      font-size: 12px;
    }
  }
}
