.gru-bubbles{
  .bubble{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $color-gray-lighter-11;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
  }
  .incorrect{
    border-color: $color-answer-incorrect;
  }
  .correct{
    border-color: $color-answer-correct;
  }
  .bubbles-list{
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
    display: inline-block;
    li {
      display: inline-block;
      padding: 0;
    }
    a{
      color:$color-black;
    }
  }
}
