.gru-view-layout-picker{
  .view-layout-list{
    display:inline-block;
    border: 1px solid  $gray-light;
    border-radius: 4px;
    div{
      cursor:pointer;
      display:block;
      float:left;
      padding-left: 5px;
      padding-right: 5px;
      span{
        font-size: 25px;
      }
    }
    div:first-child{
      border-right: 1px solid  $gray-light;
    }
    a{
      color: $gray-light;
    }
    div.active a{
      color: $brand-primary;
    }
  }
}
