.gru-two-tier-header-table {
  $table-cell-width: 90px;

  table {
    font-size: $font-size-h6;
    background: $white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.07);
    border-radius: 5px;

    th, td {
      border: none;
      border-right: 1px solid $gray-lighter;
      padding: 5px 20px;
      font-weight: normal;
    }

    .header {
      height: 47px;
      td {
        background-color: $dark-400;
        border: none;
      }
      .corner {
        border-top-left-radius: 5px;
      }
    }

    .first-tier, .second-tier {
      th, td {
        background-color: #45515C;
        color: $white;
        border-color: $dark-400;
        &:first-child {
          border-right: 0;
        }
      }
    }

    > .first-tier {
      height: 42px;
      td, th {
        border-bottom: 1px solid $dark-200;
      }
      th {
        &:hover {
          cursor: pointer;
        }
      }
    }

    > .second-tier {
      height: 47px;
      th {
        border-width: 2px 1px 3px 0;
        line-height: 23px;

        > span {
          display: block;
          font-weight: normal;
          opacity: 0.6;
          width: $table-cell-width;
        }

        i.fa-sort-asc, i.fa-sort-desc {
          display: none;
        }

        &.row-header {
          width: auto;
          text-align: left;

          > span {
            width: auto;
          }
        }
        &:first-child {
          border-left-width: 1px;
        }
        &:hover {
          cursor: pointer;
        }

        &.ascending {
          i.fa-sort-asc {
            display: inline-block;
          }
          i.fa-sort, i.fa-sort-desc {
            display: none;
          }
        }
        &.descending {
          i.fa-sort-desc {
            display: inline-block;
          }
          i.fa-sort, i.fa-sort-asc {
            display: none;
          }
        }
      }
    }

    > .data {
      height: 70px;
      th {
        border-right: 0;
        font-weight: normal;
        &:hover {
          cursor: pointer;
        }
        &:first-child {
          padding-top: 20px;
        }
      }
      td {
        border-width: 0 1px 1px 0;
        width: $table-cell-width;
        .score {
          border-radius: 4px;
          text-align: center;
          width: 68px;
          height: 43px;
          display: block;
          color: $white;
          margin: 0 auto;
          padding: 7px;
        }
        &:first-child {
          padding-top: 20px;
        }
      }
    }
  }
}
