.gru-forgot-password-popup{
  background: url('gooru/registration-bg.png') no-repeat;
  .forgot-password-section {
    .title {
      color: $color-green-primary;
      font-weight: bold;
    }
  }
}

