.gru-rich-text-editor {
  .btn-toolbar {
    position: relative;
      .btn.btn-math {
        margin-left: 8px;
        color:$white;
        background-color: $blue-300;
        border-right: 1px solid $white;
        font-weight: bold;
        font-size: $font-size-base;
        min-width: 35px;
        @include border-bottom-radius(0);
        padding: 4px 7px;
        &:last-of-type {
          border-right: 0;
        }
        &.wysihtml5-command-active,
        &.active {
          background-color: $blue-600;
        }
        .gru-icon {
          font-size: $font-size-large;
        }
      }
    .expressions-panel {
      clear: both;
      display: none;
      background-color: $white;
      margin-left: 5px;
      @include clearfix();
      &.show {
        display: block;
      }
      .equation-editor{
        @include flexbox;
        .equation-wrapper {
          display: inline-block;
          width: 38%;
          padding: 10px;
          text-align: center;
          background-color: $blue-100;
          .math-field {
            width: 100%;
            height: 56px;
            padding: 5px;
            text-align: left;
            border-color: $gray-lighter;
            outline: none;
            background-color: $white;
            .mq-empty {
              background: $sky-100;
            }
          }
          .actions {
            text-align: right;
            padding: 15px 5px 5px 5px;
            display: block;
            .btn {
              float: none;
            }
          }
        }
        .nav {
          white-space: nowrap;
          font-size: $font-size-small;
          border-bottom: 1px solid $gray-lighter;
          border-top: 1px solid $gray-lighter;
          li {
            &.active {
              a {
                background-color: $gray-lighter;
              }
            }
            a {
              padding: 4px 10px;
              @include box-shadow(none);
              @include border-bottom-radius(0);
              @include border-top-radius(0);
            }
          }
        }
        .tab-content{
          display: inline-block;
          width: 62%;
          background-color: $blue-100;
          .tab-pane {
            border-left: 1px solid $white;
            margin: 10px;
            padding: 0 9px 9px 9px 9px;
            a {
              display: inline-block;
              margin: 3px;
              line-height: 1;
            }
          }
          .fraction{
            background: url("gooru/images/math-icons/fraction.svg");
            background-size: 50px 50px;
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
  .wysihtml5-editor {
    min-height: 250px;
    border: 1px solid $gray-lighter;
    padding: 10px;
    outline: none;
    &:focus {
      box-shadow: inset 0 -2px 0 $blue-400;
    }
    .gru-math-expression {
      .katex {
        cursor: pointer;
      }
    }
  }
}
