.gru-profile-card{
  display: table;
  span{
    display: table-cell;
    vertical-align: middle;
    padding:10px;

    img.avatar {
      width: $narration-avatar-width;
      height: $narration-avatar-height;
      border-radius: 50px;
      box-shadow: 0 0 0 2px #87badd;
      margin: 5px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
