.rating-stars{
  ul{
    list-style: none;
    li{
      float:left;
      cursor:pointer;
    }
  }
 .star{
   font-size: $font-gru-rating-stars-icon;
   i{
     color: $branding-primary-1;
   }
 }
  .rating-stars-xs{
      cursor:auto;
  }
}
