.rating-stars{
  ul{
    list-style: none;
    li{
      float:left;
      cursor:pointer;
    }
  }
 .star{
   font-size: 25px;
   i{
     color: $color-green-primary;
   }
 }
  .rating-stars-xs{
      font-size: 15px;
      cursor:auto;
  }
}
