.roleOption {
  text-align: center;
  width: 25%;
  float: left;
}

.roleLabel {
  color: #999;
  font-size: $font-size-small;
}

.roleRadioButton {
  margin: 4px 0 0;
  line-height: normal;
  margin-right: .5ex !important;
}

.teacherRoleImage {
  background: url("gooru/teacher.png") no-repeat scroll center bottom
    rgba(0, 0, 0, 0);
  height: 45px;
  margin: 10px 0 5px;
  width: 100%;
}

.selected .teacherRoleImage {
  background: url("gooru/teacher_selected.png") no-repeat scroll center bottom
    rgba(0, 0, 0, 0);
}

.studentRoleImage {
  background: url("gooru/student.png") no-repeat scroll center bottom
    rgba(0, 0, 0, 0);
  height: 45px;
  margin: 10px 0 5px;
  width: 100%;
}

.selected .studentRoleImage {
  background: url("gooru/student_selected.png") no-repeat scroll center bottom
    rgba(0, 0, 0, 0);
}

.parentRoleImage {
  background: url("gooru/parent.png") no-repeat scroll center bottom
    rgba(0, 0, 0, 0);
  height: 45px;
  margin: 10px 0 5px;
  width: 100%;
}

.selected .parentRoleImage {
  background: url("gooru/parent_selected.png") no-repeat scroll center bottom
    rgba(0, 0, 0, 0);
}

.otherRoleImage {
  background: url("gooru/other.png") no-repeat scroll center bottom
    rgba(0, 0, 0, 0);
  height: 45px;
  margin: 10px 0 5px;
  width: 100%;
}

.selected .otherRoleImage {
  background: url("gooru/other_selected.png") no-repeat scroll center bottom
    rgba(0, 0, 0, 0);
}
