.search-filter{
  p {
    font-size: 13px;
  }
  .search-filter-options{
    padding-left: 0px;
  }
  .img-collections{
    width:30px;
    height: 24px;
    background: url('gooru/collection-icon.png') no-repeat;
  }
  .collections,.assessments{
    div{
      float:left;
    }
  }
  .img-assessments{
    width:30px;
    height: 24px;
    background: url('gooru/assessment-type.png') no-repeat;
  }
  .btn-search-filter{
    border-radius: 4px;
    border: 2px solid $color-white;
    background-color: $color-white;
    font-size: 13px;
    &:hover {
      border-color: $color-blue-secondary;
      opacity:.75;
    }
    &:active, &:focus {
      border-color: $color-blue-secondary;
      outline: 0;
    }
    span {
      vertical-align: middle;
      display: inline-block;
    }
  }
  .btn-search-filter.selected {
    border-color: $color-blue-secondary;
  }
  .buttons-filter{
    ul{
      list-style: none;
      li{
        float:left;
        @media (max-width: $screen-sm) {
          margin: 0 0 10px 3px;
        }
        .border-gray {
          @media (max-width: $screen-sm) {
            border: none;
          }
        }
      }
    }
    .dropdown-toggle {
      @media (max-width: $screen-sm) {
        width: 85px;
        padding: 6px 0;
      }
    }
    button.collections {
      @media (max-width: $screen-sm) {
        width: 105px;
        padding: 6px 0;
      }
    }
    button.assessments {
      @media (max-width: $screen-sm) {
        width: 120px;
        padding: 6px 0;
      }
    }
  }
  .subfilters-dropdowns{
    list-style: none;
    float:left;
  }
  .subfilters{
    .grade-dropdown > .btn-group .selected-text{
      width:68px;
    }
    .subject-dropdown .app-dropdown > .btn-group .selected-text{
      width:80px;
    }
  }
  .collections-select .dropdown-menu{
    min-width: 0px;
  }
}
