.taxonomy.gru-taxonomy-tag {
  display: inline-block;
  border: 1px solid $gray-light;
  padding: 0 3px 2px;
  border-radius: 4px;
  background-color: $white;
  margin-bottom: 3px;
  vertical-align: top;
  max-width: 145px;
  overflow: hidden;

  div {
    padding: 4px 2px 0;

    b,
    span {
      display: block;
    }
    b {
      color: $gray;
      font-weight: normal;
      line-height: 1.2;
      @include text-overflow;
    }
    span {
      color: $gray-light;
      text-transform: uppercase;
      font-size: smaller;
      line-height: 1.3;
    }
  }

  button {
    border: 0 none;
    margin: 0;
    background-color: transparent;
    overflow: visible;
    height: auto;

    &.toggle {
      padding: 0 2px;
      text-align: left;
    }

    &:focus {
      outline: none;
    }

    &.remove {
      i {
        font-size: 13px;
        vertical-align: top;
        color: $gray;
      }
    }
  }

  .tag-tooltip {
    display: none;
  }

  &.read-only {
    .popover.fade {
      background-color: $white;

      .arrow:after {
        border-top-color: $white;
        border-bottom-color: $white;
        border-left-color: transparent;
        border-right-color: transparent;
      }

      .popover-content {
        padding: 5px 10px 10px;

        span {
          color: $gray;
          text-transform: none;
          font-size: $font-size-base;
        }
      }
    }
  }

  &.remove {
    position: relative;
    padding-right: 18px;

    button.remove {
      position: absolute;
      top: 5px;
      right: 2px;
      padding: 0;
    }
  }

  &.active {
    border-color: $dark-300;
    background-color: $dark-300;

    div > b {
      color: $white;
    }

    button.remove {
      i {
        color: $gray-lighter;
      }
    }
  }
}
