<div class="controller analytics-performance-student">
  <div class="row navigation">
    <div class="performance col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.performance.title'}}</h4>
    </div>
    <div class="mastery col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.mastery.title'}}</h4>
    </div>
  </div>
  <div class="row controls">
    <div class="gru-breadcrumb col-md-6 col-sm-6 col-xs-12">
      Breadcrumb place holder
    </div>
    <div class="gru-actions col-md-6 col-sm-6 col-xs-12">
      Actions place holder
    </div>
  </div>
  <div class="row snapshot">
      Snapshot placeholder
  </div>
    <div class="row performance-picker visible-xs">
        <div class="col-xs-12">
            {{class.analytics.performance.gru-performance-data-picker
            onChangePerformance="changePerformance"}}
        </div>
    </div>
  <div class="row gru-content">
      Content placeholder
  </div>
</div>
