<div class="controller analytics-performance-student">
  <div class="row navigation">
    <div class="performance-tab col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.performance.title'}}</h4>
    </div>
    <div class="mastery-tab col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.mastery.title'}}</h4>
    </div>
  </div>
  <div class="row controls">
    <div class="performance-breadcrumb col-md-6 col-sm-6 col-xs-12">
      Breadcrumb place holder
    </div>
    <div class="performance-actions col-md-6 col-sm-6 col-xs-12">
      Actions place holder
    </div>
  </div>
  <div class="row snapshot">
      Snapshot placeholder
  </div>
  <div class="row performance-content">
      Content placeholder
  </div>
</div>
