<div class="controller analytics-performance-teacher">
  <div class="row navigation">
    <div class="performance col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.performance.title'}}</h4>
    </div>
    <div class="mastery col-md-6 col-sm-6 col-xs-6">
      <h4>{{t 'class.analytics.mastery.title'}}</h4>
    </div>
  </div>
  <div class="row controls">
    <div class="gru-breadcrumb col-md-6 col-sm-6 col-xs-12">
      Breadcrumb place holder
    </div>
    <div class="gru-actions col-md-6 col-sm-6 col-xs-12">
      Actions place holder
    </div>
  </div>
  <div class="row gru-filters">
    <div class="data-picker col-md-6 col-sm-6 col-xs-12">
      Data picker place holder
    </div>
    <div class="performance-scale col-md-6 col-sm-6 col-xs-12">
      Performance scale place holder
    </div>
  </div>
  <div class="row gru-content">
    <div class="col-md-12 col-sm-12 col-xs-12">
      Content placeholder
    </div>
  </div>
</div>
