<div class="content">
  <div class="left">
    <button class="btn btn-link hamburger-icon">{{fa-icon icon="fa-bars"}}</button>
  </div>
  <div class="right">
    <button class="btn btn-link x-icon">{{fa-icon icon="fa-times"}}</button>
  </div>
  <div class="center">
      {{gru-emotion-picker onChangeEmotion="changeEmotion"}}
  </div>
</div>
