<h1>{{collection.title}}</h1>

<ul class="list-group">
  {{#each collection.resources as |resource|}}
    <li class="list-group-item" {{action 'selectItem' resource}}>{{resource.title}}</li>
  {{/each}}
</ul>
