<div class="content row pa-xs-left-10">
    <div class="col-md-2 col-sm-2 col-xs-2 visible-xs-block visible-sm-block">
        <span class="hamburger-icon">{{fa-icon icon="fa-bars"}}</span>
    </div>
    <div class="col-md-offset-4 col-sm-offset-2 col-md-5 col-sm-5 col-xs-8 pa-xs-left-15 pa-xs-right-15 pa-md-top-2 pa-md-bottom-2 pa-sm-top-2 pa-sm-bottom-2 pa-xs-top-2 pa-xs-bottom-2">
        {{gru-emotion-picker onChangeEmotion="changeEmotion"}}
    </div>
    <div class="col-md-offset-2 col-sm-offset-2 col-md-1 col-sm-1 col-xs-1">
        <span class="x-icon"{{action 'closeContentPlayer'}}>{{fa-icon icon="fa-times"}}</span>
    </div>
</div>
