<div class="content">
  {{#if resource.narration}}
    <div class="narration">
      <img class="avatar" src="{{ resource.narration.image-url }}">
      <span class="message">
        {{resource.narration.message}}
      </span>
    </div>
  {{/if}}

  {{#if resource.isQuestion}}
    {{player.gru-question-viewer question=resource onSubmitQuestion="submitQuestion"}}
  {{else}}
    Viewer not implemented
  {{/if}}

</div>


