<div class="panel panel-default">
    <div class="panel-body">
        <span class="lead"><b>{{t  (concat 'gru-suggest-test.' type '-header')}}</b></span>
        <span class>{{t  (concat 'gru-suggest-test.' type '-lead')}}</span>
        <div class="actions">
            <button class="btn btn-default btn-no">No, thanks</button>
            <button class="btn btn-primary btn-suggestion">Take pre test</button>
        </div>
    </div>
</div>
