<div class="content">
  <div class="left">
    <button class="btn btn-link hamburger-icon" {{action 'openNavigator'}}>{{fa-icon icon="fa-bars"}}</button>
  </div>
  <div class="right">
    <button class="btn btn-success submit-all"> {{t "common.submit-all"}}</button>
  </div>
  <div class="center">
    <div class="panel panel-default">
      <div class="panel-body">
        {{gru-emotion-picker startEmotion=ratingScore onChangeEmotion="changeEmotion"}}
      </div>
    </div>
  </div>
</div>
