<div class="panel panel-default">
  <div class="panel-body">
    <div class="description">{{t 'gru-suggest-test.end-of-course'}}</div>
    <div class="actions right">
      {{#link-to 'student.class.course-map' classId class="btn btn-primary btn-exit" tagName='button'}} {{t 'common.exit'}} {{/link-to}}
    </div>
  </div>
</div>
