<h1>{{collection.title}}</h1>

<ul class="list-group">
  {{#each collection.collectionItems as |item|}}
    <li class="list-group-item" {{action 'selectItem' item}}>{{item.title}}</li>
  {{/each}}
</ul>
