<h2>Content Player Title</h2>
<div>
  <ul class="resources">
    <li>
      <div class="resources-info">
        <span class="bubble-type interactive"></span><span class="title">Resource Title</span>
      </div>
    </li>
    <li>
      <div class="resources-info">
        <span class="bubble-type video"></span><span class="title">Resource Title</span>
      </div>
    </li>
    <li>
      <div class="resources-info">
        <span class="bubble-type webpage"></span><span class="title">Resource Title</span>
      </div>
    </li>
    <li>
      <div class="resources-info">
        <span class="bubble-type question"></span><span class="title">Resource Title</span>
      </div>
    </li>
    <li>
      <div class="resources-info">
        <span class="bubble-type image"></span><span class="title">Resource Title</span>
      </div>
    </li>
    <li>
      <div class="resources-info">
        <span class="bubble-type audio"></span><span class="title">Resource Title</span>
      </div>
    </li>
    <li>
      <div class="resources-info">
        <span class="bubble-type text"></span><span class="title">Resource Title</span>
      </div>
    </li>
  </ul>
</div>
