.player .gru-hot-text-highlight {
  span.item {
    cursor:pointer;
    margin-right: 4px;
    display: inline-block;
    border: 1px solid transparent;
    &.selected {
      color:$white;
      font-weight: bold;
      border-radius: 8%;
      border-color: $blue-400;
      background-color: $blue-400;
    }
    &:hover {
      color:$white;
      font-weight: bold;
      border-radius: 8%;
      border-color: $dark-300;
      background-color: $dark-300;
    }
  }

}
