.player .gru-hs-image {

  .answer-choices {

    ul {

      li.answer {
        border: 0 none;
        float: left;
        padding: 0;
        margin: 20px;

        img {
          width: auto;
          height: auto;
          max-width: 90px;
          max-height: 90px;
        }
      }
    }
  }

}
