<div class="controller content questions edit">
  {{content.questions.gru-questions-edit question=question collection=collection isCollection=isCollection isBuilderEditing=isEditing}}
  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      {{{t "content.questions.edit.best-practices"}}}
    </div>
  </aside>
</div>
