//temporal
.controller.assessment{
  .navigation {
    width: 100%;
    height: 55px;
    background-color: #0153A9;
    display: block;
    @media (min-width: $screen-xs) {
      height: 700px;
      width: 20%;
    }
  }
}
