.test-components{
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  display: -webkit-flex;
  display: flex;
  >*{
    min-width:25%;
    margin:20px;
    padding:20px;
    &.resource-cards >*{
      margin:20px 0;
    }
  }
}
