.grading-scale-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: $font-size-small;
  @include clearfix();

  li {
    float: left;
    line-height: 1;
    margin-right: 1em;
    display: table;

    @media (max-width: $screen-xs) {
      width: 80px;
    }

    i {
      display: inline-block;
      border-radius: 4px;
      height: 15px;
      width: 15px;
      margin: 0 5px 0 0;
    }
    span {
      display: table-cell;
      vertical-align: middle;
    }

    &.not-started {
      i {
        border: 1px solid $gray-light;
        background-color: $light-200;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}
