.gru-hot-text-highlight p{
  span{
    padding: 5px;
    &.is-correct{
      background-color:$color-answer-correct;
    }
    &.is-incorrect{
      background-color:$color-answer-incorrect;
    }
  }

}
