.reports.assessment.questions.gru-hs-image {
  $image-side: 43px;
  ul{
    padding-left: 0px;
    li{
      list-style: none;
      margin: 0 5px 5px 0;
      display: inline-block;
      span {
        width: $image-side;
        height: $image-side;
        display: block;
        img{
          padding: 4px;
          width: auto;
          max-height: 100%;
          background-color: $color-white;
        }
      }
      span.selected {
        border: 4px solid;
        width: $image-side + 4px;
        height: $image-side + 4px;
      }
      span.selected.correct{
        border-color: $color-answer-correct;
      }
      span.selected.incorrect{
        border-color: $color-answer-incorrect;
      }
    }
  }
}
