.reports.assessment.questions.gru-reorder{
  ul{
    display: inline-block;
    padding-left: 0px;
    li{
      list-style: none;
      position:relative;

      span.correct{
        color:$brand-success;
      }
      span.incorrect{
        color:$brand-incorrect;
      }
    }
    li span.answer-text{
      display: inline-block;
      margin-left: 2em;
    }
  }
}
