.reports.assessment.questions.gru-hs-image {
  ul{
    padding-left: 0px;
    li{
      list-style: none;
      margin: 0 5px 0 0;
      display: inline-block;
      span {
        width: 43px;
        height: 43px;
        display: block;
        img{
          border: 1px solid $color-white;
          width: 43px;
          height:43px;
          background-color: $color-gray-lighter-11;
        }
      }
      span.selected {
        border: 1px solid;
        width: 45px;
        height: 45px;
      }
      span.selected.correct{
        border-color: $color-answer-correct;
      }
      span.selected.incorrect{
        border-color: $color-answer-incorrect;
      }
    }
  }
}
