.reports.assessment.questions.gru-hs-text {
  ul{
    padding-left: 0px;
    li {
      list-style: none;
      margin: 0 5px 5px 0;
      padding: 15px;
      border: 2px solid $gray-lighter;
      border-radius: 4px;
    }
    li.selected.correct {
      border-color: $brand-success;
    }
    li.selected.incorrect {
      border-color: $brand-incorrect;
    }
    li.selected.anonymous {
      border-color: $brand-anonymous;
    }
  }
}
