.reports.assessment.questions.gru-fib {
  span {
    line-height: 30px;
  }
  .answer {
    border: 1px solid $gray;
    padding: 5px;
  }
  .answer.correct {
    color: $brand-success;
  }
  .answer.incorrect {
    color: $brand-incorrect;
  }
}
