.reports.assessment.questions.gru-reorder {
  ul {
    display: inline-block;
    padding-left: 0;
    li {
      list-style: none;
      position: relative;

      span.correct {
        color: $brand-success;
      }
      span.incorrect {
        color: $brand-incorrect;
      }
      span.incorrect.anonymous,
      span.correct.anonymous {
        color: $brand-anonymous;
      }
    }
    li span.answer-text {
      display: inline-block;
      margin-left: 1.5em;
      word-wrap: break-word;
      overflow: auto;
      max-width: 10em;
      @media (min-width: $screen-sm-min) {
        max-width: 15em;
      }
      @media (min-width: $screen-lg-min) {
        max-width: 18em;
      }
      p {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
    }
  }
}
