.gru-hot-text-highlight p{
  line-height:28px;
  span{
    &.is-correct{
      padding: 5px;
      background-color:$brand-success;
    }
    &.is-incorrect{
      padding: 5px;
      background-color:$brand-incorrect;
    }
  }
}
