<div class="panel prompt">
  <div class="panel-body">
    <div class="icon">
      <i></i>
    </div>
    <div class="question-text">
      <span class="title">{{promptTitle}}</span>
      <div class="prompt-text">{{gru-math-text text=promptText}}</div>
    </div>
  </div>
</div>
