.content.modals.gru-resource-new {

  .modal-body { padding-top: 15px; }

  .header {
    margin-bottom: 10px;

    button {
      float: right;
      border: 0 none;
      background-color: transparent;
      color: $blue-300;
      font-size: larger;
      padding: 0;

      &:hover {
        color: $blue-500;
      }
    }
  }

  span.title {
    font-size: $font-size-large;
  }
  .icon{
    margin-right: 5px;
    color: $light-300;
    i {
      vertical-align: -6px;
    }
  }
  .url-label,.title-label, .type{
    margin-left: 10px;
    .gru-input {
      width: 100%;
    }
  }

  .filename-label {
    margin-left: 10px;
    margin-bottom: 15px;

    .gru-file-picker {
      > div {
        @include flexbox();

        input {
          width: 80%;
          border-bottom: 1px solid #ddd;
        }
        .file-picker {
          @include flex();

          .upload.btn {
            margin-left: 5px;

            .fa-upload {
              font-size: $font-size-large;
              margin-right: 5px;
            }
          }
        }
      }

      & + .validation {
        .error {
          margin-top: 0;
        }
      }
    }
  }

  .validation.error {
    position: relative;
    top: -15px;
  }
  .lead {
    font-weight: bold;
    margin-bottom: 15px;
  }
  .actions.resource-new{
    margin-top: 10px;
  }
  .panel.active{
    opacity:0.6;
  }
  .existing-resource-message{
    height: 285px;
    border: 1px solid $light-200;
    border-radius: 6px;
    background-color: $light-100;
    .gru-resource-card{
      margin: 14px auto;
    }
  }
}
