.content.modals.gru-delete-content{
  .modal-header.delete {
    background-color: $yellow-400;
  }
  .delete-info{
    ul{
      list-style: none;
      padding-left: 0;
    }
  }
  .delete-input{
    outline: none;
  }
  p span, span{
    display: inline-block;
    text-transform: lowercase;
  }
  p span:first-letter,span:first-letter{
    text-transform: capitalize;
  }
}
