.content.modals.gru-add-to-classroom {
  .modal-header{
    text-align: left;
  }
  .list{
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-around);

    max-height: 460px;
    overflow-y: scroll;

    .panel{
      width: 48%;
      border-radius:6px;
      .panel-heading{
        padding: 5px 15px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: $sky-300;
        color:$white;
      }
      &.active {
        border: 3px solid $blue-400;
      }
      .panel-body {
        @include flexbox;
        @include align-items(center);

        i {
          margin: 0 10px 0;
        }
      }
    }
  }
  .lead{
    font-size: $font-size-large;
  }
}
