.content.modals.gru-welcome-message {
  .modal-header {
    height: 35px;
    position: relative;
    a {
      color: $white;
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      right: 0;
      top: 4px;
    }
  }
  .modal-body {
    .title {
      border-bottom: 2px solid $gray-lighter;
      padding: 0 0 5px;
      font-size: 20px;
      line-height: 30px;
    }
    .text {
      font-size: 14px;
      line-height: 22px;
      margin: 0 0 15px;
      span {
        float: left;
        font-weight: bold;
        margin: 0 2px 0 0;
      }
      i {
        font-size: $font-size-tour-icon;
        vertical-align: bottom;
      }
    }
    .last-text {
      font-size: 14px;
      height: 50px;
      p {
        float: left;
        margin: 0;
        .logo {
          background: url('gooru/images/gooru-logo.svg') no-repeat;
          background-size: contain;
          float: right;
          height: 38px;
          margin: 2px 0 0 6px;
          width: 110px;
        }
      }
    }
    .actions {
      margin: 25px 0 0;
      input[type="checkbox"] {
        float: left;
      }
      label {
        float: left;
        padding: 0 0 0 2px;
      }
    }
  }
}
