.add-to {

  &.fade {
    .modal-dialog {
      -webkit-transform: translate3d(125%, 0, 0);
      height: 96%;
      margin: 0 auto;
      transform: translate3d(125%, 0, 0);
      float: right;
      width: 280px;
      @media(min-width: $screen-sm-min) {
        width: 520px;
      }
    }

    &.in {
      .modal-dialog {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .gru-add-to {
    @include flexbox;
    @include flex-direction(column);
    border: 0;
  }
}

.gru-add-to {
  height: 100%;
  margin: 10px auto;


  .modal-header {
    @include flex-basis(40px);
    @include flex-shrink(0);
    background-color: $blue-400;
    border-radius: 3px;
    color: $white;
    padding: 7px 10px;
    text-align: initial;
  }

  .modal-title {
    font-size: $font-size-h6;
  }

  .modal-body {
    @include flex-grow(1);
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    @include align-content(flex-start);
    border: 0;
    margin-top: 10px;
    padding: 0 25px;
    height: 100%;
    overflow: hidden;

    .lead {
      width: 100%;
      height: 30px;
      font-size: $font-size-base;
      border: 1px transparent;
      margin: 0 0 5px;
    }

    .category-options {
      margin: 20px auto;
      height: 35px;
      button {
        margin-right: 2px;
      }

      .btn-secondary {
        background-color: gray;
      }

      i {
        display: inline-block;
        line-height: 16px;
        font-size: $font-size-h5;
        vertical-align: middle;
        margin-right: 5px;
      }

      .assessments {
        i {
          background: url("gooru/images/navigation_assessment.svg");
          width: 20px;
          min-height: 15px;
        }
        &.active {
          i {
            background: url("gooru/images/navigation_assessment_selected.svg");
          }
        }
      }

      .collections {
        i {
          background: url("gooru/images/navigation_collection.svg");
          width: 20px;
          min-height: 15px;
        }
        &.active {
          i {
            background: url("gooru/images/navigation_collection_selected.svg");
          }
        }
      }
    }

    .list {
      @include flex-grow(1);
      @include flexbox;
      @include flex-wrap(wrap);
      @include align-items(flex-start);
      @include align-content(flex-start);
      border: 0;
      margin: 0 -40px 0 0;
      overflow-y: scroll;
      padding: 0;
      height: calc(100% - 35px);

      &.questions {
        height: calc(100% - 110px);
      }

      >* {
        @include flex-shrink(0);
        border: 1px transparent;
        width: 225px;
        margin: 5px;
      }

      .panel {
        box-shadow: 0 0 7px $gray-light;
        margin: 0;
      }

      .gru-collection-card {
        margin: 0;
        width: 225px;
        .panel {
          width: 100%;
          .panel-heading {
            padding: 0;
            height: 64px;
            border-radius: 6px;
            img {
              height: 64px;
              width: 64px;
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
            }
            .collection-info {
              margin-left: 5px;
              height: 64px;
              width: 140px;
              .question-resources {
                font-size: $font-size-xsmall;
              }
            }
          }
        }
      }

      .selected {
        .gru-collection-card {
          border: 3px solid $blue-400;
          border-radius: 6px;
        }
      }
    }
  }

  .modal-footer {
    @include flex-basis(44px);
    @include flex-shrink(0);
    height: 44px;
    margin-top: 10px;
    padding: 0;
    width: 100%;

    div {
      &:last-child {
        margin-right: 25px;
      }
    }

    .btn-group {
      height: 100%;

      >* {
        height: 100%;
        width: 50%;
      }
    }


  }
}
