.search {
  .gru-resource-options {
    $optionsHeightXS: 70px;
    $optionsHeightSM: 53px;
    margin-left: -15px;
    padding: 0;
    .options {
      display: block;
      height: $optionsHeightXS;
      background-color: $light-100;
      margin-left: -15px;
      width: inherit;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
      text-align: center;
      padding: 0 0 0 3%;
      @media (min-width: $screen-sm) {
        padding: 0 0 0 35px;
        height: $optionsHeightSM;
      }
      ul {
        padding: 0;
        list-style: none;
        @include flexbox;
        height: inherit;
        margin: 0;
        height: $optionsHeightXS;
        overflow: hidden;
        overflow-x: auto;
        @media (min-width: $screen-sm) {
          height: $optionsHeightSM;
        }
        li {
          display: table;
          vertical-align: middle;
          margin: 0 0.7em;
          .btn-option {
            color: $green-300;
            padding: 0 5px;
            border-radius: 0;
            border-bottom: $light-100 3px solid;
            height: $optionsHeightXS;
            background-color: $light-100;
            display: table-row;
            span {
              vertical-align: middle;
              display: inline-block;
              font-size: $font-size-h6;
              i {
                font-size: $font-size-h5;
                line-height: 26px;
              }
              &.icon-container {
                height: 30px;
                margin: 0 0 5px 0;
              }
              &.text {
                line-height: 14px;
                text-align: left;
                @media (max-width: $screen-xs-max) {
                  display: block;
                }
              }
            }
            @media (min-width: $screen-sm) {
              height: $optionsHeightSM;
            }
          }
          .btn-option.selected {
            border-bottom-color: $green-300;
          }
          .video {
            .icon {
              background: url("gooru/images/video-resource-green.svg");
              width: 30px;
              height: 30px;
            }
          }
          .web-page {
            .icon {
              background: url("gooru/images/website-resource-green.svg");
              width: 24px;
              height: 24px;
            }
          }
          .interactive {
            .icon {
              background: url("gooru/images/interactive-resource-green.svg");
              width: 33px;
              height: 30px;
            }
          }
          .image {
            .icon {
              background: url("gooru/images/image-resource-green.svg");
              width: 30px;
              height: 30px;
            }
          }

          .text {
            .icon {
              background: url("gooru/images/text-resource-green.svg");
              width: 31px;
              height: 30px;
            }
          }
          .audio {
            .icon {
              background: url("gooru/images/audio-resource-green.svg");
              width: 35px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
