.search {
  .gru-question-options {
    $optionsHeightXS: 70px;
    $optionsHeightSM: 53px;

    .options {
      background-color: $light-100;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
      display: block;
      height: $optionsHeightXS;
      text-align: center;

      @media (min-width: $screen-sm) {
        height: $optionsHeightSM;
      }
      ul {
        @include flexbox;
        list-style: none;
        height: 80px;
        margin: 0 0 0 10px;
        padding: 0 0 85px;
        overflow: hidden;
        overflow-x: auto;
        @media (min-width: $screen-sm) {
          height: 62px;
          padding: 0 0 68px;
        }
        @media (min-width: $screen-lg) {
          height: $optionsHeightSM;
        }
        li {
          display: table;
          margin: 0 0.7em;
          @media (min-width: $screen-sm) {
            margin: 0 0.5em;
          }
          .btn-option {
            color: $green-300;
            margin: 0 3px;
            border-radius: 0;
            border-bottom: $light-100 3px solid;
            height: $optionsHeightXS;
            background-color: $light-100;
            display: table-cell;
            @media (min-width: $screen-sm) {
              padding: 0 0.5em;
              height: $optionsHeightSM;
              max-width: 116px;
            }
            &.true-false {
              .text {
                width: 75px;
              }
            }
            span {
              vertical-align: middle;
              display: inline-block;
              font-size: $font-size-h6;
              &.icon {
                margin: 0 5px 0 0;
              }
              i {
                font-size: $font-size-h5;
                line-height: 26px;
              }
              &.text {
                line-height: 14px;
                text-align: left;
                white-space: pre-wrap;
                @media (max-width: $screen-xs-max) {
                  display: block;
                  text-align: center;
                  width: 62px !important;
                }
              }
            }
          }
          .btn-option.selected {
            border-bottom-color: $green-300;
          }
          .multiple-choice {
            .text {
              width: 65px;
            }
            .icon {
              background: url("gooru/images/navigation_multiple_choice_green.svg");
              -webkit-background-size: 40px 20px;
              width: 40px;
              height: 20px;
            }
          }
          .multiple-answer {
            .text {
              width: 65px;
            }
            .icon {
              background: url("gooru/images/navigation_multiple_answer_green.svg");
              -webkit-background-size: 50px 20px;
              width: 50px;
              height: 20px;
            }
          }
          .true-false {
            .text {
              width: 65px;
            }
            .icon {
              background: url("gooru/images/navigation_true_false_green.svg");
              -webkit-background-size: 25px 25px;
              width: 25px;
              height: 25px;
            }
          }
          .fib {
            .text {
              width: 65px;
            }
            .icon {
              background: url("gooru/images/navigation_fib.svg");
              width: 31px;
              height: 19px;
            }
          }
          .free-response {
            .text {
              width: 65px;
            }
            .icon {
              background: url("gooru/images/navigation_free_response_green.svg");
              -webkit-background-size: 30px 30px;
              width: 30px;
              height: 30px;
            }
          }
          .ht-reorder {
            .text {
              width: 65px;
            }
            .icon {
              background: url("gooru/images/navigation_ht_reorder.svg");
              width: 24px;
              height: 18px;
            }
          }
          .ht-highlight {
            .text {
              width: 65px;
            }
            .icon {
              background: url("gooru/images/navigation_ht_highlight.svg");
              width: 20px;
              height: 15px;
            }
          }
          .hs-text {
            max-width: 142px;
            .text {
              width: 93px;
            }
            .icon {
              background: url("gooru/images/navigation_hs_text.svg");
              width: 52px;
              height: 15px;
            }
          }
          .hs-images {
            max-width: 142px;
            .text {
              width: 93px;
            }
            .icon {
              background: url("gooru/images/navigation_hs_images.svg");
              width: 25px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}
