.resource-options-menu{
  list-style: none;
  padding-left: 0px;
  li{
    float:left;
    a{
      text-decoration:none;
      color:$gray-dark;
      &:hover{
        color: $gray-light;
      }
    }
  }
  .resource-options{
    float:left;
    min-height: 29px;
    width: 29px;
    display: inline-block;
    background: url("gooru/resource-type-icons.png") no-repeat scroll;
  }
  .video{
    background-position: -1px 3px;
  }
  .webpage{
    background-position: -1px -221px;
  }
  .interactive{
    background-position: -1px -26px;
  }
  .question{
    background-position: -1px -137px;
  }
  .image{
    background-position: -1px -249px;
  }
  .text{
    background-position: -1px -52px;
  }
  .audio{
    background-position: -1px -275px;
  }
  .border-on-click{
    border-radius: 4px;
    border: 2px solid $white;
    &:active {
      border-color: $brand-primary;
    }
  }

}
