.swap_horizontal {
  width: 24px;
}
.setting {
  @include flexbox;
  @include align-items(center);
  .gru-icon {
    margin-right: 10px;
  }
  &:not(.attempts, .publish-to) {
    > span {
      @include flex-shrink(0);
      width: 40%;
    }
  }
  &.attempts,
  &.publish-to {
    > span {
      padding-right: 10px;
    }
    .gru-select .form-group {
      margin-bottom: 0;
    }
  }
  .feedback-options {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include flex-grow(1);
    max-width: 500px;
    padding: 5px;
    .gru-radio {
      @include flex-shrink(0);
      padding-right: 15px;
    }
  }
  .gru-select {
    padding-left: 5px;
  }
}
.gru-settings-edit {
  .header {
    > div {
      display: inline-block;
    }
  }
  .visibility-settings {
    h3 {
      @include flexbox;
      @include align-items(center);
    }
  }
}
