.content.gru-audience{
    > *{
      margin: 8px 0;
    }
    span.empty{
      display: block;
    }
  .dropdown-toggle{
    margin-right: 10px;
  }
  li{
    label{
      display: block;
      margin: 5px 10px;
      padding:5px;

      input{
        margin-right: 5px;
      }
    }
  }
  .btn-audience{
    margin-top: 5px;
    i{
      font-size: 20px;
      margin-left:5px;
    }
  }
}
