.content.modals.gru-course-new, .content.modals.gru-collection-new {
  background-color: transparent;

  .modal-header {
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    background-color: $blue-400;

    .modal-title {
      color: $white;
      font-size: $font-size-large;
      line-height: 1;
      margin-left: 5px;
      text-align: left;
    }
  }

  .modal-body {
    background-color: $white;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    padding: 30px 30px 20px;

    form {

      label {
        display: block;

        span.required {
          &:after {
            content: ' *';
          }
        }

        .gru-input {
          width: 80%;
        }
      }

      .btn-group {
        .btn {
          background-color: $dark-400;
          color: $white;
          border-right: 1px solid $white;
          padding-top: 3px;
          padding-bottom: 3px;

          &:last-child {
            border-right: 1px solid $white;
          }

          &.selected {
            background-color: $blue-400;
          }
        }
      }
    }

    .actions {
      text-align: right;
      margin-top: 70px;

      button {
        padding-left: 24px;
        padding-right: 24px;

        &.btn-default {
          border: 1px solid $gray-light;
        }
      }
    }
  }
}

.content.modals.gru-course-new, .content.modals.gru-collection-new {
  width: 500px;
}
