.controller.analytics-performance-teacher {
  .navigation {
    text-align: center;
    .performance {
      min-height: 50px;
    }
    .mastery {
      border: 1px solid $color-gray-primary;
      min-height: 50px;
    }
  }

  .controls {
    .teacher-breadcrumb {
      @media (min-width: $screen-sm-min) { /* same for sm and md */
        padding: 0;
      }
      min-height: 50px;
      .gru-breadcrumb {
        margin-top: 3%;
      }
    }
    .teacher-actions {
      @media (min-width: $screen-sm-min) { /* same for sm and md */
        padding: 0;
      }
      min-height: 50px;
    }
  }

  .gru-filters {
    margin: 0;
    border-top: 1px solid $color-gray-lighter-3;
    .data-picker {
      padding: 0;
      min-height: 50px;
    }
    .performance-scale {
      height: 50px;
      display: table;
      padding: 0;
    }
  }

  .gru-content {
    min-height: 400px; /* This is temporal for layout */
  }
  .better-experience{
    margin-bottom:0px;
  }
  //.gru-data-picker{
  //  .option-picker{
  //    .option-list{
  //      li{
  //        span{
  //          float:left;
  //          padding: 1px;
  //        }
  //      }
  //    }
  //  }
  //}
}
