.controller.analytics-performance-teacher {
  .better-experience {
    margin-bottom:0;
  }

  .row {
    > [class*='col-']:first-child {
      padding-left: 56px;
      margin: 0 0 10px 0;
      @media (max-width: $screen-xs-max) {
        padding-left: 15px;
      }
    }
    > [class*='col-']:last-child {
      padding-left: 56px;
      @media (max-width: $screen-xs-max) {
        padding-right: 15px;
      }
    }
  }

  .nav {
    margin-top: 37px;
  }

  .controls {
    margin-top: 25px;
  }

  .gru-filters {
    .data-picker {
      padding: 0;
      min-height: 50px;
    }
    .performance-scale {
      height: 50px;
      display: table;
      padding: 0;
    }
  }

  .gru-content {
    min-height: 400px; /* This is temporal for layout */
  }
}
