.new-cards.gru-standard-card {
  width: 220px;
  height: 225px;
  margin: 10px;

  .panel {
    border-radius: 4px;
    width: 100%;
    margin: 0;
    .panel-heading {
      background-color: transparent;
      height: 131px;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 10px;
      .info {
        color: $white;
        .question-resources {
          height: 22px;
          margin: 45px 0 10px;
          i,
          span {
            vertical-align: middle;
            display: inline-block;
            margin: 0 5px 0 0;
          }
          i {
            font-size: $font-size-lead;
          }
        }
        .title-section {
          h3.title {
            color: $white;
            font-size: $font-size-h6;
            margin: 0;
          }
          $line-height: 1.3;
          $lines-to-show: 2;
          .truncate {
            @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
          }
        }
      }
      .publish-icon {
        display: inline-block;
        float: right;
        vertical-align: top;
        margin-top: 2px;
        background: url("gooru/badge-01.png");
        -webkit-background-size: 17px 17px;
        background-size: 17px 17px;
        height: 17px;
        width: 17px;
      }
    }
    .panel-body {
      @include flex-direction(column);
      @include justify-content(space-between);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      padding: 5px 15px;
      height: 40px;
      .standards {
        .gru-taxonomy-tag-list {
          .gru-taxonomy-tag {
            max-width: 88%;
            .content {
              margin: 0;
            }
          }
        }
        .popover-content {
          .gru-taxonomy-tag {
            max-width: 100%;
          }
        }
      }
      .author,
      .remixed-by {
        img {
          width: 20px;
          height: 20px;
          border-radius: 50px;
          cursor: pointer;
        }
        div > * {
          display: inline-block;
        }
        span {
          cursor: pointer;
        }
        span.title {
          margin: 2px 5px 10px 0;
          cursor: auto;
        }
        .owner {
          color: $blue-400;
          max-width: 160px;
          @include text-overflow;
          vertical-align: middle;
        }
      }
      .description {
        height: 51px;
        $line-height: 1.3;
        $lines-to-show: 3;
        margin: 0 0 14px;
        p.truncate {
          @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
        }
      }
    }
    .panel-footer {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      background-color: $white;
      border-top: 1px solid $gray-lighter;
      padding: 0 0 10px 0;
      width: 100%;
      @include flexbox;
      .options {
        width: 64%;
        @include inline-flex;
        padding: 10px 0 0 10px;
        button {
          margin: 0 10px 0 0;
        }
      }
      .actions {
        width: 35%;
        @include inline-flex;
        .visibility {
          @include align-items(center);
          padding: 7px 5px;
        }
        .btn {
          border-left: 1px solid $gray-lighter;
          margin: 0;
          font-size: $font-size-small;
          padding: 0 8px;

          &.btn-default {
            color: $white;
            background-color: $dark-300;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .no-bgd {
          background-color: transparent;
          font-size: $font-size-h4;
          line-height: 1;
          padding: 7px;
          i {
            color: $gray;
          }
        }
        .bookmark-btn {
          cursor: pointer;
          display: inline-block;
          &:hover {
            cursor: pointer;
          }
          &.btn-disabled {
            cursor: default;
            &:hover {
              cursor: default;
            }
          }
        }
        .share-btn.gru-share-pop-over {
          cursor: pointer;
          background-color: transparent;
          display: inline-block;
        }
        .gru-share-pop-over-window {
          .gru-share-pop-over-content {
            .share-actions {
              .btn-primary.btn.copy-btn {
                border: none;
                padding: 6px 16px;
              }
            }
          }
        }
      }
    }
  }
}
