<ul>
  <li class="legend">
    <span class="circle first"></span>
    <span>{{t "gru-century-skills-legend.legends.first"}}</span>
  </li>
  <li class="legend">
    <span class="circle second"></span>
    <span>{{t "gru-century-skills-legend.legends.second"}}</span>
  </li>
  <li class="legend">
    <span class="circle third"></span>
    <span>{{t "gru-century-skills-legend.legends.third"}}</span>
  </li>
  <li class="legend">
    <span class="circle fourth"></span>
    <span>{{t "gru-century-skills-legend.legends.fourth"}}</span>
  </li>
</ul>
