<ul>
  <li class="legend">
    <span class="circle hewlett"></span>
    <span>{{t "gru-century-skills.legends.hewlett"}}</span>
  </li>
  <li class="legend">
    <span class="circle conley"></span>
    <span>{{t "gru-century-skills.legends.conley"}}</span>
  </li>
  <li class="legend">
    <span class="circle framework"></span>
    <span>{{t "gru-century-skills.legends.framework"}}</span>
  </li>
  <li class="legend">
    <span class="circle national"></span>
    <span>{{t "gru-century-skills.legends.national"}}</span>
  </li>
</ul>
