<div class="table-fixed-left">
  <table>
    <tbody>
      <tr>
        <th>Normal Header</th>
      </tr>
      <tr>
        <th>Header with extra line
          <br>&nbsp;</th>
      </tr>
      <tr>
        <th>Normal Header</th>
      </tr>
      <tr>
        <th>Normal with extra line
          <br>&nbsp;</th>
      </tr>
      <tr>
        <th>Normal Header</th>
      </tr>
      <tr>
        <th>Normal Header</th>
      </tr>
    </tbody>
  </table>
</div>
<div class="table-fixed-right">
  <table>
    <tbody>
      <tr>
        <th>Header</th>
        <th>Another header</th>
        <th>Header</th>
        <th>Header really really really really long</th>
      </tr>
      <tr>
        <td>Info Long</td>
        <td>Info
          <br>with second line</td>
        <td>Info
          <br>with second line</td>
        <td>Info Long</td>
      </tr>
      <tr>
        <td>Info Long</td>
        <td>Info Long</td>
        <td>Info Long</td>
        <td>Info Long</td>
      </tr>
      <tr>
        <td>Info
          <br>with second line</td>
        <td>Info
          <br>with second line</td>
        <td>Info
          <br>with second line</td>
        <td>Info</td>
      </tr>
      <tr>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
      </tr>
      <tr>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
        <td>Info</td>
      </tr>
    </tbody>
  </table>
</div>
