<div class="table-fixed-left">
  <table>
    <tbody>
      <tr>
        <th>
          <div class="header-filters">
            <div class="name-filter">
              <span class="name-header">Name</span>
              <span class="last-header">
                <span>Last</span> {{gru-icon name="keyboard_arrow_down"}}
              </span>
              <span class="first-header active">
                <span>First</span> {{gru-icon name="keyboard_arrow_up"}}
              </span>
            </div>
            <div class="rubric-filter">
              <i class="rubric-icon"></i>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class="user-profile-summary">
            <div class="user-profile-details">
              <div class="user-profile-img">
                <img src="/assets/gooru/profile.png" />
              </div>
              <div class="username">
                <span>lastname</span>
                <span>firstname</span>
              </div>
            </div>
            <div class="score-details">
              <span>10</span>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class="user-profile-summary">
            <div class="user-profile-details">
              <div class="user-profile-img">
                <img src="/assets/gooru/profile.png" />
              </div>
              <div class="username">
                <span>lastname</span>
                <span>firstname</span>
              </div>
            </div>
            <div class="score-details">
              <span>10</span>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class="user-profile-summary">
            <div class="user-profile-details">
              <div class="user-profile-img">
                <img src="/assets/gooru/profile.png" />
              </div>
              <div class="username">
                <span>lastname</span>
                <span>firstname</span>
              </div>
            </div>
            <div class="score-details">
              <span>10</span>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class="user-profile-summary">
            <div class="user-profile-details">
              <div class="user-profile-img">
                <img src="/assets/gooru/profile.png" />
              </div>
              <div class="username">
                <span>lastname</span>
                <span>firstname</span>
              </div>
            </div>
            <div class="score-details">
              <span>10</span>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class="user-profile-summary">
            <div class="user-profile-details">
              <div class="user-profile-img">
                <img src="/assets/gooru/profile.png" />
              </div>
              <div class="username">
                <span>lastname</span>
                <span>firstname</span>
              </div>
            </div>
            <div class="score-details">
              <span>10</span>
            </div>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</div>
<div class="table-fixed-right">
  <table>
    <tbody>
      <tr>
        <th>
          <div class="question-header">
            <div class="question-icon">
              <i></i>
            </div>
            <div class="question-title">
              <p>Question name</p>
            </div>
          </div>
        </th>
        <th>
          <div class="question-header">
            <div class="question-icon">
              <i></i>
            </div>
            <div class="question-title">
              <p>Question name</p>
            </div>
          </div>
        </th>
        <th>
          <div class="question-header">
            <div class="question-icon">
              <i></i>
            </div>
            <div class="question-title">
              <p>Question name</p>
            </div>
          </div>
        </th>
        <th>
          <div class="question-header">
            <div class="question-icon">
              <i></i>
            </div>
            <div class="question-title">
              <p>Question name</p>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="perf-time-react-container">
            <div class="question-score-value">
              <div>10</div>
            </div>
            <div class="timespent-value">
              <span>1h 2m 4s</span>
            </div>
            <div class="reaction-value">
              <div class="selected-reaction">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/emoji-one/emoji.svg#1f610"></use>
                </svg>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
