<span class="audience-label">{{t "common.audience"}}</span><span class="required">*</span>
{{#if isEditing}}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-sm" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{t "common.add-plus"}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">

        </ul>
    </div>
{{else}}
    <span class="empty">{{t "common.not-specified"}}</span>
{{/if}}
