.content.collections.gru-collection-list {

  .collection-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    > div {
      border: 2px dashed $gray-light;
      padding: 20px;
      border-radius: 6px;

      > span {
        margin-left: 20px;
        vertical-align: text-top;
      }
    }
  }
}
