.gru-accordion-unit {
  padding: 40px 0 0;
  .unit {
    border-bottom: 1px solid $light-300;
    padding-bottom: 10px;
    padding-right: 20px;

    > .panel-title {
      font-size: $font-size-lead;
      font-weight: normal;

      > a {
        @include text-overflow;
        display: inline-block;
        line-height: 1.2;
        max-width: 80%;

        @media (min-width: $screen-sm) {
          padding-right: 15px;
        }
      }

      > span {
        display: none;
        font-size: $font-size-base;
        padding-left: 15px;
        vertical-align: 6px;

        @media (min-width: $screen-sm) {
          display: inline;
        }
      }
    }

    + .collapse {
      > .panel-body {
        padding: 0;
      }
    }
  }

  .item-disabled {
    .icon-container,
    .panel-title,
    .gru-user-icons,
    .content-count,
    .score,
    .state {
      opacity: 0.5;
    }
    .panel-title {
      .title {
        cursor: default;
      }
    }
    .icon-container {
      .score {
        button {
          cursor: default;
        }
      }
    }
  }
  &.expanded {
    .unit {
      margin: 0 0 10px 0;
    }
  }
}
