.controller.content.courses.edit {

  .accordion-course,
  .accordion-unit,
  .accordion-lesson {
    > li {
      padding: 10px 0;
    }
  }

  .accordion-course {

    .panel-heading {
      position: relative;
      border-bottom: 1px solid $gray-light;

      h3 > a, strong > a {
        color: $text-color;
      }

      h3 {
        display: inline-block;
        margin: 0 0 10px;
        padding: 0 20px 0 0;
        font-weight: bold;
        border-right: 1px solid $gray-light;
        line-height: 2.5;
      }

      strong {
        margin-left: 15px;
        font-weight: normal;
        font-size: 16px;
      }

      .gru-input {
        display: inline-block;
        width: 85%;
        margin-left: 15px;

        .form-group {
          display: inline-block;
          margin-bottom: 0;
          width: inherit;

          input, .error-messages {
            display: inline;
          }

          input {
            width: 50%;
            max-width: 25em;
            margin-right: 10px;
          }
        }
      }
    }

    .add-item {
      a {
        display: block;
        border: 2px dashed $gray-light;
        padding: 20px;
        border-radius: 6px;
        font-size: $font-size-large;
        color: $gray;
        text-align: center;
      }
    }

    .gru-accordion {
      &.view {
        > .edit {
          display: none;
        }

        > .view {
          .panel-heading {
            padding-right: 10px;
            margin-bottom: 0;

            .detail {
              float: right;

              > span {
                vertical-align: middle;
                margin-right: 2px;
                margin-left: 2px;
              }

              button {
                background-color: transparent;
                font-size: 24px;
                line-height: 1;
                padding: 7px 5px;

                i {
                  color: $gray;
                }
              }

              div {
                display: inline-block;
              }

              .actions {
                margin-left: 5px;

                div:last-of-type {
                  border-left: 1px solid $gray-light;
                  margin-left: 5px;
                  padding-left: 10px;
                }
              }
            }
          }

          &.collapsed {
            .panel-heading {
              margin-bottom: 0;
              border-bottom: 0 none;
            }
            .panel-body {
              display: none;
            }
          }
        }
      }
      &.edit {
        > .view {
          display: none;
        }
        > .edit {
          .panel-heading {
            .actions {
              position: absolute;
              top: 15px;
              right: 20px;
            }
          }
        }
      }
    }

    .gru-accordion-unit {

      .panel-body {
        padding: 10px 15px 15px;

        .col-sm-6 {
          label {
            width: 100%;

            span {
              display: block;
            }

            textarea {
              font-size: $font-size-base;
              height: 80px;
              resize: none;
              width: 100%;
              margin-top: 6px;

              &:focus {
                outline: 0 none;
              }
            }
          }
        }

        .data-row {
          > span {
            display: block;
            margin: 10px 0;
          }
        }
      }

      &.view {
        > .expanded > .panel-body {
          background-color: $dark-400;

          .add-item a {
            color: $white;
          }
        }
      }
    }

    .gru-accordion-lesson {

      &.view {
        > .view > .panel-heading .actions {
          .dropdown {
            &.open > .dropdown-toggle {
              z-index: $zindex-dropdown + 1;
              @include box-shadow(0 -4px 4px rgba(0,0,0,.2));
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              position: relative;
              background-color: $white;
            }

            .dropdown-menu {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              margin-top: -4px;

              li {
                > a {
                  padding: 10px 20px 10px 15px;
                  border-bottom: 1px solid $gray-lighter;
                }

                &:last-child > a {
                  border-bottom: 0 none;
                }
              }
            }
          }
        }
        > .expanded > .panel-body {
          background-color: $dark-300;
        }

        .accordion-lesson {

          > li.gru-accordion-lesson-item .panel-heading {
            border-bottom: 0 none;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 8px;

            > h3 {
              border-right: 0 none;
              padding-right: 10px;
              margin-bottom: 0;
              vertical-align: top;
            }

            > .title {
              > img, > .image-placeholder {
                display: inline-block;
                width: 50px;
                height: 40px;
                vertical-align: top;
              }

              > .image-placeholder {
                border-radius: 3px;
                background-color: $gray-lighter;
              }

              > div {
                border-left: 1px solid $gray-light;
                display: inline-block;
                margin-left: 10px;
                line-height: 1.4;

                > strong {
                  color: $text-color;
                  display: block;
                  line-height: 1.2;
                  margin-bottom: 5px;
                }

                > span {
                  color: $gray-light;
                  margin-left: 15px;
                  text-transform: capitalize;
                }
              }
            }
          }

          + div {
            padding: 10px 0 5px;

            button {
              font-size: $font-size-base;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}
