.performance-content{
  margin-bottom:15px;
  span.notStarted, span.noContent{
    margin: 0 auto;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
    color:$color-gray-dark-2;
  }
  div.collections-container span.noContent{
    padding-left: 50px;
  }
  .gru-student-performance-container{
    padding: 0;
    margin:0 5px;
  }
}

