.gru-unit-performance-container {
  margin: 15px 0;
  border:1px solid $color-gray-lighter-12;
  border-radius: 0!important;
  &.selected >a{
    background-color:$color-gray-lighter-13;
  }
  >a{
    color:$color-gray-dark-2;
    height:105px;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    display: -webkit-flex;
    display: flex;
    @include respond-to(xs){
      height:50px;
    }
    >ul{
      margin: 0;
      padding: 0;
      -webkit-order: 0;
      order: 0;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      -webkit-flex-shrink: 1;
      flex-shrink: 1;
      -webkit-flex-basis: auto;
      flex-basis: auto;
      -webkit-align-self: auto;
      align-self: auto;
      height:100%;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    text-align: center;
    li{
      &.performance-unit-title{
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: stretch;
        align-content: stretch;
        display: -webkit-flex;
        display: flex;
        height:100%;
        span{
          font-family:$font-family-base;
          font-weight: bold;
          color:$color-gray-dark-2;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &.performance-unit-content{
        height:100%;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        display: -webkit-flex;
        display: flex;
        @include respond-to(xs){
          border-left: 1px solid $color-gray-lighter-12;
        }
        >*{
          width: 100%;
          -webkit-order: 0;
          order: 0;
          -webkit-flex-grow: 0;
          flex-grow: 0;
          -webkit-flex-shrink: 1;
          flex-shrink: 1;
          -webkit-flex-basis: auto;
          flex-basis: auto;
          -webkit-align-self: auto;
          align-self: auto;
        }
        .performance-headers{
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          -webkit-align-content: center;
          align-content: center;
          display: -webkit-flex;
          display: flex;
          width: 100%;
          >*{
            -webkit-order: 0;
            order: 0;
            -webkit-flex-grow: 0;
            flex-grow: 0;
            -webkit-flex-shrink: 1;
            flex-shrink: 1;
            -webkit-flex-basis: auto;
            flex-basis: auto;
            -webkit-align-self: auto;
            align-self: auto;
            width: 100%;
          }
        }
      }
      span i{
        margin-right: 10px;
      }
    }
  }
}
