.lessons-container{
  margin: 0;
  > .gru-lesson-performance-container{
    display: inline-block;
    width:100%;
    height: 70px;
    border-top:1px solid $color-gray-lighter-12;
    margin-bottom: -5px;
    padding: 0;
    >li{
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-align-content: stretch;
      align-content: stretch;
      display: -webkit-flex;
      display: flex;
      height:70px;
      &:last-child{
        @include respond-to(xs) {
          border-left: 1px solid;
        }
      }
      .lesson-performance-title{
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: stretch;
        align-content: stretch;
        display: -webkit-flex;
        display: flex;
        height: 100%;
        padding-left: 15px;
        span{
          padding-left: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .lesson-performance-content{
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: stretch;
        align-content: stretch;
        display: -webkit-flex;
        display: flex;
        height: 100%;
        width: 100%;
      }
    }
  }
}
