.lessons-container{
  margin: 0;
  > .gru-lesson-performance-container{
    display: inline-block;
    width:100%;
    height: 70px;
    border-top:1px solid $color-gray-lighter-12;
    margin-bottom: -5px;
    padding: 0;
    >li{
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: flex-start;
      align-items: center;
      -webkit-align-content: stretch;
      align-content: stretch;
      display: -webkit-flex;
      display: flex;
      height:100%;
      &:last-child{
        border-left:1px solid;
      }
      .lesson-performance-title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .lesson-performance-content{
        width: 100%;
        -webkit-order: 0;
        order: 0;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        -webkit-flex-basis: auto;
        flex-basis: auto;
        -webkit-align-self: auto;
        align-self: auto;
      }
    }
  }
}
