.lessons-container{
  margin: 17px 0 0 0;

  .panel{
    box-shadow: none;
  }
  >div{
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    display: -webkit-flex;
    display: flex;
    > .gru-lesson-performance-container{
      width:100%;
      min-height: 70px;
      border:0;
      border-radius:0!important;
      padding: 0;
      @include respond-to(xs) {
        min-height:50px;
      }
      >a{
        border-bottom-left-radius:0;
        border-top-left-radius: 0;
        color:$gray;
        height: 70px;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: center;
        align-content: center;
        display: -webkit-flex;
        display: flex;
        @include respond-to(xs){
          height:50px;
        }
        >*{
          -webkit-order: 0;
          order: 0;
          -webkit-flex-grow: 1;
          flex-grow: 1;
          -webkit-flex-shrink: 1;
          flex-shrink: 1;
          -webkit-flex-basis: auto;
          flex-basis: auto;
          -webkit-align-self: auto;
          align-self: auto;
          height: 100%;
          width:100%;
          padding:0;
        }
        >ul{
          border-bottom:1px solid $gray-lighter;
          >li{
            &.lesson-performance-title {
              -webkit-flex-direction: row;
              flex-direction: row;
              -webkit-flex-wrap: nowrap;
              flex-wrap: nowrap;
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
              -webkit-align-items: center;
              align-items: center;
              -webkit-align-content: center;
              align-content: center;
              display: -webkit-flex;
              display: flex;
              height:100%;
              text-align: left;
              > span {
                padding-left: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-order: 0;
                order: 0;
                -webkit-flex-grow: 0;
                flex-grow: 0;
                -webkit-flex-shrink: 1;
                flex-shrink: 1;
                -webkit-flex-basis: auto;
                flex-basis: auto;
                -webkit-align-self: auto;
                align-self: auto;

              }
            }
            &.lesson-performance-content{
              -webkit-flex-direction: row;
              flex-direction: row;
              -webkit-flex-wrap: nowrap;
              flex-wrap: nowrap;
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
              -webkit-align-items: center;
              align-items: center;
              -webkit-align-content: center;
              align-content: center;
              display: -webkit-flex;
              display: flex;
              height:100%;
              width:100%;
              @include respond-to(xs){
                -webkit-justify-content: center;
                justify-content: center;
              }
              >*{
                -webkit-order: 0;
                order: 0;
                -webkit-flex-grow: 0;
                flex-grow: 0;
                -webkit-flex-shrink: 1;
                flex-shrink: 1;
                -webkit-flex-basis: auto;
                flex-basis: auto;
                -webkit-align-self: auto;
                align-self: auto;
                margin: 0;
              }
            }
            &:last-child{
              @include respond-to(xs) {
                border-left:1px solid $gray-lighter;
              }
            }
            &:last-child:before{

            }
          }
        }
      }
      div.collections-container{
        >div{
          height: 105px;
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          -webkit-align-content: center;
          align-content: center;
          display: -webkit-flex;
          display: flex;
          @include respond-to(xs){
            height:50px;
          }
          &:after{
            border-top: 1px solid $gray-lighter;
            width: 96%;
            position: relative;
            left:0;
            top:31px;
            @include respond-to(xs){
              top:0;
              bottom: 0;
            }
          }
          &:last-child{
            &:after{
              border:none;
            }
          }
          >ul{
            width: 100%;
            -webkit-order: 0;
            order: 0;
            -webkit-flex-grow: 0;
            flex-grow: 0;
            -webkit-flex-shrink: 1;
            flex-shrink: 1;
            -webkit-flex-basis: auto;
            flex-basis: auto;
            -webkit-align-self: auto;
            align-self: auto;
            padding:0;
            @include respond-to(xs){
              height:100%;
            }
            li{
              &.collection-performance-title {
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: flex-start;
                align-items: flex-start;
                -webkit-align-content: center;
                align-content: center;
                display: -webkit-flex;
                display: flex;
                height: 100%;
                text-align: left;
                >span{
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  &.has-action{
                    cursor: pointer;
                  }
                }
                > * {
                  padding-left: 55px;
                  -webkit-order: 0;
                  order: 0;
                  -webkit-flex-grow: 0;
                  flex-grow: 0;
                  -webkit-flex-shrink: 1;
                  flex-shrink: 1;
                  -webkit-flex-basis: auto;
                  flex-basis: auto;
                  -webkit-align-self: auto;
                  align-self: auto;
                  max-width: 100%;
                  text-align: start;
                  @include respond-to(xs){
                    padding-left:30px;
                  }
                }
              }
              &.collection-performance-content{
                -webkit-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: flex-start;
                justify-content: flex-start;
                -webkit-align-items: center;
                align-items: center;
                -webkit-align-content: center;
                align-content: center;
                display: -webkit-flex;
                display: flex;
                height: 100%;
                padding-left: 5px;
                @include respond-to(xs){
                  border-left:1px solid $gray-lighter;
                }
                .section-title{
                  padding: 5px;
                }
                .score-box{
                  @media(min-width: $screen-sm){
                    margin-top: 27px;
                  }
                }

              }
            }
          }
        }

      }
    }
    >*{
      width: 100%;
      -webkit-order: 0;
      order: 0;
      -webkit-flex-grow: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 1;
      flex-shrink: 1;
      -webkit-flex-basis: auto;
      flex-basis: auto;
      -webkit-align-self: auto;
      align-self: auto;
    }
  }



}
