  .gru-student-performance-container{
    padding: 0;
    margin: 0;
    .performance-headers{
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      align-content: center;
      display: -webkit-flex;
      display: flex;
      width: 100%;
      padding: 0;
      list-style: none;
      >*{
        -webkit-order: 0;
        order: 0;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        -webkit-flex-basis: 135px;
        flex-basis: 135px;
        -webkit-align-self: auto;
        align-self: auto;
        color:$light-500;
        &.name-header{
          -webkit-flex-grow: 4;
          flex-grow: 4;
          padding-left: 40px;
          margin-right: 22px;
        }
      }
    }
  }


