.controller.content-assessments {
  padding: 20px 0px;
  .assessments {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);

    .card {
      margin: 0 12px;
      float: left;
    }
  }
}
