.controller.content-rubrics {
  padding: 20px 0px;
  .rubrics {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(left);

    .card {
      float: $tab-float-dir;
      margin-bottom: 2em;
    }
  }
  .show-more-results {
    margin-top: 20px;
  }
}
