<div class="modal-header">
  <h4 class="modal-title">{{if model.fromSearch (t "common.search-standards") (t "common.add-standards")}}</h4>
</div>
<div class="modal-body">

  {{taxonomy.gru-taxonomy-picker
    browseSelectorText=(t "taxonomy.modals.gru-standard-picker.browseSelectorText")
    onSave=(action 'updateSelectedTags')
    onSearchPath=(action 'loadTaxonomyData')
    panelHeaders=panelHeaders
    selected=model.selected
    fromSearch=model.fromSearch
    selectedTextKey="taxonomy.modals.gru-standard-picker.selectedText"
    shortcuts=model.shortcuts
    shortcutText=(t "taxonomy.modals.gru-standard-picker.shortcutText")
    subject=model.subject }}

</div>
