.reports.gru-class-assessment-report {
  $space-top: 15px;

  > .view-container {
    position: relative;
    padding-top: $space-top;
    border-top: 1px solid $gray-lighter;

    > .gru-view-layout-picker {
      position: absolute;
      top: $space-top;
      right: 0;
    }

    &.table-view {
      .gru-student-view {
        display: none;
      }
    }

    &.student-view {
      .gru-table-view {
        display: none;
      }
    }

  }
}

.gru-modal {
  &.gru-questions-detail-modal{
    .modal-dialog {
      width: 80%;
      height: 100%;
      background-color: $body-bg;
    }
  }
}
