.reports.gru-assessment-report {
  width: 100%;
  padding: 30px 20px;
  background-color: $light-100;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
    padding: 40px 10px;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    padding: 40px 50px;
  }

  .hidden-report {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    height: 200px;

    span {
      @include flex();
      text-align: center;
      font-size: $font-size-large;
    }
  }
}
