.reports.gru-class-assessment-report {
  $space-top: 15px;

  > .view-container {
    position: relative;
    padding-top: $space-top;
    border-top: 1px solid $gray-lighter;

    > .view-selector {
      position: absolute;
      top: $space-top;
      right: 0;
    }

    &.table-view {
      .gru-student-view {
        display: none;
      }
    }

    &.student-view {
      .gru-table-view {
        display: none;
      }
    }
  }
}
