<div class="controller content-assessments">
  <div class="assessments clearfix">
    {{#each assessments as |assessment|}}
      <div class="card">
        {{cards.gru-collection-card
        collection=assessment
        editEnabled=isMyProfile
        remixEnabled=false
        onEditCollection="editAssessment"
        onOpenContentPlayer="openContentPlayer"}}
      </div>
    {{/each}}
  </div>
</div>
