<div class="controller content-assessments">
  <div class="assessments clearfix">
    {{#each assessments as |assessment|}}
      <div class="card">
        {{cards.gru-collection-card
        collection=assessment
        editEnabled=isMyProfile
        onEditCollection="editAssessment"
        onRemixCollection="remixAssessment"
        onOpenContentPlayer="openContentPlayer"}}
      </div>
    {{/each}}
  </div>
  {{#if showMoreResultsButton}}
    <span class="show-more-results" {{action 'showMoreResults'}}>{{t "common.show-more-results"}}</span>
  {{/if}}
</div>
