<div class="controller content-collections">
  <div class="collections clearfix">
    {{#each collections as |collection|}}
      <div class="card">
        {{cards.gru-collection-card
          collection=collection
          editEnabled=isMyProfile
          onEditCollection="editCollection"
          onRemixCollection="remixCollection"
          onOpenContentPlayer="openContentPlayer"}}
      </div>
    {{/each}}
  </div>
  {{#if showMoreResultsButton}}
    <span class="show-more-results" {{action 'showMoreResults'}}>{{t "common.show-more-results"}}</span>
  {{/if}}
</div>
