<div class="controller content-collections">
  <div class="collections clearfix">
    {{#each collections as |collection|}}
      <div class="card">
        {{cards.gru-collection-card
          collection=collection
          editEnabled=isMyProfile
          onEditCollection="editCollection"}}
      </div>
    {{/each}}
  </div>
</div>
