<div class="controller course">
    <div class="category-menu">
        <ul class="nav nav-tabs category-options">
          <li>
              <a href='#' class="btn btn-category">
                  <span>Fist stuff</span>
                  <span>Second stuff</span>
              </a>
          </li>
          <li>
              <a href='#' class="btn btn-category">
                  <span>Some stuff</span>
                  <span>Some other stuff</span>
              </a>
          </li>
        </ul>
    </div>
    <div class="course-content">

    </div>
</div>


