<div class="controller course">
  <div class="category-menu">
    <ul class="nav nav-tabs category-options">
      {{#each courses as |course|}}
        {{cards.gru-course-card course=course}}
      {{/each}}
    </ul>
  </div>
  <div class="course-content">

  </div>
</div>


