<div class="controller profile-courses">
  <div class="category-menu">
    <ul class="nav nav-tabs category-options">
    </ul>
  </div>
  <div class="course-content">
    {{#each courses as |course|}}
      {{cards.gru-course-card course=course isEditEnabled=isMyProfile isOwner=isMyProfile onEditCourse="editCourse" onRemixCourse="remixCourse"}}
    {{/each}}
  </div>
</div>
