<div class="controller content-questions">
  <div class="questions clearfix">
    {{#each questions as |question|}}
      <div class="card">
        {{cards.gru-resource-card resource=question addEnabled=true editEnabled=isMyProfile onEditResource="editQuestion" remixEditable=false}}
      </div>
    {{/each}}
  </div>
</div>
