<div class="controller content-questions">
  <div class="questions">
    {{#each questions as |question|}}
      <div class="card">
        {{cards.gru-resource-card resource=question editEnabled=true onEditResource="editQuestion"}}
      </div>
    {{/each}}
  </div>
</div>
