<div class="controller content-resources">
    <div class="resources clearfix">
      {{#each resources as |resource|}}
          <div class="card">
            {{cards.gru-resource-card resource=resource editEnabled=isMyProfile onEditResource="editResource"}}
          </div>
      {{/each}}
    </div>
</div>
