.gru-study-header {
  top: 0;
  width: 100%;
  position: fixed;
  height: 104px;
  color: $white;
  z-index: $zindex-navbar-fixed + 1;
  .header-panel {
    .course-info {
      padding: 0px;
      .course-map {
        width: 75px;
        height: 64px;
        float: left;
        border-right: 2px solid #e3e5ea;
        cursor: pointer;
        .nav-icon-container {
          i {
            margin-left: 32px;
            margin-top: 20px;
          }
        }
      }
      .back-to-collection {
        width: 75px;
        height: 64px;
        float: left;
        border-right: 2px solid #e3e5ea;
        cursor: pointer;
        .nav-icon-container {
          i {
            margin-left: -42px;
            margin-top: 20px;
          }
        }
      }
      .content-title {
        .title {
          $line-height: 1.3;
          $lines-to-show: 2;
          @include ellipsis($font-size: 16px, $line-height: $line-height, $lines-to-show: 2, $excerpt-bg: $blue-400);
          position: absolute;
          @include translateY(-50%);
          top: 50%;
          padding-left: 25px;
        }
      }
    }
    &.row {
      > [class*="col"] {
        border-right: 2px solid $light-200;
        height: 64px;
        background-color: $blue-400;
      }
    }

    .suggest-player {
      padding: 0px;
      margin: 0px;
      .carousel-control {
        &.left,
        &.right {
          background: none;
          width: 27px;
          background-color: rgba(255, 255, 255, 0.17);
          i {
            position: relative;
            left: -83px;
            top: 18px;
            width: 1px;
            height: 1px;
          }
        }
        opacity: 1;
        :hover,
        :focus {
          opacity: 1;
        }
      }
      .multi-item-carousel {
        padding-left: 15px;
        .carousel-inner {
          height: 64px;
          > .item {
            transition: 500ms ease-in-out left;
          }
          .item {
            div {
              height: 64px;
              cursor: pointer;
            }
          }
          .active {
            &.left {
              left: -50%;
            }
            &.right {
              left: 50%;
            }
          }

          @media all and (transform-3d), (-webkit-transform-3d) {
            > .item {
              // use your favourite prefixer here
              transition: 500ms ease-in-out left;
              transition: 500ms ease-in-out all;
              backface-visibility: visible;
              transform: none !important;
            }
          }
        }
      }

      .resource-icon {
        display: inline-block;
        margin-right: 10px;
        float: left;
        position: relative;
        @include translateY(-50%);
        top: 50%;
      }

      .title {
        float: left;
        width: calc(100% - 50px);
        $line-height: 1.3;
        position: relative;
        @include translateY(-50%);
        top: 50%;
        @include ellipsis($font-size: 16px, $line-height: $line-height, $lines-to-show: 2, $excerpt-bg: $blue-400);
      }
      .no-suggestion-title {
        p {
          margin-bottom: 0px;
        }
        position: absolute;
        @include translateY(-50%);
        top: 50%;
        $line-height: 1.3;
        $lines-to-show: 2;
        opacity: 0.5;
        text-align: center;
        @include ellipsis($font-size: 16px, $line-height: $line-height, $lines-to-show: 2, $excerpt-bg: $blue-400);
      }

      .video-icon {
        background: url("gooru/images/video-resource-green.svg") no-repeat;
        width: 32px;
        height: 32px;
      }

      .webpage-icon {
        background: url("gooru/images/website-resource-green.svg")no-repeat;
        width: 27px;
        height: 27px;
      }

      .interactive-icon {
        background: url("gooru/images/interactive-resource-green.svg") no-repeat;
        width: 35px;
        height: 32px;
      }

      .image-icon {
        background: url("gooru/images/image-resource-green.svg") no-repeat;
        width: 32px;
        height: 32px;
      }

      .text-icon {
        background: url("gooru/images/text-resource-green.svg") no-repeat;
        width: 32px;
        height: 32px;
      }

      .audio-icon {
        background: url("gooru/images/audio-resource-green.svg") no-repeat;
        width: 38px;
        height: 33px;
      }
    }

    .performance-completion-info {
      .completion {
        border-right: 2px solid $light-200;
        height: 64px;
        .score {
          font-weight: 900;
          font-size: 35px;
          height: 42px;
          line-height: 42px;
          display: block;
          text-align: center;
        }
        .label {
          font-size: 12px;
          line-height: 8px;
          text-transform: uppercase;
          font-weight: bold;
          display: block;
          text-align: center;
        }
      }
      .performance {
        height: 64px;
        .score {
          font-weight: 900;
          font-size: 35px;
          height: 42px;
          line-height: 42px;
          display: block;
          text-align: center;
          color: $dark-400;
        }
        .label {
          font-size: 12px;
          line-height: 8px;
          text-transform: uppercase;
          font-weight: bold;
          display: block;
          text-align: center;
          color: $dark-400;
        }
      }
    }
  }

  .bar-charts {
    width: 100%;
    height: 40px;
    background-color: $white;
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    .completion-chart {
      padding: 15px 20px 0 15px;
    }
    .charts.gru-x-bar-chart {
      background-color: $light-300;
      height: 10px;
    }
  }
}
