.player .gru-navigation {
  // temporary for GG-92
  height: $player-navigation-height;
  float:right;
  width: 100%;
  z-index: 10;
  @media (min-width: $screen-md) {
    width:80%;
    height: $player-navigation-md-height;
  }
  .content {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: stretch;
    align-content: stretch;
    display: -webkit-flex;
    display: flex;
    @media (min-width: $screen-md) {
      overflow: hidden;

      .hamburger-icon {
        display: none;
      }
    }
    .navigation-bar{
      width:100%;
      height:57px;
      background-color: $dark-400;
      padding:0 30px;
      span{
        width: 100%;
        height: 100%;
        display: inline-block;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        -webkit-align-content: stretch;
        align-content: stretch;
        display:-webkit-flex;
        display: flex;
        >*{
          color:white;
        }
      }
    }
    .reaction-bar{
      margin-top: 20px;
      >div >div{
        margin-bottom: 0;
        width: 100%;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-align-content: stretch;
        align-content: stretch;
        display: -webkit-flex;
        display: flex;
        padding:0;
        @media (min-width: $screen-md) {
          margin-bottom:23px;
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          padding:15px;
        }
        >*{
          width:100%;
        }
        @media (min-width: $screen-md) {
          button{
            width:initial;
          }
        }
      }
    }
    .hamburger-icon, .x-icon{
      font-size: 2.2rem;
      cursor: pointer;
    }
  }
}
