.player .gru-viewer {

  .narration {
    // temporary for GG-92
    background-color: hsla(0, 0%, 20%, 0.7);

    width: 100%;
    position: fixed;
    top: $player-navigation-height;
    left: 0;
    z-index: 10;

    > div {
      @media (min-width: $screen-md) {
        margin-left: $player-navigator-width;
      }
    }
  }

  .content {
    // temporary for GG-92
    background: #40A640;

    overflow-y: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: $player-navigation-height;

    @media (min-width: $screen-md) {
      margin-left: $player-navigator-width;
    }
  }
  div.autor-container{
    width: $narration-autor-width;
    height: $narration-autor-height;
  }
  .autor{
    width: $narration-autor-width;
    height: $narration-autor-height;
    border-radius: 50px;
    box-shadow: 0 0 0 2px #87badd;
  }
  .narration-text{
    color:$color-white;
  }
}
