.player .gru-viewer {

  .narration {
    margin-top: 0;
    @media (max-width: $screen-sm-max) {
      margin-top: 30px;
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 0;
    }
    .panel-body {
      padding: 10px 15px;
    }
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .not-iframe {
    text-align: center;
    padding: 25px;
    .panel-header {
      margin: 0 0 40px 0;
    }
    p.description {
      line-height: $font-size-base;
    }
    p.title, .view-resource-button {
      font-size: $font-size-large;
      font-weight: 300;
      margin: 0 0 7px 0;
    }
    .panel-footer {
      background-color: $white;
      margin: 190px 0 0 0;
    }
  }
  .content {
    overflow: auto;
    height: 100vh;
    width: 100%;
    float: right;
    padding-bottom: $player-navigation-height;
    padding-left: 310px;
    padding-right: 60px;
    @media (min-width: $screen-md) {
      padding-bottom: $player-navigation-md-height;
    }
    @media (max-width: $screen-sm-max) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .avatar {
      text-align: center;
      padding-right: 15px;
      img {
        width: $narration-avatar-width;
        height: $narration-avatar-height;
        border-radius: $narration-avatar-height;
        margin: 0 auto;
        display: block;
      }
      .user {
        font-size: $font-size-small;
        display: block;
      }
    }
    .message {
      * {
        font-size: $font-size-base!important;
      }
    }
  }
}
