.player .gru-navigator {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: $player-navigator-width;
  h2 {
    padding: 0 5px;
  }
  .resources {
    padding: 0;
    position: relative;
    .bgd-line {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: 18px;
      width: 5px;
      height: 90%;
      background-color: $color-gray-lighter-9;
      z-index: 1;
    }
    li {
      list-style: none;
      border-radius: 0;
      border: 0;
      border-top: 1px solid $color-gray-lighter-10;
      background-color: $color-gray-lighter-6;
      min-height: 50px;
      overflow: hidden;
      padding: 0 0 0 5px;
      display: table;
      width: 100%;
      cursor: pointer;

      .resources-info {
//        display: table-cell;
//        vertical-align: middle;
        position: relative;
        .bubble-type {
          border-radius: 50px;
          box-shadow: 0 0 0 2px $color-gray-lighter-9;
          background: #FFF url("gooru/resource-type-icons.png") no-repeat scroll 0 0;
          float: left;
          height: 30px;
          width: 30px;
          z-index: 2;
          margin: 8px 0 0 0;
          position: absolute;
//          &:after {
//            display: block;
//            position: absolute;
//            top: 32px;
//            content: '';
//            margin-left: 13px;
//            width: 5px;
//            height: 100%;
//            background-color: $color-gray-lighter-9;
//            z-index: 0;
//          }
//          &:before {
//             display: block;
//             position: absolute;
//             top: 0;
//             content: '';
//             margin-left: 13px;
//             width: 5px;
//             height: 100%;
//             background-color: $color-gray-lighter-9;
//             z-index: 0;
//           }
        }
        .video {
          background-position: 2px 5px;
        }
        .webpage {
          background-position: 2px -219px;
        }
        .interactive {
          background-position: 2px -23px;
        }
        .question {
          background-position: 2px -135px;
        }
        .image {
          background-position: 2px -247px;
        }
        .text {
          background-position: 2px -50px;
        }
        .audio {
          background-position: 2px -273px;
        }
        .title {
          padding: 18px 10px 10px;
          float: right;
          font-size: 12px;
          height: 100%;
          width: 90%;
        }
      }
    }
  }
}
