.player .gru-navigation {
  // temporary for GG-92
  height: $player-navigation-height;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .content {
    .left {
      float: left;
      margin-left: 1%;
    }
    .center {
      display: block;
      text-align: center;
      padding: 15px;
    }
    .right {
      float: right;
      text-align: right;
      margin-right: 5%;
      margin-top: 3%;
    }

    @media (min-width: $screen-md) {
      margin-left: $player-navigator-width-md;
      overflow: hidden;

      .hamburger-icon {
        display: none;
      }
    }

    .hamburger-icon, .x-icon{
      font-size: 2.2rem;
      cursor: pointer;
    }
  }
}
