.reports_collection .container-fluid {
  min-width: $screen-md-min;
}

.app-container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
}

.app-container > .controller.reports {
  $gutter-width: 30px;
  $on-air-icon: 40px;

  display: block;
  padding: 0 15px 30px 15px;

  .header {
    .title {
      > i {
        display: inline-block;
        margin: 0 5px 0 15px;
        width: $on-air-icon;
        height: $on-air-icon;
        vertical-align: middle;
        background-image: url('gooru/images/on-air-icon.svg');
        background-size: $on-air-icon $on-air-icon;
        vertical-align: 28px;
        @include text-hide();
      }
      > span {
        display: inline-block;
        font-size: $font-size-h4;
        margin: 6px 0;
      }

      .gru-tour {
        display: inline-block;
      }
    }

    .actions {
      .btn-info {
        i {
          font-size: $font-size-base;
          vertical-align: -2px;
          margin-right: 6px;
        }
      }
    }

    &.anonymous {
      background-color: $dark-400;
      color: $white;
      width: 100vw;
      margin-left: -$gutter-width;
      @include clearfix();

      .title {
        float: left;
        margin-left: $gutter-width;

        > i {
          background-image: url('gooru/images/on-air-icon-anonymous.svg');
        }
      }
      .mode {
        font-size: $font-size-base;
        float: right;
        margin-right: $gutter-width + 20px;
        margin-top: 18px;

        > i {
          font-size: $font-size-large;
          vertical-align: text-bottom;
          margin-right: 10px;
        }
      }
    }
  }
  .gru-class-assessment-report {
    padding-top: 10px;
  }
}
