.student-collection {
  .back-button {
    padding: 0 160px;
    height: 1px;
    @media (min-width: $screen-sm-min) {
      padding: 0 160px;
    }
    @media (min-width: $screen-md-min) {
      padding: 0 160px;
    }
  }
}
