.student-collection {
  .back-button {
    height: 1px;
    z-index: 999;
    margin-left: 150px;
    position: absolute !important;
    padding: 10px 9px 12px 33px;
    @media (min-width: $screen-sm-min) {
      padding: 10px 9px 12px 33px;
    }
    @media (min-width: $screen-md-min) {
      padding: 10px 9px 12px 33px;
    }
  }
}
