.reports_study-student-collection {
  overflow: auto;
  height: 100vh;
  .app-container {
    padding: 0;
  }
  .gru-header,
  .gru-footer {
    display: none;
  }

  .report-container {
    &.expanded {
      margin-top: 275px;
      @media (min-width: $screen-sm) {
        margin-top: 155px;
      }
      @media (min-width: $screen-md) {
        margin-top: 130px;
      }
    }
    &.collapsed {
      margin-top: 40px;
      @media (min-width: $screen-sm) {
        margin-top: 65px;
      }
      @media (min-width: $screen-md) {
        margin-top: 40px;
      }
    }
    .suggestion-panel {
      padding: 20px 20px;
      @media (min-width: $screen-sm) {
        padding: 20px 10px;
      }
      @media (min-width: $screen-md) {
        padding: 20px 50px;
      }
      .player.gru-suggest-test {
        width: 100%;
        padding: 0;
      }
      &.no-suggestions {
        .panel {
          box-shadow: none;
          margin: 0;
          border-radius: 5px;
          .panel-body {
            padding: 25px 20px 25px 25px;
          }
          .actions {
            margin: 20px 0 0 auto;
            .btn-next {
              padding: 6px 40px;
            }
          }
        }
      }
    }
    .qz-assessment-report {
      padding-top: 0;
    }
  }
}
