<div class="controller content-map">
  {{class.overview.gru-accordion-course
  currentClass=class
  classMembers=classMembers
  onSelectResource="playResource"
  onLocationUpdate=(action 'updateLocation')
  userLocation=userLocation
  location=openingLocation
  units=units
  contentVisibility=contentVisibility
  isTeacher=false}}
</div>
