{{#if class.courseId}}
<div class="controller student course-map">
  {{class.overview.gru-accordion-course
  currentClass=class
  classMembers=classMembers
  onSelectResource="playResource"
  onLocationUpdate=(action 'updateLocation')
  userLocation=userLocation
  location=openingLocation
  units=units
  contentVisibility=contentVisibility
  isTeacher=false}}
</div>
{{else}}
  <div class="no-content">This classroom does not have a related course and it has no content</div>
{{/if}}
