{{player.gru-study-header
  classId=classId
  collection=collection
  showConfirmation=false
  onToggleHeader='toggleHeader'
  fromReport=true
}}
<div class="report-container {{if toggleState 'expanded' 'collapsed'}}">
  {{reports.qz-student-report attemptData=attemptData}}
</div>