<div class="controller class analytics collection student">
  {{#if assessmentResult}}
    {{reports.gru-assessment-report assessmentResult=assessmentResult
      onSelectAttempt='selectAttempt'
    }}
  {{/if}}
</div>

