.reports.pull-up-assessment-report-listview {
  .table-fixed-left {
    border-collapse: collapse;
    width: 300px;
    float: left;
    overflow-x: auto;
    white-space: nowrap;
    text-align: left;
    z-index: 2;

    table {
      width: 100%;
      table-layout: fixed;
      word-break: break-all;

      th {
        font-weight: normal;
        border-right: 1px dashed #cccccc;
        border-left: 1px solid #cccccc;
        height: 40px;
        border-bottom: 1px solid #cccccc;
        overflow: hidden;

        .header-filters {
          height: 40px;
          display: flex;

          .name-filter {
            height: 40px;
            width: 250px;
            padding-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            .first-header,
            .last-header,
            .name-header {
              margin-right: 10px;
            }

            .first-header,
            .last-header {
              display: flex;
              opacity: 0.5;
              cursor: pointer;

              &.active {
                opacity: 1;
              }
            }
          }

          .rubric-filter {
            width: 45px;
            height: 40px;

            .rubric-icon {
              background-image: url("../assets/gooru/images/navigation_rubric_icon.svg");
              background-repeat: no-repeat;
              width: 20px;
              width: 35px;
              height: 40px;
              display: block;
              background-position: 10px 13px;
            }
          }
        }
      }

      .user-profile-summary {
        display: flex;
        height: 40px;

        .user-profile-details {
          width: 250px;
          display: flex;
          align-items: center;
          cursor: pointer;

          .user-profile-img {
            width: 43px;

            img {
              width: 29px;
              border-radius: 50%;
              margin-left: 7px;
              border-color: transparent;
            }
          }
        }
      }

      .score-details {
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .table-fixed-right {
    width: calc(100% - 300px);
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;

    table {
      table-layout: fixed;
      word-break: break-all;
      width: 100px;

      td,
      th {
        border-right: 1px dashed #cccccc;
        border-left: 1px dashed #cccccc;
        height: 40px;
        border-bottom: 1px solid #cccccc;
        overflow: hidden;
        width: 200px;
        font-weight: normal;
      }

      th {
        .question-header {
          width: 200px;
          height: 40px;
          display: flex;

          .question-icon {
            width: 45px;

            i {
              background-image: url("../assets/gooru/images/add_question.svg");
              background-repeat: no-repeat;
              width: 40px;
              height: 40px;
              display: block;
              background-position: 15px 10px;
              background-size: 20px 20px;
            }
          }

          .question-title {
            width: calc(100% - 40px);
            display: flex;
            align-items: center;
            height: 40px;
            margin-bottom: 0;

            p {
              white-space: normal;
              margin-bottom: 0;
              @include ellipsis(
                $font-size: 13px,
                $line-height: 1.2,
                $lines-to-show: 2
              );
            }
          }
        }
      }

      tr {
        td:nth-child(1),
        th:nth-child(1) {
          border-left: none;
        }
      }

      td {
        .perf-time-react-container {
          width: 200px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          .question-score-value {
            width: calc(200px / 3);

            div {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              font-size: 12px;
              font-weight: bold;
              line-height: 23px;
              text-align: center;
              margin-left: 20px;
              margin-top: 2px;
              font-weight: bold;

              &.correct {
                color: #1fa33c;
                border: 1px solid #1fa33c;
              }

              &.wrong {
                color: #ff4c5c;
                border: 1px solid #ff4c5c;
              }

              &.not-started {
                color: #37434d;
                border: 1px solid #37434d;
              }

              &.skipped {
                span {
                  color: #ccc;
                  font-size: 12px;
                }

                i {
                  font-size: 30px;
                  color: #ccc;
                  display: block;
                  margin-top: -25px;
                  margin-left: -2px;
                }
              }
            }
          }

          .timespent-value {
            width: calc(200px / 3);
            text-align: center;
          }

          .reaction-value {
            width: calc(200px / 3);

            .selected-reaction {
              width: 27px;
              height: 27px;
              margin-left: 13px;

              svg {
                width: 100%;
                height: 100%;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
}
