.competency-report-pull-up {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 768px !important;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;
  display: block;
  background-color: $white;

  .competency-report {
    background-color: $white;

    .header {
      height: 60px;
      padding: 8px 15px;
      display: flex;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

      .report-info {
        width: 96%;
        display: flex;

        .title-section {
          width: 73%;
          font-size: 16px;
          color: #37424b;

          .type {
            text-transform: uppercase;
          }

          .title {
            text-transform: capitalize;
          }

          .title,
          .type {
            height: 21px;
            line-height: 21px;
          }

          &.content {
            margin: auto;

            .type {
              font-size: 20px;
              font-weight: bold;
              color: #36424a;
            }
          }
        }

        .competency-status {
          width: 27%;
          margin: auto;
          color: #37424b;
          font-size: 16px;

          .badge {
            background-image: url("gooru/gooru-edu-rights-badge.png");
            width: 69px;
            height: 60px;
            background-size: cover;
            background-color: $white;
            margin-left: 15px;
            margin-top: -8px;
          }
        }
      }

      .close-pullup {
        padding-top: 10px;
        opacity: 0.5;

        i {
          font-size: 28px;
        }
      }
    }

    .body {
      height: 80vh;
      min-height: 135px;
      width: 760px;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 8px 10px 15px;
    }
  }
}
