.reports.pull-up-dca-question-report {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 768px;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;

  .backdrop {
    background-color: #434c5a;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.8;
    background-color: #000;
  }

  .backdrop-pull-ups {
    .backdrop {
      background: none !important;
    }
  }

  .loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .dca-question-report-container {
    background: #ffffff;
    width: 768px;
    max-height: 90vh;
    height: 90vh;

    .report-header {
      display: flex;
      height: 60px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 1;

      .report-header-info {
        width: calc(100% - 50px);
        display: flex;
        justify-content: space-between;

        .collection-title {
          display: flex;
          align-items: center;
          max-width: 450px;
          padding-left: 20px;

          p {
            margin: 0;
            max-width: 410px;
            @include ellipsis(
              $font-size: 14px,
              $line-height: 1.2,
              $lines-to-show: 2
            );
          }

          .collection-icon {
            width: 40px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: 0 12px;

            &.assessment {
              background-image: url("../assets/gooru/images/assessment-gray.svg");
            }

            &.collection {
              background-image: url("../assets/gooru/images/collection_gray.svg");
            }
          }
        }

        .dca-activity-date {
          font-size: 15px;
          font-weight: bold;
          align-self: center;
          padding-right: 20px;
        }
      }

      .report-close-pullup {
        width: 50px;

        .close {
          color: #ccc;
          margin-top: 20px;
          margin-right: 20px;
          font-size: 24px;
        }
      }
    }

    .report-content {
      max-height: calc(90vh - 60px);
      height: calc(90vh - 60px);
      overflow-y: auto;
      width: 100%;
      padding-bottom: 20px;

      .report-info-chart-container {
        display: inline-grid;
        grid-template-columns: 130px 420px 100px;
        height: 80px;
        align-items: center;
        border-bottom: 1px solid #ccc;
        width: 100%;

        .report-info-container {
          width: 100px;
          display: inline-grid;
          justify-items: center;
          align-items: center;
          height: 80px;
          justify-self: center;

          .quesion-icon {
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            display: block;
            background-size: 35px 35px;
            background-image: url("../assets/gooru/images/add_question.svg");

            &.free-response-question {
              background-image: url("../assets/gooru/images/add_rubric.svg");
            }
            opacity: 0.5;
            background-position: 0 4px;
          }

          span {
            align-self: baseline;
            line-height: 0.5px;
          }
        }

        .report-chart-container {
          display: flex;
          width: 400px;

          > div {
            display: block;
            height: 20px;
          }

          .wrong {
            border: 2px solid #f46360;
          }

          .correct,
          .graded {
            background-color: #4b9740;
          }

          .not-graded {
            background-color: #525e65;
          }

          .not-answered {
            background-color: #e5e5e5;
          }
        }

        .responses {
          color: #666;
          font-size: 13px;
        }
      }

      .report-carousel {
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;

        #report-carousel-wrapper {
          .question-background-cover {
            min-height: 217px;
            max-height: 217px;

            &.show-all {
              max-height: none;
            }

            .question-content-container {
              width: 620px;
              margin: 0 auto;
              display: flex;
              align-items: center;
              min-height: 217px;
              justify-content: center;

              .question-image-container {
                width: 200px;

                img {
                  width: 200px;
                  padding-top: 20px;
                }
              }

              .question-text {
                font-size: 16px;
                font-style: italic;
                padding: 15px;
              }
            }
          }

          .carousel-control {
            opacity: 1;
            background: none;

            &.in-active {
              opacity: 0.3;
              pointer-events: none;
            }

            &.left {
              z-index: 2;
              width: 45px;

              .arrow-left {
                width: 25px;
                height: 56px;
                display: block;
                background-image: url("../assets/gooru/images/arrow-left-gray.svg");
                background-repeat: no-repeat;
                margin-left: 15px;
                position: relative;
                top: 42%;
              }
            }

            &.right {
              z-index: 2;
              width: 45px;

              .arrow-right {
                width: 25px;
                height: 56px;
                display: block;
                background-image: url("../assets/gooru/images/arrow-right-gray.svg");
                background-repeat: no-repeat;
                margin-left: 5px;
                position: relative;
                top: 42%;
              }
            }
          }
        }

        .show-less,
        .show-more {
          text-transform: uppercase;
          text-align: center;
          margin: 0;
          padding: 0;
          color: #1fa9e8;
          padding-top: 25px;
          cursor: pointer;
        }
      }

      .answer-report-group {
        padding-top: 20px;

        %answer-section {
          width: 100%;
          height: 36px;
          text-transform: uppercase;
          font-size: 15px;
          display: inline-grid;
          align-items: center;
          grid-template-columns: 95% 5%;
        }

        .answer-users {
          padding: 20px 20px 5px;

          .user-profile-details {
            height: 70px;
            width: 80px;
            display: inline-grid;
            justify-items: center;
            margin-bottom: 15px;

            span {
              width: 80px;
              align-self: center;
              text-align: center;
              font-size: 15px;
              color: #37424b;
              font-family: Lato;
              text-transform: capitalize;
            }

            .user-profile-img {
              height: 40px;

              img {
                width: 29px;
                height: 29px;
                border-radius: 50%;
              }
            }
          }
        }

        .slide-up {
          .answer-section {
            i {
              transform: rotateZ(-180deg);
              margin-left: 23px;
            }
          }
        }

        .answer-section {
          cursor: pointer;

          i {
            margin-right: 20px;
          }
        }

        .correct-answer-list-container {
          .correct-answer-list {
            border-bottom: 1px solid #ccc;

            .correct-answers {
              padding-top: 20px;
              margin-left: 40px;
              color: #37424b;
              margin-bottom: 10px;

              .questions {
                width: 100%;
                max-width: 100%;
              }
            }
          }

          .correct-answer-list:last-child {
            border: none;
          }

          .correct-answer-section {
            @extend %answer-section;
            background-color: #4b9740;
            color: #fff;

            span {
              font-weight: bold;
              text-indent: 30px;
            }
          }
        }

        .wrong-answer-list-container {
          .wrong-answer-list {
            border-bottom: 1px solid #ccc;

            .wrong-answers {
              padding-top: 20px;
              margin-left: 40px;
              margin-bottom: 10px;
              color: #37424b;

              .questions {
                width: 100%;
                max-width: 100%;
              }
            }
          }

          .wrong-answer-list:last-child {
            border: none;
          }

          .wrong-answer-section {
            @extend %answer-section;
            border: 2px solid #f46360;

            span {
              color: #f46360;
              text-indent: 30px;
            }
          }
        }

        .graded-list-container {
          .graded-answer-section {
            @extend %answer-section;
            background-color: #4b9740;
            color: #fff;

            span {
              font-weight: bold;
              text-indent: 30px;
            }
          }
        }

        .not-graded-list-container {
          .not-graded-answer-section {
            @extend %answer-section;
            background-color: #525e65;
            color: #fff;

            span {
              text-indent: 30px;
            }
          }
        }

        .not-answer-list-container {
          .not-answer-section {
            @extend %answer-section;
            background-color: #e5e5e5;

            span {
              font-weight: bold;
              text-indent: 30px;
            }
          }
        }
      }
    }
  }
}
