.reports.pull-up-question-report {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 768px;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;

  .report-backdrop {
    background-color: #434c5a;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.9;
  }

  .question-report-container {
    background: #ffffff;
    width: 768px;
    max-height: 90vh;
    height: 90vh;

    .report-header {
      display: flex;
      height: 60px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 1;

      .report-breadcrumb {
        width: calc(100% - 50px);
        display: flex;

        .unit-title {
          display: flex;
          align-items: center;
          max-width: 215px;

          p {
            max-width: 170px;
            margin: 0;
            @include ellipsis(
              $font-size: 14px,
              $line-height: 1.2,
              $lines-to-show: 2
            );
          }

          .unit-icon {
            width: 50px;
            height: 50px;
            background-image: url("../assets/gooru/images/unit.svg");
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: 12px 12px;
          }
        }

        .lesson-title {
          display: flex;
          align-items: center;
          max-width: 215px;

          .keyboard_arrow_right {
            margin-right: 5px;
          }

          p {
            margin: 0;
            max-width: 170px;
            @include ellipsis(
              $font-size: 14px,
              $line-height: 1.2,
              $lines-to-show: 2
            );
          }

          .lesson-icon {
            width: 45px;
            height: 50px;
            background-image: url("../assets/gooru/images/lesson.svg");
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: 0 11px;
          }
        }

        .collection-title {
          display: flex;
          align-items: center;
          max-width: 300px;

          p {
            margin: 0;
            max-width: 260px;
            @include ellipsis(
              $font-size: 14px,
              $line-height: 1.2,
              $lines-to-show: 2
            );
          }

          .collection-icon {
            width: 40px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: 0 12px;

            &.assessment {
              background-image: url("../assets/gooru/images/assessment-gray.svg");
            }

            &.collection {
              background-image: url("../assets/gooru/images/collection_gray.svg");
            }
          }
        }
      }

      .report-close-pullup {
        width: 50px;

        .close {
          color: #ccc;
          margin-top: 20px;
          margin-right: 20px;
          font-size: 24px;
        }
      }
    }

    .report-content {
      width: 100%;
      height: 100%;
      overflow-y: auto;

      .report-info-chart-container {
        display: inline-grid;
        grid-template-columns: 130px auto;
        height: 80px;
        align-items: center;
        border-bottom: 1px solid #ccc;
        width: 100%;

        .report-info-container {
          width: 75px;
          display: inline-grid;
          justify-items: center;
          align-items: center;
          height: 80px;
          justify-self: center;

          .quesion-icon {
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            display: block;
            background-size: 35px 35px;
            background-image: url("../assets/gooru/images/add_question.svg");
            opacity: 0.5;
            background-position: 0 4px;
          }

          span {
            align-self: baseline;
            line-height: 0.5px;
          }
        }

        .report-chart-container {
          display: inline-grid;
          grid-template-columns: 0 80% 20%;
          width: 400px;

          > div {
            display: block;
            height: 20px;
          }

          .wrong {
            border: 2px solid #f46360;
          }

          .correct {
            background-color: #4b9740;
          }

          .not-started {
            background-color: #e5e5e5;
          }
        }
      }

      .report-carousel {
        position: relative;

        #report-carousel-wrapper {
          .question-background-cover {
            height: 217px;

            .question-content-container {
              width: 600px;
              margin: 0 auto;
              display: flex;
              align-items: center;
              min-height: 217px;
              justify-content: center;

              .question-image-container {
                width: 200px;

                img {
                  width: 200px;
                }
              }

              .question-title-desc {
                .question-title {
                  font-size: 20px;
                  line-height: 1.2;
                }

                .question-desc {
                  font-style: italic;
                }
              }
            }
          }

          .carousel-control {
            opacity: 1;
            background: none;

            &.in-active {
              opacity: 0.3;
              pointer-events: none;
            }

            &.left {
              z-index: 2;
              width: 45px;

              .arrow-left {
                width: 25px;
                height: 56px;
                display: block;
                background-image: url("../assets/gooru/images/arrow-left-gray.svg");
                background-repeat: no-repeat;
                margin-left: 15px;
                position: relative;
                top: 42%;
              }
            }

            &.right {
              z-index: 2;
              width: 45px;

              .arrow-right {
                width: 25px;
                height: 56px;
                display: block;
                background-image: url("../assets/gooru/images/arrow-right-gray.svg");
                background-repeat: no-repeat;
                margin-left: 5px;
                position: relative;
                top: 42%;
              }
            }
          }
        }
      }
    }
  }
}
