<h1>TODO: Collection Search Results {{term}}</h1>
<section class="collections">
    <div class="row">
        <div class="col-md-1 col-md-offset-1">
            <select class="collections-select ember-select">
                <option value="Collection">Collection</option>
                <option value="Resource">Resource</option>
            </select>
        </div>
        <div class="col-md-1">
            <button></button>
        </div>
    </div>
    <div class="row">

    </div>
</section>

