{{collection-results
term=searchController.term
collectionResults=collectionResults}}
{{#if showMoreResultsButton}}
  <span class="show-more-results" {{action 'showMoreResults'}}>{{t "common.show-more-results"}}</span>
{{/if}}
