<div class="controller featured">
  <div class="courses-results">
    <div class="results">
      {{#if courses}}
        {{#each courses as |course|}}
          {{new-cards.gru-collection-card
            content=course
            profile=profile
            isCourse=true
            onOpenContentPlayer="playCourse"
            onOpenIndependentPlayer="playIndependentContent"
            onRemixCourse="remixCourse"
            onBookmarkContent="onBookmarkCourse"
          }}
        {{/each}}
      {{else}}
        {{partial 'partials/no-results-found'}}
      {{/if}}
    </div>
  </div>
</div>
