<div class="controller featured">
    <div class="courses-results">
        <div class="results">
          {{#each courses as |course|}}
            {{new-cards.gru-collection-card
            content=course
            profile=profile
            isCourse=true
            onOpenContentPlayer="openContentPlayer"
            onRemixCourse="remixCourse"
            }}
          {{/each}}
        </div>
    </div>
</div>