{{ search.gru-question-options
selectedOptionTypes=selectedOptionTypes
onSelectedOption="selectMenuOption"}}

<div class="content">
  {{gru-resource-results
  term=term
  resourceResults=questionResults}}
</div>
