{{ search.gru-resource-options
selectedOptionTypes=selectedOptionTypes
onSelectedOption="selectMenuOption"}}

<div class="content">
  {{gru-resource-results
  term=searchController.term
  resourceResults=resourceResults}}
</div>
