.controller.content.questions.edit {

  #builder {
    > .header {
      .actions {
        float: right;
      }
    }
    .panel {
      border-radius: 6px;
      margin-bottom: 30px;
      .panel-heading {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        div.border-bottom{
          padding-bottom: 15px;
          border-bottom: 1px solid $gray-light;
          margin-bottom: 0;
          margin-top: 15px;
          .instructions {
            color: $gray;
          }
        }
      }
      .panel-body{
        .text-empty{
          font-size: $font-size-large;
        }
        .add-image{
          margin-top:20px;
        }
        textarea{
          line-height: 1;
        }
      }
    }
  }
}
