.controller.content.questions.edit {

  textarea{
    resize: none;
  }

  label {
    .title, b,.btn-empty {
      display: block;
    }
    b {
      font-size: $font-size-large;
      font-weight: normal;
    }
  }

  .missing-correct-answer,.missing-images {
    color: $brand-danger;
  }

  article.fixed-header {
    #information {
      padding-top: 0;
    }
  }

  #information {
    .title-section {
      display:flex;
      .title{
        width: 60%;
        label{
          width: 100%;
          .gru-input.title{
            width: 92%;
          }
        }
      }
      .question-types{
        width: 40%;
      }
      .question-types {
        .btn-group {
          display: block;
          margin-top: 10px;
          .dropdown-toggle{
            background-color:$blue-300;
          }
        }
      }
    }
  }

  #builder {
    .header,
    .footer {
      .actions {
        float: right;
      }
    }
    .footer {
      margin: 0 0 20px 0;
      height: 35px;
    }
    .panel {
      border-radius: 6px;
      margin-bottom: 30px;
      .panel-heading {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        div.border-bottom{
          padding-bottom: 15px;
          border-bottom: 1px solid $gray-lighter;
          margin-bottom: 0;
          margin-top: 15px;
          .instructions {
            color: $gray;
          }
        }
      }
      .panel-body {
        .text-empty{
          font-size: $font-size-large;
        }
        .add-image{
          margin-top:20px;
        }
        textarea{
          line-height: 1;
        }
      }

      &.question-text {
        .panel-body {
          min-height: 184px;
        }
      }
      .panel-footer{
        background-color:$white;
      }
    }
  }
}
