<ul class="indicator-list">
  <li><div class="indicator bad"></div>0-59%</li>
  <li><div class="indicator regular"></div>60-69%</li>
  <li><div class="indicator good"></div>70-79%</li>
  <li><div class="indicator very-good"></div>80-89%</li>
  <li><div class="indicator excellent"></div>90-100%</li>
</ul>

