<div class="suggest-panel panel-default">
    <div class="panel-body">
        <div class="no-suggest-result-content">
            <div class="title">{{t "common.no-suggest-result-message"}}</div>
            <div class="icon">{{gru-icon name="remove_circle_outline"}}</div>
            <span class="message">{{t "common.no-results-message"}}</span>
        </div>
    </div>
</div>
