.reports.assessment.gru-resources {

  table{

    .resource-type-icon{
      i {
        &.video-icon {
          background: url("video-resource.svg");
          -webkit-background-size: 31px 30px;
          background-size: 31px 30px;
          height: 30px;
          width: 31px;
        }
        &.webpage-icon {
          background: url("website-resource.svg");
          -webkit-background-size: 29px 30px;
          background-size: 29px 30px;
          height: 30px;
          width: 29px;
        }
        &.interactive-icon {
          background: url("interactive-resource.svg");
          -webkit-background-size: 34px 30px;
          background-size: 34px 30px;
          height: 30px;
          width: 34px;
          vertical-align: top;
          margin: 5px 0 0 0;
        }
        &.question-icon {
          background: url("question-resource.svg");
          -webkit-background-size: 30px 30px;
          background-size: 30px 30px;
          height: 30px;
          width: 30px;
        }
        &.image-icon {
          background: url("image-resource.svg");
          -webkit-background-size: 30px 30px;
          background-size: 30px 30px;
          height: 30px;
          width: 30px;
        }
        &.text-icon {
          background: url("text-resource.svg");
          -webkit-background-size: 31px 30px;
          background-size: 31px 30px;
          height: 30px;
          width: 31px;
        }
        &.audio-icon {
          background: url("audio-resource.svg");
          -webkit-background-size: 34px 30px;
          background-size: 34px 30px;
          height: 30px;
          width: 34px;
        }
      }
    }
  }
}
