.gru-study-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  .panel {
    height: 51px;
    width: 100%;
  }

  .nav-body {
    margin: auto;

    .add-info {
      display: inline-block;
      word-wrap: break-word;
      //width: 90px;
      vertical-align: middle;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      .add-info {
        display: none;
      }
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
      //width: 960px;
      add-info: {
        display: inline-block;
      }
    }
    @media (min-width: 1281px) {
      //width: 960px;
      add-info: {
        display: inline-block;
      }
    }
    /*
                                  ##Device = Tablets, Ipads (landscape)
                                  ##Screen = B/w 768px to 1024px
                                */
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      //width: 960px;
      add-info: {
        display: inline-block;
      }
    }
    /*
                                  ##Device = Low Resolution Tablets, Mobiles (Landscape)
                                  ##Screen = B/w 481px to 767px
                                */
    @media (min-width: 481px) and (max-width: 767px) {
      .add-info {
        display: none;
      }
    }
    /*
                                  ##Device = Most of the Smartphones Mobiles (Portrait)
                                  ##Screen = B/w 320px to 479px
                                */
    @media (min-width: 320px) and (max-width: 480px) {
      .add-info {
        display: none;
      }
    }

    .studyplayer-title {
      opacity: 1;
      height: 50px;
      font-size: 16px;
      font-weight: bold;
      pointer-events: none;

      a {
        padding: 0;
        max-width: 300px;
        padding: 0 0 0 15px;
        line-height: 50px;
      }
    }
  }

  ul.nav-bar,
  ul.nav-pills {
    .nav-item {
      border-left: $border-right-side $light-200;
      border-right: $border-left-side $light-200;
    }

    .performance-chart {
      cursor: pointer;

      &.not-started {
        pointer-events: none;
      }
    }

    li {
      &.not-started {
        pointer-events: none;
      }

      &.divider {
        border-left: 1px solid $panel-default-border;
        height: 50px;
      }

      &.class-info > a {
        opacity: 1;
      }
      height: 50px;

      &.vactive {
        display: block;
        color: $blue-400;

        a {
          color: $blue-400;
        }
      }

      a {
        color: $white;
        height: 100%;
        padding: 12px 15px 8px;

        .gru-icon {
          vertical-align: middle;
        }

        .dca-pin {
          background-image: url("gooru/images/dca-white.svg");
          background-repeat: no-repeat;
          background-size: contain;
          width: 24px;
          display: block;
          float: left;
          height: 24px !important;
        }

        .dca-text {
          float: left;
        }

        &:hover {
          .dca-pin {
            background-image: url("gooru/images/dca-yellow.svg");
          }
        }
      }
      @media (min-width: $screen-sm) {
        display: block;
      }
      @media (max-width: $screen-xs-max) {
        .charts.gru-performance-chart {
          display: none;
        }
      }

      .class-title {
        padding: 5px;
      }
    }
  }

  .navbar-right {
    margin-right: 0;

    li {
      .performance {
        height: 51.5px;
        width: 143px;

        .score {
          font-weight: 900;
          font-size: 30px;
          height: 35px;
          line-height: 35px;
          display: block;
          text-align: center;
          // margin-top: 4px;
        }

        .label {
          font-size: 12px;
          line-height: 8px;
          text-transform: uppercase;
          font-weight: bold;
          display: block;
          text-align: center;
        }
      }
    }
  }

  .charts.gru-performance-chart {
    min-width: 59px;

    > .container-box {
      height: 51px;

      > .percentage {
        margin-top: 9.5px;
        cursor: pointer;
      }
    }
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: $blue-400; // sunken effect
  }

  ul.navbar-nav > li.class-info {
    > a {
      border-radius: 3px;
      padding: 10px 15px;
    }
  }
}
//nav-body

div.student.class {
  div.header.clearfix {
    > div.go-back-container {
      display: none;
    }
  }
}

.hide-classroom-information {
  display: none;
}

.start-tour {
  display: none;
}

button.locate {
  display: none;
}
