.student.gru-class-navigation,
.teacher.gru-class-navigation {
  clear: both;
  margin: 20px 0 0 0;
  .nav-tabs {
    border-bottom: solid 1px $light-300;
    margin: 0;
    li {
      margin: 0 10px 0 0;
      @media (min-width: $screen-sm) {
        margin: 0 15px 0 0;
      }
      a {
        padding: 10px 5px;
        .lead {
          font-size: $font-size-h5;
          font-weight: normal;
        }
      }
    }
  }
  li {
    height: 50px;
    margin-bottom: 0;

    &.active {
      display: block;
      a {
        box-shadow: inset 0 -2px 0 $gray;

        &:focus {
          box-shadow: inset 0 -2px 0 $gray;
        }

        &:active {
          box-shadow: inset 0 -2px 0 $gray;
        }
      }
    }

    &:not(.active) {
      a {
        box-shadow: none;
      }
    }

    &.actions {
      @include flexbox;
      @include align-items(flex-end);
      @include justify-content(space-between);
      height: 39px;
      .manage-goals-cta {
        margin-right: 10px;
      }
    }

    a {
      &:hover {
        color: initial;
      }
      span {
        font-weight: bold;
      }
    }
  }
  .extra-buttons {
    .collapse-expand {
      color: $gray;
      i {
        float: left;
        clear: left;
        display: inline-block;
        -webkit-transform: scale(2, 1);
        -moz-transform: scale(2, 1);
        -ms-transform: scale(2, 1);
        -o-transform: scale(2, 1);
        transform: scale(2, 1);
        &:nth-child(2) {
          position: relative;
          top: -18px;
        }
      }
    }
  }
}
