.student.class {
  padding: 12px 0;
  width: 960px;
  margin: 0 auto;
  .gru-take-tour {
    right: 80px;
    top: 125px;
  }
  .content .no-content {
    margin-top: 15px;
  }
  .header {
    .go-back-container {
      .back-to {
        font-size: $font-size-lead;
        font-weight: 300;
        i {
          font-size: $font-size-arrow-icon;
          height: 30px;
          vertical-align: middle;
          width: 25px;
        }
      }
      h1 {
        color: $dark-500;
        font-size: $font-size-lead;
        font-weight: 300;
        display: inline-block;
        margin: 0 200px 0 200px;
      }
    }
    .panel.classroom-information {
      float: $tab-float-dir;
      margin: 10px 0 0;
      width: 100%;
      .panel-body {
        padding: 0;
        height: 60px;
        .course-image {
          border-right: $border-right-side $light-300;
          border-left: $border-left-side $light-300;
          height: 60px;
          width: 90px;
          float: $tab-float-dir !important;
          img {
            height: 100%;
            width: 89px;
          }
          .no-course-image {
            background: url("gooru/course-default-medium.png");
            background-size: 90px 60px;
            width: 89px;
            height: 60px;
          }
        }
        .course-name {
          line-height: 1.4;
          margin: 10px 10px 0 10px;
          width: 25%;
          float: $tab-float-dir !important;
        }
        .counts-container {
          padding: 6px 0 0;
          width: 6%;
          float: $tab-float-dir !important;
          .count {
            height: 20px;
            margin: 2px 0 0;
            width: 100%;
            i {
              font-size: $font-size-units-icon;
              line-height: 1.1;
            }
            span {
              vertical-align: top;
              margin-left: 4px;
            }
          }
        }
        .teacher-profile {
          margin: 0 0 0 20px;
          width: 16%;
          float: $tab-float-dir !important;
          img {
            border-radius: 50px;
            display: inline-block;
            float: $tab-float-dir;
            height: 40px;
            margin: 10px 10px 10px 0;
            width: 43px;
          }
          .owner-name {
            display: inline-block !important;
            float: $tab-float-dir;
            line-height: 1.4;
            margin: 10px 0 0;
            width: 65%;
          }
        }
        .taxonomy-standards {
          min-width: 100px;
          margin: 0 0 0 20px;
          padding: 12px 0 0;
          width: 18%;
          float: $tab-float-dir !important;
          .taxonomy.gru-taxonomy-tag {
            background-color: $light-300;
            border: none;
            max-width: 135px;
            .content {
              b,
              span {
                color: $white;
              }
            }
          }
        }
        .class-code {
          border-left: $border-right-side;
          border-right: $border-left-side;
          height: 60px;
          padding: 14px 0 6px;
          text-align: $menu-float-dir;
          width: 7%;
          float: $tab-float-dir !important;
          div {
            line-height: 1;
            text-transform: uppercase;
            color: $dark-400;
            width: 100%;
            &.title {
              opacity: 0.5;
              font-size: $font-size-xxxsmall;
              font-weight: normal;
            }
            &.code {
              font-size: $font-size-small;
              font-weight: bold;
              margin: 3px 0 0;
            }
          }
        }
        .performance-container {
          width: 11%;
          float: $menu-float-dir !important;
          .percentage {
            margin: 12px 0;
            font-size: $font-size-h3;
          }
          .completion-bar {
            width: 80%;
          }
        }
      }
    }
  }
  .content {
    .analytics-performance-student {
      .student-actions,
      .tab-content {
        padding: 0;
      }
    }
  }
}
