.student.class {
  padding: 10px;
  @media (min-width: $screen-md) {
    padding: 35px 130px;
  }
  .content .no-content {
    margin-top: 15px;
  }
  .header {
    .go-back-container {
      margin: 0 0 25px 0;
      .back-to {
        font-size: $font-size-lead;
        i {
          color: $dark-500;
          font-size: $font-size-arrow-icon;
          height: 30px;
          vertical-align: middle;
          width: 25px;
        }
      }
      h1 {
        color: $dark-500;
        font-size: $font-size-h5;
        font-weight: 300;
        display: inline-block;
        margin: 0 0 5px 0;
      }
    }
    .panel.classroom-information {
      float: left;
      margin: 15px 20px 0 0;
      width: 100%;
      .panel-body {
        padding: 0;
        height: 60px;
        .course-image {
          border-right: 1px solid $light-300;
          height: 60px;
          width: 60px;
          img {
            height: 100%;
            object-fit: contain;
            width: 58px;
          }
        }
        .course-name {
          $line-height: 1.4;
          $lines-to-show: 2;
          margin: 8px 0 0 10px;
          width: 210px;
          @include ellipsis($font-size: $font-size-h6, $line-height: $line-height, $lines-to-show: $lines-to-show);
        }
        .units-count {
          padding: 16px 0 0;
          margin: 0 0 0 35px;
          width: 35px;
          i {
            font-size: $font-size-units-icon;
            line-height: 1.1;
          }
          span {
            vertical-align: top;
            margin-left: 4px;
          }
        }
        .taxonomy-standards {
          min-width: 130px;
          margin: 0 0 0 50px;
          padding: 12px 0 0;
          .taxonomy.gru-taxonomy-tag {
            background-color: $light-300;
            border: none;
            .content {
              b,
              span {
                color: $white;
              }
            }
          }
        }
        .teacher-profile {
          margin: 0 0 0 40px;
          width: 220px;
          img {
            border-radius: 50px;
            display: inline-block;
            height: 40px;
            margin: 10px 10px 10px 0;
            width: 43px;
          }
        }
        .students-count {
          padding: 16px 0 0;
          margin: 0 0 0 40px;
          i {
            line-height: 0.9;
          }
          span {
            vertical-align: top;
            margin-left: 4px;
          }
        }
        .performance-container {
          width: 130px;
          .performance {
            color: $dark-400;
            text-align: center;
            height: 54px;
            padding: 5px 0 0;
            .percentage {
              font-size: $font-size-h3;
              line-height: 28px;
              font-weight: 900;
            }
            label {
              text-transform: uppercase;
              font-size: $font-size-xsmall;
            }
          }
          .completion-chart {
            height: 6px;
            .charts.gru-x-bar-chart {
              background-color: $light-600;
              border-radius: 0;
              height: 6px;
              .segment {
                &:first-child {
                  border-radius: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .content {
    .analytics-performance-student {
      .student-actions,
      .tab-content {
        padding: 0;
      }
    }
  }
}
