.student-independent-container {
  padding: 2em;

  .header {
    .go-back-container {
      margin: 0 0 15px 0;
      .back-to {
        font-size: 19px;
        i {
          font-size: 20px;
          height: 24px;
          vertical-align: middle;
          width: 25px;
        }
      }
    }

    h1 {
      font-size: $font-size-h5;
      display: block;
      color: $dark-500;
      margin: 0 0 5px 0;
    }
    .panel.course-information {
      float: $tab-float-dir;
      margin: 10px 0 0;
      width: 100%;
      .panel-body {
        display: flex;
        padding: 0;
        height: 60px;
        .course-image {
          border-right: 1px solid $light-300;
          height: 60px;
          width: 90px;
          img {
            height: 100%;
            width: 89px;
          }
          .no-course-image {
            background: url("gooru/course-default-medium.png");
            background-size: 90px 60px;
            width: 89px;
            height: 60px;
          }
        }
        .course-name {
          line-height: 1.4;
          margin: 10px 0 0 10px;
          width: 25%;
        }
        .counts-container {
          padding: 6px 0 0;
          width: 6%;
          .count {
            margin: 2px 0 0;
            width: 100%;
            padding-top: 14px;
            i {
              font-size: $font-size-units-icon;
              line-height: 1.1;
            }
            span {
              vertical-align: top;
              margin-left: 4px;
            }
          }
        }
        .teacher-profile {
          margin: 0 0 0 20px;
          width: 22%;
          display: inline-block;
          padding-top: 18px;
          img {
            width: 20px;
            height: 20px;
            border-radius: 50px;
            cursor: pointer;
            margin-top: 3px;
            margin-right: 3px;
          }
          div.title {
            margin: 2px 5px 10px 0;
            cursor: auto;
            font-style: italic;
            width: 70px;
          }
          div.profile-container {
            width: calc(100% - 75px);
          }
          .owner {
            color: $blue-400;
            max-width: 160px;
            @include text-overflow;
            vertical-align: middle;
            padding-left: 5px;
          }
        }
        .taxonomy-standards {
          min-width: 100px;
          margin: 0 0 0 20px;
          padding: 12px 0 0;
          width: 18%;
          .taxonomy.gru-taxonomy-tag {
            background-color: $light-300;
            border: none;
            max-width: 135px;
            .content {
              b,
              span {
                color: $white;
              }
            }
          }
        }
        .class-code {
          border-left: 1px solid $light-200;
          height: 60px;
          padding: 14px 0 6px;
          text-align: $menu-float-dir;
          width: 7%;
          div {
            line-height: 1;
            text-transform: uppercase;
            color: $dark-400;
            width: 100%;
            &.title {
              opacity: 0.5;
              font-size: $font-size-xxxsmall;
              font-weight: normal;
            }
            &.code {
              font-size: $font-size-small;
              font-weight: bold;
              margin: 3px 0 0;
            }
          }
        }
        .performance-container {
          right: 26px;
          position: absolute;
          width: 11%;
          .percentage {
            margin: 12px 0;
            font-size: $font-size-h3;
          }
          .completion-bar {
            width: 80%;
          }
        }
      }
    }
  }
}
