.student.performance {
  padding: 10px;
  @media (min-width: $screen-sm) {
    padding: 25px 55px;
  }
  .panel-header{
    height: 115px;
    h1{
      float: left;
      font-size: $font-size-h4;
      margin: 2px 0 0 0;
      width: auto;
    }
    button{
      float: right;
      padding: 6px 10px 6px 8px;
    }
    p{
      float: left;
      font-size: 18px;
      margin: 15px 0 0 0;
      line-height: 20px;
      width: 100%;
    }
  }
  .filters {
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 6px 0 0 0;
    .radios-container{
      @include flexbox;
      float: left;
      .gru-radio {
        height: 25px;
        margin-right: 20px;
      }
      &>:last-child {
        margin-right: 0;
      }
    }
    .performance-scale {
      float: right;
      margin: 5px 0 0 0;
    }
  }
}
