<div class="courses col-sm-12">
  {{student.independent.gru-independent-learning-courses}}
</div>
<div class="collections col-sm-12">
  {{student.independent.gru-independent-learning-collections}}
</div>
<div class="assessments col-sm-12">
  {{student.independent.gru-independent-learning-assessments}}
</div>
