<div>
  <p>
    {{t "gru-multiple-choice.instructions"}}
  </p>

  <div>
    <form class="form-horizontal">
      {{#each question.answers as |answer|}}
      <div class="radio">
        <label>
          <input type="radio" name="answer-choice" value="{{answer.id}}">
          {{answer.answerText}}
        </label>
      </div>
      {{/each}}
    </form>
  </div>
</div>

