<p class="instructions">
  {{t "gru-true-false.instructions"}}
</p>

<div class="answer-choices">
  <form class="form-horizontal">
      <div class="radio">
        {{#radio-button
        value=true
        changed="selectAnswerChoice"
        name="answer-choice-radio"}}
          {{t "gru-true-false.true"}}
        {{/radio-button}}
      </div>
      <div class="radio">
        {{#radio-button
        value=false
        changed="selectAnswerChoice"
        name="answer-choice-radio"}}
          {{t "gru-true-false.false"}}
        {{/radio-button}}
      </div>
  </form>
</div>