<p class="instructions">
  {{t "gru-multiple-choice.instructions"}}
</p>

<div class="answer-choices">
  <form class="form-horizontal">
    {{#each question.answers as |answer index|}}
      <div class="radio {{if readOnly 'disabled'}}">
        {{#radio-button
            value=answer.id
            disabled=readOnly
            groupValue=userAnswer
            changed="selectAnswerChoice"
            name="answer-choice-radio"}}
            <span>({{answer-letter index}})</span>{{{answer.text}}}
        {{/radio-button}}
      </div>
    {{/each}}
  </form>
</div>


