<p class="instructions">
  {{t "gru-fib.instructions"}}
</p>

<div class="answer-panel">
    <form class="form-horizontal">
        <div class="fib-answers">
          {{{answers}}}
        </div>
    </form>
</div>
