.panel-body {
  .external-https {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    padding: 2em;

    p {
      line-height: 2em;
      text-align: center;
    }

    a {
      font-size: $font-size-h4;
      margin-top: 1em;
      text-align: center;
      width: 90%;
      word-wrap: break-word;
    }
  }
}
