.controller.about {
  padding: 0 20px 10px;

  h4 {
    margin-top: 10;
    margin-bottom: 0;
    width: 99%;
    text-align: right;

    .btn {
      margin-top: -0.3em;
    }

    .about-edit {
      margin-left: 20px;

      i {
        color: $gray-darker;
      }
    }
  }

  .edit-view {
    height: 30px;
  }

  .about-container {
    // display: flex;
    flex-wrap: wrap;

    .school-info {
      @media (min-width: $screen-md) {
        margin-left: -15px;
      }
    }

    .sub-title {
      border-bottom: 0.5px solid $light-300;
      font-size: 20px;
      padding-bottom: 5px;
      margin-bottom: 14px;
      color: $dark-500;

      .verification {
        color: $green-400;

        .gru-icon {
          background: url("/assets/gooru/images/icon-verified-green.svg")
            no-repeat center center;
          display: inline-block;
          height: 24px;
          width: 24px;
          vertical-align: text-bottom;
        }
      }
    }
  }

  .info {
    width: 100%;

    .panel {
      overflow: hidden;
    }
  }

  .avatar {
    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding: 0;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      margin-left: 15px;

      .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5px;

        img {
          height: 140px;
        }
        @media (max-width: $screen-sm-min) {
          display: none;
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      padding: 0;
      margin-left: 15px;
      width: 59px;

      img {
        border-radius: 50%;
        width: 59px;
        height: 59px;
        @media (min-width: $screen-sm-min) {
          width: 100%;
        }
      }
    }

    .background {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center 25%;
      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
  }

  .panel {
    object-fit: contain;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);

    .panel-body {
      .username {
        > p {
          word-wrap: break-word;
        }
      }
      padding: 26px;

      .row > div {
        padding-bottom: 10px;
      }
    }

    h6 {
      font-weight: normal;
      font-size: 13px;
      color: $gray-dove;
      margin-top: 0;
      margin-bottom: 3px;
    }

    p {
      font-size: 16px;
      padding: 0 4px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.role {
        text-transform: capitalize;
      }
    }

    .bio {
      p {
        margin-bottom: 11px !important;
        display: -webkit-box;
        height: 150px;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }
      text-align: justify;
    }

    .row {
      p {
        margin-bottom: 1.5em;
        padding: 0;
      }
    }
  }
}

&.view-profile {
  .panel {
    .panel-body {
      @media (min-width: $screen-lg-min) {
        width: 461px;
        height: 371px;
      }
    }
  }
}

&.edit-profile {
  .panel {
    .panel-body {
      @media (min-width: $screen-lg-min) {
        width: 461px;
        min-height: 371px;
      }
    }
  }

  h4 {
    display: block !important;
  }
}
