.controller.about {
  h4 {
    margin-top: 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid $light-300;
    .btn {
      margin-top: -0.3em;
    }
    .verification {
      color: $green-400;
      .gru-icon {
        background: url(/assets/gooru/images/icon-verified-green.svg) no-repeat center center;
        display: inline-block;
        height: 24px;
        width: 24px;
        vertical-align: text-bottom;
      }
    }
  }
  .panel {
    h6 {
      font-weight: normal;
      color: $dark-400;
      margin-top: 0;
    }
    p {
      font-size: $font-size-large;
      padding: 0 4px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &.role {
        text-transform: capitalize;
      }
    }
    .row {
      p {
        margin-bottom: 1em;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    h4 {
      margin-bottom: 0.6em;
      padding-bottom: 0.8em;
    }
  }
}
