.profile-courses {
  .category-menu {
    padding: 0;
  }

  .btn-category {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(flex-start);

    .active {
      -webkit-box-shadow: inset 0 -3px 0 $green-400;
      box-shadow: inset 0 -3px 0 $green-400;
    }

    span {
      color: $green-400;
    }
  }

  .course-content {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);

    .cards {
      margin: 5px;
    }

    .new-cards.gru-collection-card {
      .panel-heading {
        .collection-info {
          width: 58%;
        }
      }
    }

    .no-content {
      margin-top: 25px;

      .panel-body {
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(space-between);

        p {
          margin-left: 5px;
        }
      }
    }
  }
}
