.user-proficiency {
  display: flex;

  .gru-pull-out {
    top: 63px;
    height: calc(100vh - 63px);

    .pull-out-less-content-container {
      .pull-out-content {
        padding: 0;
      }
    }
  }

  .panel {
    box-shadow: 2px -1px 4px 0 rgba(0, 0, 0, 0.1);
    min-height: 550.3px;
    background-color: $white;
    border-radius: 4px;
    margin-top: 10px;
  }

  .panel-header {
    display: flex;
    border-bottom: solid 1px $light-400;
    height: 55px;

    .title {
      width: 52%;
      color: $gray-29;
      text-transform: capitalize;
      line-height: 55px;

      &.course {
        width: 77%;
      }
    }

    .toggle-chart-view {
      width: 24%;
      display: flex;
      line-height: 55px;

      .text {
        width: 56%;
        font-size: 16px;
        color: $gray-29;
      }

      .gru-toggle-button {
        margin-top: 22px;
        margin-left: 8px;
      }
    }

    .actions {
      .toggle-view {
        float: right;
        line-height: 55px;

        span {
          cursor: pointer;
          font-size: 12px;
          color: $gray-29;
          text-transform: uppercase;
          margin-right: 18px;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }

  .left-panel {
    width: 771px;

    .panel-header {
      .title {
        font-size: 20px;
        margin-left: 30px;
      }
    }
  }

  .right-panel {
    width: 240px;
    margin-left: 22.4px;

    .panel-header {
      .title {
        margin-left: 30px;
        font-size: 12px;
        font-weight: bold;
        color: $gray-29;
        text-transform: uppercase;
      }
    }
  }

  .proficiency-tags {
    .last-updated {
      text-align: center;
      margin-top: 15px;
      font-size: 12px;
    }

    .proficiency-legends {
      margin: 15px auto auto;
      display: flex;
      width: max-content;

      .legend {
        display: flex;
        margin-right: 30px;

        .box {
          display: block;
          width: 15.6px;
          height: 15.6px;
          transform: rotate(90deg);
          margin-right: 8.4px;
        }

        .box-baseline {
          width: 18px;
          height: 5px;
          margin-top: 4px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          margin-right: 8.4px;
        }

        .box-skyline {
          width: 18px;
          height: 10px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          margin-right: 8.4px;
        }

        .title {
          line-height: 13px;
          font-size: 12px;
          color: $elephant-dark;
        }

        &.mastered {
          .box {
            background-color: $blue-400;
          }
        }

        &.in-progress {
          .box {
            background-color: $in-progress;
          }
        }

        &.not-started {
          .box {
            background-color: $not-started;
          }
        }

        &.skyline {
          .box-skyline {
            background-color: $white;
          }
        }

        &.baseline {
          .box-baseline {
            background-color: $dark-400;
          }
        }
      }
    }
  }

  .spinner {
    position: absolute;
    left: 40%;
    z-index: 999;
  }
}
