<div class="panel panel-default no-results-found">
    <div class="panel-body">
        <div class="no-results-content">
            <span class="title">{{t "common.no-results"}}</span>
          {{gru-icon name="remove_circle_outline"}}
            <span class="message">{{t "common.no-results-message"}}</span>
        </div>
    </div>
</div>