<div class='container-desktop'>
    <div class="route-suggestions-container">
        <div class="col-xs-1 suggest-icon">
            {{gru-icon name="explore_outline"}}
        </div>
        <div class='suggest-sep'> </div>
        <div class='col-xs-11' >
            <span class='suggest-desc'>As per your competency profile, there are some competencies that you need to master so that you can do well in this
            course. We have a route that we recommend you take to master these competencies. Click here to see the details.
        </span>
        </div>
    </div>
</div>

<ol class="accordion-course" role="tablist" aria-multiselectable="true">
</ol>