<div class='container-desktop'>
    <div class="route-suggestions-container">
        <div class="route0-banner" data-toggle="collapse" data-target=".course-suggestion">
            <div class="col-xs-1 suggest-icon">
                {{gru-icon name="explore_outline"}}
            </div>
            <div class='suggest-sep'> </div>
            <div class='col-xs-11 route0-bannerdesc'>
                <span class='suggest-desc'>As per your competency profile, there are some competencies that you need to master so that you can do well
                    in this course. We have a route that we recommend you take to master these competencies. Click here to
                    see the details.
                </span>
            </div>
        </div>
        <div style="clear:both" class="course-suggestion" role="tablist" aria-multiselectable="true">
            <div class="detail-sep"></div>
            <div class="suggested-lessons">Suggested Lessons</div>
            <div class="created-by-kangoorus"> Created by Kangoorus </div>
            <div class="compet-container taxonomy gru-taxonomy-tag-list">
                {{#each taxonomyList as |taxonomyTag|}}
                    {{taxonomy.gru-taxonomy-tag model=taxonomyTag }}
                {{/each}}
            </div>
            <div class='route-compgraph'></div>
            <ol>
                <li>
                    <div>Unit 1</div>
                    <div class='suggest-sep'> </div>
                    <div> Unit Title </div>
                </li>
                <li>
                    <div>Unit 1</div>
                    <div class='suggest-sep'> </div>
                    <div> Unit Title </div>
                </li>
            </ol>
        </div>
    </div>
</div>