<div class='container-desktop'>
      <div class="route-suggestions-container">
            {{class.overview.course-suggestions model=route0 index=index routeSuggestAction=routeSuggestAction isPlayer=isEnablePlayer         onStudyNow=onStudyNow
 }}
      </div>
</div>