<div class='container-desktop'>
    <div class="route-suggestions-container">
      {{class.overview.course-suggestions model=route0 class=class course=course index=index routeSuggestAction=routeSuggestAction isPlayer=true         onStudyNow=onStudyNow
 }}
    </div>
</div>       