.content_assessments_edit .app-container,
.content_collections_edit .app-container,
.content_courses_edit .app-container,
.content_questions_edit .app-container,
.content_resources_edit .app-container {
  padding-left: 0;
  padding-right: 0;

  > .controller {
    display: block;
  }
}

.controller.content.assessments.edit,
.controller.content.collections.edit,
.controller.content.courses.edit,
.controller.content.questions.edit,
.controller.content.resources.edit {
  $aside-padding: 30px;

  @include flexbox();

  > article {
    @include flex();
    padding-bottom: 50px;

    > header {

      background-color: $dark-400;
      padding: 20px 20px 0 5%;

      h1, nav > a {
        color: $white;
        display: inline-block;
      }

      h1 {
        font-size: $font-size-h3;
        margin: 0;
      }

      button.toggle {
        float: right;
        color: $white;
        border: 0 none;
        background-color: $dark-400;
        padding: 20px 15px 0;
      }

      .actions {
        float: right;
        margin-top: 5px;

        .btn-icon {
          padding: 5px 8px;

          > i {
            font-size: $font-size-h5;
          }
        }
      }

      nav {
        padding-top: 15px;

        a {
          vertical-align: middle;
          opacity: 0.6;
          font-size: $font-size-h6;
          padding: 5px 10px;
          margin-right: 20px;
          border-bottom: 3px solid $dark-400;

          &.selected {
            opacity: 1;
            border-bottom-color: $white;
          }
        }
      }
    }

    > section {
      padding-left: 5%;
      padding-right: 5%;

      h2 {
        display: inline-block;
        font-size: $font-size-h4;
        padding: 0;
        margin: 0;
        line-height: 34px; // height of the buttons
      }

      h3 {
        font-size: $font-size-large;
      }

      .header {
        border-bottom: 1px solid $gray-light;
        margin-bottom: 25px;
        padding: 40px 0 20px;

        .detail {
          float: right;

          > span {
            display: inline-block;
            padding-right: 20px;
            border-right: 1px solid $gray-light;
            line-height: 2.2;
          }
          .actions {
            display: inline-block;
            padding-left: 20px;

            button {
              font-size: 24px;
              line-height: 1;
              padding: 5px 7px;
            }
          }
        }
      }

      .panel {
        margin-bottom: 0;
      }
    }
  }

  > aside {
    background-color: $white;
    width: 260px;
    padding: $aside-padding 0 0 $aside-padding;

    > div {
      position: fixed;
      padding-right: $aside-padding;

      h4 {
        color: $gray;
      }
    }
  }

  #information {

    .header {
      .actions {
        float: right;
      }
    }

    .content {

      @media(min-width: $screen-sm) {
        @include flexbox();
      }

      .image {
        width: 190px;
        height: 210px;

        @media(min-width: $screen-sm) {
          float: left;
          margin-right: 20px;
        }

        .upload-image{
          background-color: $dark-300;
          width: inherit;
          height: inherit;
          border-radius: 6px;
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          i{
            font-size: 62px;
            color:$dark-400;
          }
        }
        button{
          position: relative;
          top: -34px;
          background-color:$dark-400;
          width: 100%;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }

      .panel {
        border-radius: 6px;

        @media(min-width: $screen-sm) {
          @include flex();
        }
        .panel-body{
          .title{
            > *{
              margin: 8px 0;
            }
            input{
              width: 50%;
              outline: 0;
            }
            input,.title{
              display: block;
            }
            .title{
              font-size: $font-size-large;
            }
          }
          .subject{
            > *{
              margin: 8px 0;
            }
            button{
              display: block;
            }
            .subjects{
              button{
                display:inline-block;
              }
            }
          }
        }
        .subject{
          .btn-empty{
            border:1px solid $gray-light;
            background-color: $white;
          }
        }
      }
    }
  }

  #builder {
    .add-item {
      padding-top: 10px;

      a {
        display: block;
        border: 2px dashed $gray-light;
        padding: 20px;
        border-radius: 6px;
        font-size: $font-size-large;
        color: $gray;
        text-align: center;
      }
    }
  }

  &.fixed-header {
    > article {
      > header {
        padding-top: 5px;
        position: fixed;

        h1 {
          display: none;
        }

        nav {
          padding-top: 10px;
        }
      }
    }

    #information {
      padding-top: 115px;
    }

    #settings{
      .panel{
        border-radius: 6px;
        .panel-heading{
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          background-color: $white;
          padding: 10px 25px 0px 25px;
          h3{
            padding-bottom: 20px;
            border-bottom: 1px solid $gray-light;
          }
        }
        .panel-body{
          padding: 0 25px 25px 25px;
        }
        i{
          vertical-align: middle;
        }
        .setting-content{
          margin-top: 10px;
          .icon, .description{
            margin-right:10px;
          }
        }
      }
    }
  }
}
