.content_assessments_edit .app-container,
.content_collections_edit .app-container,
.content_courses_edit .app-container,
.content_questions_edit .app-container,
.content_resources_edit .app-container {
  padding-left: 0;
  padding-right: 0;

  > .controller {
    display: block;
  }
}

.controller.content.assessments.edit,
.controller.content.collections.edit,
.controller.content.courses.edit,
.controller.content.questions.edit,
.controller.content.resources.edit {
  $information-padding: 30px;
  $aside-padding: 30px;

  h2{
    font-size: $font-size-h4;
    padding-bottom: 25px;
    margin-bottom: 0px;
  }
  h3{
    font-size: $font-size-large;
  }
  div.header{
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 25px;
  }
  @include flexbox();

  > article {
    @include flex();

    > header {

      background-color: $dark-400;
      padding: 20px 20px 0 5%;

      h1, nav > a {
        color: $white;
        display: inline-block;
      }

      h1 {
        font-size: $font-size-h3;
        margin: 0;
      }

      button.toggle {
        float: right;
        color: $white;
        border: 0 none;
        background-color: $dark-400;
        padding: 20px 15px 0;
      }

      .actions {
        float: right;
        margin-top: 5px;

        .btn-icon {
          padding: 5px 8px;

          > i {
            font-size: $font-size-h5;
          }
        }
      }

      nav {
        padding-top: 15px;

        a {
          vertical-align: middle;
          opacity: 0.6;
          font-size: $font-size-h6;
          padding: 5px 10px;
          margin-right: 20px;
          border-bottom: 3px solid $dark-400;

          &.selected {
            opacity: 1;
            border-bottom-color: $white;
          }
        }
      }
    }

    > section {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  > aside {
    background-color: $white;
    width: 260px;
    padding: $aside-padding 0 0 $aside-padding;

    > div {
      position: fixed;
      padding-right: $aside-padding;

      h4 {
        color: $gray;
      }
    }
  }

  #information {
    padding-top: $information-padding;
    padding-bottom: $information-padding;;
    .header{
      h2{
        display: inline-block;
      }
      .edit-buttons{
        display: inline-block;
        float: right;
        margin: 20px 10px 0 0;
      }
    }
    .edit-information-content{
      > * {
        margin: 0 10px;
      }
      .course-thumbnail{
        display: inline-block;
        width: 191px;
        height: 189px;
        border-radius: 4%;
      }
      .panel{
        border-radius: 6px;
        display: inline-block;
        width: 74%;

        .panel-body{
          .title-section{
            > *{
              margin: 8px 0;
            }
            input{
              width: 50%;
              outline: 0;
            }
            input,.title{
              display: block;
            }
            .title{
              font-size: $font-size-large;
            }
          }
          .category{
            > *{
              margin: 12px 0;
            }
          }
          .subject{
            > *{
              margin: 8px 0;
            }
            button{
              display: block;
            }
            .subjects{
              button{
                display:inline-block;
              }
            }
          }
          .audience-section{
            > *{
              margin: 8px 0;
            }
            span.audience{
              display: block;
            }
          }
        }
        .category,.subject{
          .btn-empty{
            border:1px solid $gray-light;
            background-color: $white;
          }
        }
      }
    }
  }

  &.fixed-header {
    > article {
      > header {
        padding-top: 5px;
        position: fixed;

        h1 {
          display: none;
        }

        nav {
          padding-top: 10px;
        }
      }
    }

    #information {
      padding-top: $information-padding + 115px;
    }
    #settings{
      .panel{
        border-radius: 6px;
        .panel-heading{
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          background-color: $white;
          padding: 10px 25px 0px 25px;
          h3{
            padding-bottom: 20px;
            border-bottom: 1px solid $gray-lighter;
          }
        }
        .panel-body{
          padding: 0 25px 25px 25px;
        }
        i{
          vertical-align: middle;
        }
        .setting-content{
          margin-top: 10px;
          .icon, .description{
            margin-right:10px;
          }
        }
      }
    }
  }
}
