.gru-performance-table {
  width: inherit;

  .table {
    margin: 0;
    width: auto;
    font-size: $font-size-h6;
    background: $white;
    -webkit-box-shadow: 0px 3px 6px 1px rgba(203,204,208,1);
    -moz-box-shadow: 0px 3px 6px 1px rgba(203,204,208,1);
    box-shadow: 0px 3px 6px 1px rgba(203,204,208,1);
    border-top: 2px solid $white;
    display: table-cell;

    thead {
      background-color: $performance-table-header;
      tr {
        th {
          border: 0;
          vertical-align: top;
          padding: 5px 0 0 10px;
          height: 32px;
          width: 180px;
          a, i {
            color: $white;
            vertical-align: top;
            font-weight: normal;
          }
          &:first-child {
            padding: 5px 17px;
          }
          &.score {
            width: 75px;
          }
          &.completion {
            width: 112px;
          }
          &.study-time {
            width: 115px;
          }
        }
      }
    }
    tbody {
      tr {
        td, th {
          border: 0;
          height: 37px;
          padding: 5px 0 0 10px;
        }
        th {
          border-right: 2px solid $light-300;
          padding: 2px 17px;
          font-weight: normal;
        }
        &:nth-of-type(odd) {
          background-color: $light-100;
        }
        &:first-child {
          border-bottom: 2px solid $light-300;
          background-color: $white;
          th {
            font-size: $font-size-large;
          }
        }
      }
    }
  }
}

