<h1>{{course.title}}</h1>

<div class="actions">
  <button class="btn btn-default performance btn-default">{{t "gru-course-play.performance"}}</button>
</div>

<nav>
  <div class="left">
    <a href="#">
      <span>&lt;&lt;{{t "gru-course-play.view-course-details"}}</span>
    </a>
  </div>
  <div class="right">
    <a href="#">
      <span>{{t "gru-course-play.view-course-details"}}&gt;&gt;</span>
    </a>
  </div>
</nav>