.student.gru-performance-courses{
  .item {
    height: 25px;
    input[type="radio"] {
      &:checked {
        &:after {
          border-color: $blue-400;
        }
      }
      &:before {
        width: 15px;
        height: 15px;
      }
      &:after {
        border-color: $light-500;
        width: 15px;
        height: 15px;
      }
    }
  }
}
