<div class="controller class-management">
  <br>
  <div class="row">
    <div class="col-md-4">
      <h5>{{t "teacher-landing.class.class-management-tab.class-information"}}</h5>
      <div class="panel">
        <div class="panel-body">
          <!--  -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5>{{t "teacher-landing.class.class-management-tab.course-information"}}</h5>
      <div class="panel">
        <div class="panel-body">
          <!--  -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5>{{t "teacher-landing.class.class-management-tab.teachers"}}</h5>
      <div class="panel">
        <div class="panel-body">
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
