<div class="controller teacher class class-activities">
  <div class="today">
    {{t "teacher-landing.class.class-activities-tab.today"}}
  </div>

  <ol class="collections">
    {{#each classActivities as |classActivity|}}
      {{class.gru-class-activity-panel
        classActivity=classActivity
        onGoLive='goLive'
        onChangeVisibility='changeVisibility'
      }}
    {{else}}
      <li class="no-content">{{t "common.contentUnavailable"}}</li>
    {{/each}}
  </ol>
</div>
