.charts.gru-x-bar-chart {
  background: $white;
  border-radius: 4px;
  height: 28px;
  width: 100%;
  .segment {
    height: 100%;
    float: $tab-float-dir;
    &:first-child {
      border-radius: 4px;
    }
    &.full {
      max-width: 100%;
      &:last-child {
        border-radius: 4px;
      }
    }
  }
}
