.monthly-time-series-chart {

  svg {
    width: 700px;
    height: 65px;
  }
  .axis path,
  .axis line{
    fill: none;
    stroke: $charcoal-grey;
  }

  .line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
  }

  circle {
    fill: $soft-blue;
    stroke: white;
    stroke-width: 3px;
  }
  .tick {
    cursor: pointer;
    text{
      font-size: 10px;
      text-transform: uppercase;
      color: $charcoal-grey;
      opacity: 0.8;
      font-weight: bold;
    }
    &.gray-out {
      opacity: 0.5 !important;
      cursor: default;
      pointer-events: none;
    }
  }

}
