.controller.student.class.class-activities {
  padding: 0;
  margin: 35px 0 0;

  .today {
    background-color: $white;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    color: $gray-base;
    font-size: $font-size-lead;
    height: 52px;
    padding: 8px 0 0 15px;
  }

  .collections {
    margin-top: 1px;
    padding: 0;
    .gru-student-class-activity-panel {
      box-shadow: none;
      margin: 0;
    }
  }

  .no-content {
    color: $gray-dove;
    font-size: $font-size-lead;
    text-align: center;
  }
  .no-contentfont {
    width: 100% !important;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
  }
  .no-content-image {
    background-image: url(gooru/no-dca-student.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 240px;
    margin: 40px auto 0;
  }
}
