.student.course-map {
  .actions {
    display: inline-block;
    text-align: $menu-float-dir;
    float: $menu-float-dir;
    font-size: $font-size-base;
    margin: -23px 0 0;
    height: 24px;
    button {
      padding: 0 10px 0 7px;
      i {
        color: $white;
        font-size: $font-size-h5;
        width: 18px;
      }
      &.locate {
        background-color: $green-400;
        width: 35px;
        height: 35px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 0 0 0 40px;
        i {
          margin: 0 3px 0 0;
          font-size: $font-size-large;
        }
      }
    }
    .min-score {
      margin-right: 5px;
      vertical-align: text-bottom;
      i {
        background: url("gooru/trophy.png");
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  }
  .gru-accordion {
    clear: both;
    .panel-heading {
      padding: 0;
      margin: 0;
      background-color: $white;
      height: 67px;
      &.study-active {
        -webkit-box-shadow: 0px 0px 11px 3px rgba(75, 151, 65, 1);
        -moz-box-shadow: 0px 0px 11px 3px rgba(75, 151, 65, 1);
        box-shadow: 0px 0px 11px 3px rgba(75, 151, 65, 1);
        z-index: 9;
        .info {
          .btn.study-now {
            width: 58px;
            i {
              font-size: $font-size-anonymous;
              color: $green-400;
            }
          }
        }
      }
    }
    .gru-accordion-lesson {
      height: 67px;
      &.expanded {
        height: auto;
      }
    }

    .c496fefd-90b8-45a1-81a5-026f709e6157 {
      display: none;
    }
  }

  .rescope-section {
    .rescope-toggle {
      .action {
        display: flex;
        padding: 18px 0 8px 0;
        span {
          font-size: 15px;
          color: $gray-base;
        }
        .gru-toggle-button {
          margin-top: 7px;
        }
      }
      .info {
        color: $bluish-gray;
        font-style: italic;
      }
    }

    .custom-msg {
      margin-top: 15px;
      width: 960px;
      height: 62px;
      border-radius: 4px;
      background-color: $white;
      padding: 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
      display: flex;
      span {
        opacity: 0.5;
        color: $gray-base;
        font-style: italic;
        i {
          margin-left: 115px;
        }
      }
    }
  }

  .rescoped-content {
    .panel-heading {
      .panel-title {
        opacity: 0.3;
        font-style: italic;
      }
    }
  }
}
