.student.course-map {
  .actions {
    display: inline-block;
    text-align: right;
    float: right;
    font-size: $font-size-base;
    margin: -23px 0 0;
    height: 24px;
    button {
      padding: 0 10px 0 7px;
      i {
        color: $white;
        font-size: $font-size-h5;
        width: 18px;
      }
      &.locate {
        background-color: $green-400;
        width: 35px;
        height: 35px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 0 0 0 40px;
        i {
          margin: 0 3px 0 0;
          font-size: $font-size-large;
        }
      }
    }
    .min-score {
      margin-right: 5px;
      vertical-align: text-bottom;
      i {
        background: url("gooru/trophy.png");
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  }
  .gru-accordion {
    clear: both;
    .panel-heading {
      padding: 0;
      margin: 0;
      background-color: $white;
      height: 67px;
      &.study-active {
        -webkit-box-shadow: 0px 0px 11px 3px rgba(75, 151, 65, 1);
        -moz-box-shadow: 0px 0px 11px 3px rgba(75, 151, 65, 1);
        box-shadow: 0px 0px 11px 3px rgba(75, 151, 65, 1);
        z-index: 9;
        .info {
          .btn.study-now {
            width: 58px;
            i {
              font-size: $font-size-anonymous;
              color: $green-400;
            }
          }
        }
      }
    }
    .gru-accordion-lesson {
      height: 67px;
      &.expanded {
        height: auto;
      }
    }
  }
}
