<div class="controller content collections edit">

  {{content.collections.gru-collection-edit collection=collection allowBackToCourse=allowBackToCourse course=course isEditing=isEditing tempCollection=tempCollection editingContent=editingContent centurySkills=centurySkills}}

  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      {{{t "content.collections.edit.best-practices"}}}
    </div>
  </aside>
</div>
