<div class="controller content collections edit">

  {{content.collections.gru-collection-edit collection=collection }}

  <aside class="hidden-sm">
    <div>
      <h4>{{t "common.best-practices"}}</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet enim accumsan, volutpat sapien ut,
        rhoncus neque. Sed porta nibh non maximus rutrum. Morbi placerat finibus erat, sit amet condimentum ante
        faucibus
        in. Donec sed augue sit amet mi scelerisque consequat quis sed massa. Integer iaculis ultricies feugiat. Nullam
        ac
        est sed nisi rutrum semper.</p>
    </div>
  </aside>
</div>
