.library.gru-browse-library{
  height: 100%;
  margin: 0;
  padding: 0;
  @include flexbox();
  @include flex-direction(column);
  .header.content.gru-header{
    @include flex-shrink(0);
    header{
      background-color: $light-100;
    }
    nav{
      .tab{
        color: $green-300;
        border-bottom: 3px solid $green-300;
      }
    }
  }
  > #featured-libraries{
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto;
  }
}
