<div class="controller content courses play">

  {{content.courses.gru-course-play course=course isOwner=isOwner }}

  <aside class="hidden-sm">
    <div>
      <h4>Aside Placeholder</h4>
    </div>
  </aside>
</div>
