<div class="controller analytics-performance-teacher-collection">
  {{ reports.gru-class-assessment-report
  assessment=collection
  students=students
  reportData=reportData
  anonymous=anonymous
  isRealTime=false
  }}
</div>
