<div class="controller analytics-performance-teacher-course">
{{class.analytics.performance.teacher.gru-metrics-table
  headers=headers
  performanceDataMatrix=performanceDataMatrix
  dataPickerOptions=selectedOptions
  onNavigation="navigateToUnits"}}
</div>