<div class="controller analytics-performance-teacher-course">
{{class.analytics.performance.teacher.gru-metrics-table
  headers=units
  performanceDataMatrix=performanceDataMatrix
  dataPickerOptions=selectedOptions
  onNavigation="navigateToUnits"
  headerType= "unit"
}}
</div>