<div class="controller analytics-performance-teacher-lesson">
  {{class.analytics.performance.teacher.gru-metrics-table
    headers=collections
    performanceDataMatrix=performanceDataMatrix
    dataPickerOptions=selectedOptions
    onNavigation="navigateToCollection"
    onClickScore="navigateToReport"
    headerType= "collection"
  }}
</div>

