<div class="controller analytics-performance-teacher-lesson">
{{class.analytics.performance.teacher.gru-metrics-table
  headers=headers
  performanceDataMatrix=performanceDataMatrix
  dataPickerOptions=selectedOptions
  onNavigation="navigateToAssessments"
  headerType= "collection"
}}
</div>

