<div class="controller analytics-performance-teacher-unit">
{{class.analytics.performance.teacher.gru-metrics-table
  headers=lessons
  performanceDataMatrix=performanceDataMatrix
  dataPickerOptions=selectedOptions
  onNavigation="navigateToLessons"
  headerType= "lesson"
}}
</div>