.gru-pdf-resource {
  height: 100%;
  width: 100%;
  position:relative;
  -webkit-overflow-scrolling: touch;
    .pdf-container {
      height: calc(100% + 1px);
      iframe {
        width: 100%;
        border: 0 none;
      }
    }

}
