.gru-class-navigation {
  .md-design,
  .sm-design,
  .xs-design {
    display: none;
  }
  .class-info {
    padding: 0 15px;
    h3 {
      color: $color-gray-secondary;
    }
    .greetings-description {
      font-size: 12px;
      margin: 0 0 0 15px;
    }
  }
  .class-menu {
    margin: 30px 0 0 0;
    border-top: solid 1px $color-gray-lighter-3;
    li {
      border: none;
      text-align: center;
      cursor: pointer;
    }
    li.selected {
      background-color: $color-gray-lighter-6;
    }
  }

  .sm-design,
  .xs-design
  {
    .class-info {
      padding-right: 0;
      height: 43px;
      h3, div {
        float: left;
        margin: 0;
        padding: 13px 10px 0 0;
        z-index: 2;
        line-height: 14px;
      }
      i {
        padding: 0 5px 0 0;
      }
      .greetings {
        cursor: pointer;
      }
      .drop-menu {
        float: right;
        padding: 0;
        .btn {
          border-radius: inherit;
          background-color: $color-gray-lighter-6;
          padding: 6px 10px 6px 6px;
          height: 43px;
          font-size: 18px;
          width: 35px;
        }
        .dropdown-toggle {
          padding-left: 0;
          background: url("gooru/landingpageSprite.png") no-repeat $color-gray-lighter-6;
          background-position: -95px -23px;
          background-size: 185px;
        }
        .dropdown-menu {
          border: none;
          border-radius: inherit;
          background-color: $color-gray-lighter-6;
          margin: 0;
          right: 0;
          left: inherit;
          font-size: 18px;
          padding: 10px 0;
          min-width: 175px;
          li {
            padding: 5px;
            margin: 0 10px;
            font-size: 12px;
            cursor: pointer;
            i {
              padding-right: 10px;
              width: 35px;
              text-align: center;
            }
          }
          li.selected {
            background-color: $color-gray-lighter-9;
          }
        }
      }
      .drop-menu.open {
        .dropdown-toggle {
          box-shadow: none;
          background-position: -135px -23px;
        }
      }
    }
    .description {
      display: inline-block;
      position: relative;
      background: $color-gray-lighter-8;
      color: $color-white;
      text-decoration: none;
      padding: 20px;
      font-size: 14px;
    }
    .description:after {
      content: '';
      display: block;
      position: absolute;
      right: 12%;
      bottom: 100%;
      width: 0;
      height: 0;
      border-bottom: 8px solid $color-gray-lighter-8;
      border-top: 8px solid transparent;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      z-index: 0;
    }
  }

  .sm-design {
    h3 {
      width: 55%;
      padding: 11px 10px 0 0;
    }
    .active-dates {
      font-size: 12px;
      width: 23%;
    }
    .active-dates {
      font-size: 12px;
      width: 23%;
    }
    .members {
      width: 7%;
    }
    .greetings {
      width: 4%;
    }
  }

  .xs-design {
    .class-info {
      height: 44px;
      border-bottom: 1px solid $color-gray-lighter-3;
      h3 {
        width: 70%;
        padding: 11px 10px 0 0;
      }
      .active-dates {
        font-size: 12px;
        width: 85%;
      }
      .members {
        width: 15%;
        float: right;
        text-align: right;
      }
      .greetings {
        width: 7%;
        padding-right: 0;
        text-align: right;
      }
    }
    .description:after {
      right: 20%;
    }
  }
}
