.gru-class-navigation {
  .md-design,
  .sm-design,
  .xs-design {
    display: none;
  }
  .class-info {
    padding: 0 15px;
    h3 {
      color: $color-gray-secondary;
    }
    .greetings-description {
      font-size: 12px;
      margin: 0 0 0 15px;
    }
  }
  .class-menu {
    margin: 30px 0 0 0;
    border-top: solid 1px $color-gray-lighter-3;
    li {
      border: none;
      text-align: center;
      cursor: pointer;
    }
    li.selected {
      background-color: $color-gray-lighter-6;
    }
  }

  .sm-design,
  .xs-design
  {
    .class-info {
      padding-right: 0;
      height: 43px;
      border-bottom: 1px solid $color-gray-lighter-3;
      h3, div {
        float: left;
        margin: 0;
        padding: 13px 10px 0 0;
        z-index: 2;
      }
      i {
        padding: 0 5px 0 0;
      }
      .drop-menu {
        float: right;
        padding: 0;
        .btn {
          border-radius: inherit;
          background-color: $color-gray-lighter-6;
          padding: 6px 10px 6px 6px;
          height: 43px;
          font-size: 18px;
        }
        .dropdown-toggle {
          padding-left: 0;
        }
      }
    }
    .description {
      display: inline-block;
      position: relative;
      background: $color-gray-lighter-8;
      color: $color-white;
      text-decoration: none;
      padding: 20px;
      font-size: 14px;
    }
    .description:after {
      content: '';
      display: block;
      position: absolute;
      right: 12%;
      bottom: 100%;
      width: 0;
      height: 0;
      border-bottom: 8px solid $color-gray-lighter-8;
      border-top: 8px solid transparent;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      z-index: 0;
    }
  }

  .sm-design {
    h3 {
      width: 55%;
      padding: 11px 10px 0 0;
    }
    .active-dates {
      font-size: 12px;
      width: 23%;
    }
    .active-dates {
      font-size: 12px;
      width: 23%;
    }
    .members {
      width: 7%;
    }
    .greetings {
      width: 4%;
    }
  }

  .xs-design {
    .class-info {
      height: 44px;
      h3 {
        width: 71%;
        padding: 11px 10px 0 0;
      }
      .active-dates {
        font-size: 12px;
        width: 85%;
      }
      .members {
        width: 15%;
        float: right;
        text-align: right;
      }
      .greetings {
        width: 10%;
        text-align: right;
      }
    }
    .description:after {
      right: 20%;
    }
  }
}
