.gru-class-navbar {
  position: absolute;
  top: 63px;
  left: 0;
  width: 100%;

  .panel {
    height: 51px;
    width: 100%;
  }

  .nav-body {
    margin: auto;

    .add-info {
      display: inline-block;
      word-wrap: break-word;
      //width: 90px;
      vertical-align: text-bottom;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      .add-info {
        display: none;
      }
    }

    @media (min-width: 1025px) and (max-width: 1280px) {
      //width: 960px;
      add-info: {
        display: inline-block;
      }
    }

    @media (min-width: 1281px) {
      //width: 960px;
      add-info: {
        display: inline-block;
      }
    }

    /* 
          ##Device = Tablets, Ipads (landscape)
          ##Screen = B/w 768px to 1024px
        */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      //width: 960px;
      add-info: {
        display: inline-block;
      }
    }

    /* 
          ##Device = Low Resolution Tablets, Mobiles (Landscape)
          ##Screen = B/w 481px to 767px
        */

    @media (min-width: 481px) and (max-width: 767px) {
      .add-info {
        display: none;
      }
    }

    /* 
          ##Device = Most of the Smartphones Mobiles (Portrait)
          ##Screen = B/w 320px to 479px
        */

    @media (min-width: 320px) and (max-width: 480px) {
      .add-info {
        display: none;
      }
    }
  }

  /* @media (min-width: $screen-sm) {
      display: block;
      .add-info{
        display: none;
      }
    } */

  ul.nav-pills,
  ul.nav-bar {
    .nav-item {
      border-left: $border-right-side $light-200;
      border-right: $border-left-side $light-200;
    }

    li {
      &.divider {
        border-left: 1px solid $panel-default-border;
        height: 50px;
      }

      height: 43px;

      &.vactive {
        display: block;
        color: $blue-400;

        a {
          color: $blue-400;
        }
      }

      a {
        color: $gray-base;
        > img {
          vertical-align: baseline;
        }
      }

      @media (min-width: $screen-sm) {
        display: block;
      }

      @media (max-width: $screen-xs-max) {
        .charts.gru-performance-chart {
          display: none;
        }
      }

      /*  &.class-activities > a:hover,
      &.class-activities > a.vactive {
        // img {
        //   display: block;
        // }
      } */

      .class-title {
        padding: 5px;
      }
    }
  }

  .navbar-right {
    margin-right: 0px;
  }

  .charts.gru-performance-chart {
    min-width: 59px;

    > .container-box {
      height: 51px;
    }
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: $white;

    //color: $blue-400; // sunken effect
  }

  ul.navbar-nav > li.class-info {
    > a {
      border-radius: 3px;
      padding: 10px 15px;
    }
  }
} //nav-body

div.teacher.class {
  div.header.clearfix {
    margin-top: 55px;

    > div.go-back-container {
      display: none;
    }
  }
}

.hide-classroom-information {
  display: none;
}

.controller.teacher.class.course-map {
  margin-top: 50px !important;
}

.start-tour {
  display: none;
}
