.gru-class-activity-panel {
  &:hover {
    .dca-panel-container {
      .dca-panel-actions-performance {
        .dca-panel-actions {
          .dca-add {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s linear;
          }
        }
      }
    }
  }

  .dca-panel-container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 60% 15% 25%;
    height: 45px;
    border-bottom: solid 1px #cacaca;
    transition: background-color 2s linear;

    &.new {
      background-color: #ffc107ad;
    }

    .dca-panel-info {
      width: 100%;
      display: inline-grid;
      grid-template-columns: 65px 1fr;
      align-items: center;

      .collection-icon {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-image: url("../assets/gooru/images/add_collection.svg");
        opacity: 0.8;
        justify-self: center;
      }

      .assessment-external-icon,
      .assessment-icon {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-image: url("../assets/gooru/images/add_assessment.svg");
        opacity: 0.8;
        justify-self: center;
      }

      p {
        margin: 0;
        cursor: pointer;
        font-family: "Open Sans";
        color: #4a4a4a;
        padding: 0 20px 0 0;
        @include ellipsis(
          $font-size: 15px,
          $line-height: 1.5,
          $lines-to-show: 1
        );
      }
    }

    .dca-content-counts {
      display: inline-flex;
      align-items: center;
      justify-content: space-evenly;

      .resource-count {
        width: 40px;
        display: inline-grid;
        align-items: center;
        grid-template-columns: 50% 50%;
        justify-items: center;

        .resource-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-image: url("../assets/gooru/images/add_resource_icon.svg");
          opacity: 0.8;
        }
      }

      .question-count {
        width: 40px;
        display: inline-grid;
        align-items: center;
        grid-template-columns: 50% 50%;
        justify-items: center;

        .question-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-image: url("../assets/gooru/images/add_question.svg");
          opacity: 0.8;
        }
      }

      .external-icon {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-image: url("../assets/gooru/share.png");
      }
    }

    .dca-panel-actions-performance {
      display: inline-grid;
      grid-template-columns: 1fr 53px;
      align-items: center;

      .dca-panel-actions {
        display: inline-flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: flex-end;

        .dca-add {
          height: 19px;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s 0.5s, opacity 0.5s linear;
          cursor: pointer;

          .add {
            font-size: 20px;
          }
        }

        .rubric-icon {
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          background-size: 25px 25px;
          background-image: url("../assets/gooru/images/rubric-green.svg");
          margin-left: 5px;
          margin-right: 5px;
        }

        .remove-dca {
          width: 20px;
          height: 22px;
          margin-left: 5px;
          margin-right: 5px;
          cursor: pointer;
        }

        .golive-icon {
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          background-size: 25px 25px;
          background-image: url("../assets/gooru/on-air-icon.png");
          cursor: pointer;
          margin-left: 5px;
          margin-right: 5px;
        }

        .dca-assign {
          width: 40px;
          display: inline-block;
          height: 25px;
          margin-left: 5px;
          margin-right: 5px;

          .gru-switch {
            padding: 0;

            &.assigned {
              pointer-events: none;
            }

            .toggle.btn {
              width: 40px !important;
              height: 20px !important;
              border-radius: 20px;

              .toggle-group {
                .toggle-handle,
                .toggle-off,
                .toggle-on {
                  border-radius: 20px;
                }

                .toggle-on {
                  left: -13px;
                  font-style: italic;
                  font-size: $font-size-xxsmall;
                  line-height: 4px !important;
                }

                .toggle-off {
                  left: 33px;
                  font-style: italic;
                  line-height: 4px !important;
                  font-size: $font-size-xxsmall;
                }

                .toggle-handle {
                  top: -5px;
                  left: -2px;
                }
              }

              &.off {
                .toggle-group {
                  .toggle-handle {
                    left: 2px;
                  }
                }
              }
            }
          }
        }
      }

      .dca-panel-performance {
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 15px;

        .no-performance {
          color: #37424b;
          pointer-events: none;
        }
      }
    }
  }
}
