<div class="controller overview">
  <div class="fixed">
    <div class="overview-header">
      <div>
        <h5>{{t "class.overview.title"}}</h5>
      </div>
      <div class="locate-me">
        <button class="btn btn-default">
          {{t "class.overview.locate"}}
        </button>
      </div>
    </div>
  </div>

  {{class.overview.gru-accordion-course currentClass=currentClass }}

</div>