<div class="controller overview">
  <div class="fixed">
    <div class="overview-header">
      <div>
        <h5>{{t "class.overview.title"}}</h5>
      </div>
      {{#if classController.isStudent}}
        <button class="btn btn-default locate">
          {{t "class.overview.locate"}}
        </button>
      {{/if}}
    </div>
  </div>

  {{class.overview.gru-accordion-course
    currentClass=class
  onSelectItem="playItem"
  userLocation=userLocation
  location=location }}

</div>