<br/>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-center-block">
      <textarea id="request-body" rows="10" cols="80"></textarea>
      <button class="btn btn-primary" {{action "doRequest"}}>Do Request</button>
    </div>
  </div>

</div>
