<div class="gooru">
  {{app-header
    onAuthenticateAction="onAuthenticate"
    onInvalidateSessionAction="onInvalidateSession"
    onCloseModalAction="onCloseModal"
    onSearchAction="onSearch"}}
    <div class="container-fluid app-container ma-top-25">
      {{outlet}}
    </div>
  {{app-footer}}
</div>

{{gru-modal}}