<div class="gooru">
  {{app-header onAuthenticateAction="onAuthenticate" user=me model=model}}

    <div class="container-fluid app-container" >
      {{outlet}}
    </div>
  {{app-footer}}


</div>

