<div class="gooru">
  {{app-header
    currentSession=model.currentSession
    onAuthenticateAction="onAuthenticate"
    onInvalidateSessionAction="onInvalidateSession"
    onCloseModalAction="onCloseModal"
    onSearchAction="onSearch"}}
    <div class="container-fluid app-container" >
      {{outlet}}
    </div>
  {{app-footer}}
</div>

