<div class="gooru">
  {{app-header model=model onAuthenticateAction="onAuthenticate"}}

    <div class="container-fluid app-container" >
        <div class="container">
          {{outlet}}
        </div>
    </div>
  {{app-footer}}


</div>

