<div class="gooru">
  {{app-header onAuthenticateAction="onAuthenticate" user=me}}

    <div class="container-fluid app-container" >
        <div class="container">
          {{outlet}}
        </div>
    </div>
  {{app-footer}}


</div>

