<div class="gooru">
  {{gru-header
    term=term
    onLogout="logout"
    onSearch="searchTerm"}}
    <div class="container-fluid app-container">
      {{outlet}}
    </div>
  {{gru-footer}}
</div>

{{gru-modal}}