<div class="controller class row ">
  <div class="navigation {{if isFullScreen 'hide' 'show'}}">
    {{class.gru-class-navigation
      class=class
      onItemSelected="selectMenuItem"
      selectedMenuItem=menuItem
    }}
  </div>
  <div class="content {{if isFullScreen 'full-screen'}}">
    {{outlet}}
  </div>
</div>
