<div class="controller class context-player player">
  {{player.gru-assessment-confirmator
    direction=assessmentDirection
    attempts=assessmentAttempts
    title=assessmentTitle
    onStart='startAssessment'
    onCancel='closePlayer'}}
    <button type="button" name="button"{{action 'closePlayer'}}></button>
  {{#if showContent}}
    {{partial 'partials/player'}}
  {{/if}}
</div>
