<div class="controller class context-player player">
  {{#if isAssessment}}
    {{player.gru-assessment-confirmator
      bidirectional=collection.bidirectional
      attempts=collection.attempts
      title=collection.title
      onStart='startAssessment'
      onCancel='closePlayer'}}
  {{/if}}
  {{#if showContent}}
    {{partial 'partials/player'}}
  {{/if}}
</div>
