<div class="controller featured row">
  <div class="header">
    <h1>{{t "featured.featured-title"}}</h1>
    <p class="lead">{{t "featured.featured-description"}}</p>
  </div>
  {{gru-featured-courses courses=courses onRemixCourse="remixCourse"}}
</div>
