<div class="row">
    <div class="col-md-12">
        {{#app-modal id="login-modal" title=(t "common.myClasses") footer=true hidden=false}}
          {{sign-in-form onAuthenticate="onAuthenticate"}}
        {{/app-modal}}
        <button type="button" data-toggle="modal" data-target="#login-modal > .modal">Launch modal</button>
    </div>
    <h1>Welcome</h1>
</div>


