<section class="index">
  <div class="row hero">
    <div class="col-md-12">
      <h1>{{t "index.joinUs"}}</h1>
    </div>
  </div>
   <div class="row free_and_open vertical-align-col">
        <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-6 ">
          <div>
              <h1>{{t "index.freeAndOpen"}}</h1>
          </div>
         </div>
        <div class="col-md-5 col-sm-6 vertical-align-col">
          <div class="free_and_open_descrip">
            <p>{{t "index.freeAndOpenDescription"}}</p>
          </div>
        </div>
   </div>
</section>


