<div class="libraries">
  {{content.gru-header options=options selected=selected}}
  {{#if (eq selected 'featured-courses')}}
    <div id="featured-courses">
      {{library.gru-browse-library courses=courses onBookmarkCourse='onBookmarkCourse'}}
    </div>
  {{/if}}
  {{#if (eq selected 'other-libraries')}}
    <div id="other-libraries">
    </div>
  {{/if}}
</div>
