<div class="libraries">
  {{content.gru-header options=options selected=selected}}
  {{#if (eq selected 'browse-library')}}
      <div id="browse-library">
          {{library.gru-browse-library}}
      </div>
  {{/if}}
</div>

