<div class="main" role="main">
  {{player.gru-navigation onClosePlayer="closePlayer"}}
  {{player.gru-viewer resource=resource}}
</div>
<div class="aside">
  {{player.gru-navigator collection=collection selectedResourceId=resource.id onItemSelected="selectNavigatorItem"}}
</div>

