<div class="main" role="main">
  {{player.gru-navigation}}
  {{player.gru-viewer resource=resource}}
</div>
<div class="aside">
  {{player.gru-navigator collection=collection onItemSelected=selectNavigatorItem}}
</div>

