<div class="main" role="main">
  {{player.gru-navigation
    onClosePlayer="closePlayer"
    onOpenNavigator="openNavigator"}}

  {{player.gru-viewer
    resource=resource
    collection=collection
    onSubmitQuestion="submitQuestion"}}
</div>
<div class="aside">
  {{player.gru-navigator
    collection=collection
    selectedResourceId=resourceId
    onItemSelected="selectNavigatorItem"
    onCloseNavigator="closeNavigator"
  }}
</div>

