<div class="main" role="main">
  {{player.gru-navigation onCloseContentPlayer="closeContentPlayer"}}
  {{player.gru-viewer resource=resource}}
</div>
<div class="aside">
  {{player.gru-navigator collection=collection onItemSelected="selectNavigatorItem"}}
</div>

