{{player.gru-study-header
  classId=classId
  collection=collection
  courseId=course.id
  courseTitle=course.title
  resource=resource
  resourceSequence=resource.sequence
  collectionUrl=collectionUrl
  courseVersion=courseVersion
  showBackToCourseMap=showBackToCourseMap
  showBackToCollection=showBackToCollection
  steps=steps
}}
<div class="player-container">
    <div class="player">
      <div class="qz-main" role="main">
        {{#if isDone}}
          {{player.gru-player-done classId=classId}}
        {{else}}
          {{partial 'partials/qz-resource-player'}}
        {{/if}}
      </div>
    </div>
</div>
