{{player.gru-study-header
  classId=classId
  collection=collection
  courseId=course.id
  courseTitle=course.title
  resource=resource
  resourceSequence=resource.sequence
  breadcrumbs=breadcrumbs
  collectionUrl=collectionUrl
  courseVersion=courseVersion
}}
<div class="resource-player">
  {{#if isDone}}
    {{player.gru-player-done classId=classId}}
  {{else}}
    {{partial 'partials/qz-resource-player'}}
  {{/if}}
</div>
