<div class="search">
  <div class="filters row">
    {{search-filter
    standards=standards
    onFilterType="filterType"
    term=term
    selectedCollectionType=collectionType}}
  </div>
  <div class="content">
    {{outlet}}
  </div>
</div>

