{{player.gru-study-header
classId=classId
collection=collection
courseId=course.id
courseTitle=course.title
resourceSequence=resource.sequence
actualResource=resource
isExternalAssessment=true
courseVersion=courseVersion
showBackToCourseMap=showBackToCourseMap
showBackToCollection=showBackToCollection
steps=steps
}}
<div class="player-container  external-assessment">
  <div class="player">
    {{player.gru-external-assessment-page
      assessment=collection
      mapLocation=mapLocation
      source=source
      isNewPlayer=isNewPlayer
    }}
  </div>
  <div class="footer">
    {{player.gru-external-assessment-footer
      assessment=collection
      playNext="playNext"
      isFullScreen=isFullScreen
      onToggleScreen="onToggleScreen"
    }}
  </div>
</div>
