<h1>Framework Components</h1>

{{gru-bubbles bubbleOptions=bubbleOptions onBubbleSelect='bubbleOptionSelected'}}

{{gru-switch switchOptions=switchOptions onOptionSwitch='optionSwitch'}}

{{charts.gru-pie-chart pieData=pieData width=100 height=100}}

{{charts.gru-bubble-chart scorePercentage='80%' backgroundColor='#00e100'}}
